<HEAD></HEAD>
<BODY>
<DIV role=main id=content class=mw-body>
<H1 id=firstHeading class="firstHeading mw-first-heading">&nbsp;</H1></DIV>
<DL>
<DT>Affirming the consequent 
<DD>All dogs are animals. 
<DD>Coco is an animal. 
<DD>Therefore, Coco is a dog.</DD></DL>
<DL>
<DT>Denying the antecedent 
<DD>All cats are animals. 
<DD>Missy is not a cat. 
<DD>Therefore, Missy is not an animal.</DD></DL>
<P>A logical <A title=Argument href="https://en.wikipedia.org/wiki/Argument">argument</A>, seen as an <A title="Ordered set" class=mw-redirect href="https://en.wikipedia.org/wiki/Ordered_set">ordered set</A> of sentences, has a logical form that <A title=Compositionality class=mw-redirect href="https://en.wikipedia.org/wiki/Compositionality">derives</A> from the form of its constituent sentences; the logical form of an argument is sometimes called argument form.<SUP id=cite_ref-BeallBeall2009_6-0 class=reference><A href="https://en.wikipedia.org/wiki/Logical_form#cite_note-BeallBeall2009-6"><FONT size=3>[6]</FONT></A></SUP> Some authors only define logical form with respect to whole arguments, as the <A title="Schema (logic)" class=mw-redirect href="https://en.wikipedia.org/wiki/Schema_(logic)">schemata</A> or inferential structure of the argument.<SUP id=cite_ref-Tomassi1999_7-0 class=reference><A href="https://en.wikipedia.org/wiki/Logical_form#cite_note-Tomassi1999-7"><FONT size=3>[7]</FONT></A></SUP> In <A title="Argumentation theory" href="https://en.wikipedia.org/wiki/Argumentation_theory">argumentation theory</A> or <A title="Informal logic" href="https://en.wikipedia.org/wiki/Informal_logic">informal logic</A>, an argument form is sometimes seen as a broader notion than the logical form.<SUP id=cite_ref-Pinto2001_8-0 class=reference><A href="https://en.wikipedia.org/wiki/Logical_form#cite_note-Pinto2001-8"><FONT size=3>[8]</FONT></A></SUP> </P>
<P>It consists of stripping out all spurious grammatical features from the sentence (such as gender, and passive forms), and replacing all the expressions specific to <I>the subject matter</I> of the argument by <A title="Schematic variable" class=mw-redirect href="https://en.wikipedia.org/wiki/Schematic_variable">schematic variables</A>. Thus, for example, the expression "all A's are B's" shows the logical form which is common to the sentences "all men are mortals," "all cats are carnivores," "all Greeks are philosophers," and so on. </P>
<H2><SPAN id=Logical_form_in_modern_logic class=mw-headline>Logical form in modern logic</SPAN></H2>
<P>The fundamental difference between modern formal logic and traditional, or Aristotelian logic, lies in their differing analysis of the logical form of the sentences they treat: </P>
<UL>
<LI>On the traditional view, the form of the sentence consists of (1) a subject (e.g., "man") plus a sign of quantity ("all" or "some" or "no"); (2) the <A title="Copula (linguistics)" href="https://en.wikipedia.org/wiki/Copula_(linguistics)">copula</A>, which is of the form "is" or "is not"; (3) a predicate (e.g., "mortal"). Thus: "all men are mortal." The logical constants such as "all", "no," and so on, plus sentential connectives such as "and" and "or," were called <A title=Syncategorematic class=mw-redirect href="https://en.wikipedia.org/wiki/Syncategorematic">syncategorematic</A> terms (from the Greek <I>kategorei</I> &#8211; to predicate, and <I>syn</I> &#8211; together with). This is a fixed scheme, where each judgment has a specific quantity and copula, determining the logical form of the sentence. 
<LI>The modern view is more complex, since a single judgement of Aristotle's system involves two or more logical connectives. For example, the sentence "All men are mortal" involves, in term logic, two non-logical terms "is a man" (here <I>M</I>) and "is mortal" (here <I>D</I>): the sentence is given by the judgement <I>A(M,D)</I>. In <A title="Predicate logic" class=mw-redirect href="https://en.wikipedia.org/wiki/Predicate_logic">predicate logic</A>, the sentence involves the same two non-logical concepts, here analyzed as <SPAN class=mwe-math-element><SPAN class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="DISPLAY: none"><?XML:NAMESPACE PREFIX = "[default] http://www.w3.org/1998/Math/MathML" NS = "http://www.w3.org/1998/Math/MathML" /><math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle m(x)}"><semantics><mrow class=MJX-TeXAtom-ORD><mstyle scriptlevel="0" displaystyle="true"><mi>m</mi> <mo stretchy="false">(</mo> <mi>x</mi> <mo stretchy="false">)</mo> </mstyle></mrow><annotation encoding="application/x-tex">{\displaystyle m(x)}</annotation> </semantics></math></SPAN><img aria-hidden=true class=mwe-math-fallback-image-inline style="HEIGHT: 2.84ex; WIDTH: 5.17ex; VERTICAL-ALIGN: -0.83ex" alt=m(x) src="https://wikimedia.org/api/rest_v1/media/math/render/svg/7426128eeeea7766bd61d64cf1d13c3b18dd9138"></SPAN> and <SPAN class=mwe-math-element><SPAN class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="DISPLAY: none"><math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle d(x)}"><semantics><mrow class=MJX-TeXAtom-ORD><mstyle scriptlevel="0" displaystyle="true"><mi>d</mi> <mo stretchy="false">(</mo> <mi>x</mi> <mo stretchy="false">)</mo> </mstyle></mrow><annotation encoding="application/x-tex">{\displaystyle d(x)}</annotation> </semantics></math></SPAN><img aria-hidden=true class=mwe-math-fallback-image-inline style="HEIGHT: 2.84ex; WIDTH: 4.35ex; VERTICAL-ALIGN: -0.83ex" alt=d(x) src="https://wikimedia.org/api/rest_v1/media/math/render/svg/c74c31c749da4bca087f03265cda1e09b0f26cb7"></SPAN>, and the sentence is given by <SPAN class=mwe-math-element><SPAN class="mwe-math-mathml-inline mwe-math-mathml-a11y" style="DISPLAY: none"><math xmlns="http://www.w3.org/1998/Math/MathML" alttext="{\displaystyle \forall x(m(x)\rightarrow d(x))}"><semantics><mrow class=MJX-TeXAtom-ORD><mstyle scriptlevel="0" displaystyle="true"><mi mathvariant="normal">&#8704;</mi> <mi>x</mi> <mo stretchy="false">(</mo> <mi>m</mi> <mo stretchy="false">(</mo> <mi>x</mi> <mo stretchy="false">)</mo> <mo stretchy="false">&#8594;</mo> <mi>d</mi> <mo stretchy="false">(</mo> <mi>x</mi> <mo stretchy="false">)</mo> <mo stretchy="false">)</mo> </mstyle></mrow><annotation encoding="application/x-tex">{\displaystyle \forall x(m(x)\rightarrow d(x))}</annotation> </semantics></math></SPAN><img aria-hidden=true class=mwe-math-fallback-image-inline style="HEIGHT: 2.84ex; WIDTH: 17.58ex; VERTICAL-ALIGN: -0.83ex" alt="{\displaystyle \forall x(m(x)\rightarrow d(x))}" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/a959e96bebcd8fa91a037a397093e5722813cc46"></SPAN>, involving the logical connectives for <A title="Universal quantification" href="https://en.wikipedia.org/wiki/Universal_quantification">universal quantification</A> and <A title="Material conditional" href="https://en.wikipedia.org/wiki/Material_conditional">implication</A>.</LI></UL>
<P>The more complex modern view comes with more power. On the modern view, the fundamental form of a simple sentence is given by a recursive schema, like natural language and involving <A title="Logical connective" href="https://en.wikipedia.org/wiki/Logical_connective">logical connectives</A>, which are joined by juxtaposition to other sentences, which in turn may have logical structure. Medieval logicians recognized the <A title="Problem of multiple generality" href="https://en.wikipedia.org/wiki/Problem_of_multiple_generality">problem of multiple generality</A>, where Aristotelian logic is unable to satisfactorily render such sentences as "some guys have all the luck," because both quantities "all" and "some" may be relevant in an inference, but the fixed scheme that Aristotle used allows only one to govern the inference. Just as linguists recognize recursive structure in natural languages, it appears that logic needs recursive structure. </P>
<H2><SPAN id=Logical_forms_in_natural_language_processing class=mw-headline>Logical forms in natural language processing</SPAN></H2>
<P>In <A title="Semantic parsing" href="https://en.wikipedia.org/wiki/Semantic_parsing">semantic parsing</A>, statements in natural languages are converted into logical forms that represent their meanings.<SUP id=cite_ref-Ovchinnikova2012_9-0 class=reference><A href="https://en.wikipedia.org/wiki/Logical_form#cite_note-Ovchinnikova2012-9"><FONT size=3>[9]</FONT></A></SUP> </P>
<H2><SPAN id=See_also class=mw-headline>See also</SPAN></H2>
<UL>
<LI><A title="Argument map" href="https://en.wikipedia.org/wiki/Argument_map">Argument map</A> 
<LI><A title=Fallacy href="https://en.wikipedia.org/wiki/Fallacy">Fallacy</A></LI></UL>
<DL>
<DD>
<UL>
<LI><A title="Formal fallacy" href="https://en.wikipedia.org/wiki/Formal_fallacy">Logical fallacy</A> 
<LI><A title="Informal fallacy" href="https://en.wikipedia.org/wiki/Informal_fallacy">Informal fallacy</A></LI></UL></DD></DL>
<UL>
<LI><A title="Categorial grammar" href="https://en.wikipedia.org/wiki/Categorial_grammar">Categorial grammar</A> 
<LI><A title="Sense and reference" href="https://en.wikipedia.org/wiki/Sense_and_reference">Sense and reference</A> 
<LI><A title="Analytic&#8211;synthetic distinction" href="https://en.wikipedia.org/wiki/Analytic%E2%80%93synthetic_distinction">Analytic&#8211;synthetic distinction</A> 
<LI><A title="List of valid argument forms" href="https://en.wikipedia.org/wiki/List_of_valid_argument_forms">List of valid argument forms</A></LI></UL></BODY>