<STRONG><FONT color=blue>: </FONT></STRONG>Shift+Ctrl+key</SPAN>
<H2></H2>
<UL>
<LI><SPAN class=extract>Shift+Ctrl+Up arrow: Increase the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Priority" data-hasqtip="103" oldtitle="Glossary:Priority">priority</A> of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="104" oldtitle="Glossary:Element">element</A> 
<UL>
<LI>For <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" data-hasqtip="105" oldtitle="Glossary:Topic">topics</A>: it will decrease the current value of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:A-Factor" data-hasqtip="106" oldtitle="Glossary:A-Factor">A-Factor</A></LI></UL></SPAN>~
<LI>Shift+Ctrl+Down arrow: Decrease the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Priority" data-hasqtip="107" oldtitle="Glossary:Priority">priority</A> of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="108" oldtitle="Glossary:Element">element</A> 
<UL>
<LI>For topics: it will increase the current value of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:A-Factor" data-hasqtip="109" oldtitle="Glossary:A-Factor">A-Factor</A></LI></UL>
<LI>Shift+Ctrl+Enter 
<UL>
<LI>in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A> or in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>: <B>Done</B> (i.e. <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Dismiss" data-hasqtip="110" oldtitle="Glossary:Dismiss">dismiss</A> or delete an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="111" oldtitle="Glossary:Element">element</A> that has been processed and is no longer needed) 
<LI>in the <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A>: display selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry_member" data-hasqtip="112" oldtitle="Glossary:Registry member">registry members</A> in a separate <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry_subset" data-hasqtip="113" oldtitle="Glossary:Registry subset">subset</A> 
<LI>in the <A title="Tasklist manager" href="https://help.supermemo.org/wiki/Tasklist_manager">tasklist manager</A>: go to the currently selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Task" data-hasqtip="114" oldtitle="Glossary:Task">task</A> 
<LI>in the <B><A title=Plan href="https://help.supermemo.org/wiki/Plan">Plan</A></B>: terminate the schedule at the selected activity</LI></UL>
<LI>Shift+Ctrl+Del: in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>: Delete the currently displayed <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="115" oldtitle="Glossary:Element">element</A> 
<LI>Shift+Ctrl+F2: <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Impose template</B> 
<LI>Shift+Ctrl+F5: <B>Save as default</B> (window <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Layout" data-hasqtip="116" oldtitle="Glossary:Layout">layout</A>) 
<LI>Shift+Ctrl+F6: View source code of HTML and RTF files (in HTML and rich edit <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" data-hasqtip="117" oldtitle="Glossary:Component">components</A>) 
<LI>Shift+Ctrl+F7: Clear a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Read-point" data-hasqtip="118" oldtitle="Glossary:Read-point">read-point</A> 
<LI>Shift+Ctrl+F8: Process image 
<LI>Shift+Ctrl+F11: randomize the content of the <A title=Browser href="https://help.supermemo.org/wiki/Browser">element browser</A> 
<LI>Shift+Ctrl+F12: Convert formatted text (in HTML and rich edit <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" data-hasqtip="119" oldtitle="Glossary:Component">components</A>) to plain text 
<LI>Shift+Ctrl+1: <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Text">Text</A>&nbsp;: Convert&nbsp;: Parse HTML</B> (on the HTML <A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu">component menu</A>) 
<LI>Shift+Ctrl+A 
<UL>
<LI><A title="Web import" href="https://help.supermemo.org/wiki/Web_import">Import web pages or pictures</A> from the currently running instances of Internet Explorer 
<LI>in <B><A title=Plan href="https://help.supermemo.org/wiki/Plan">Plan</A></B>: archive the current schedule</LI></UL>
<LI>Shift+Ctrl+B 
<UL>
<LI>in the <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A>: Open a <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A> with all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="120" oldtitle="Glossary:Element">elements</A> that use any of the selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry_member" data-hasqtip="121" oldtitle="Glossary:Registry member">members of the registry</A> 
<LI>in the <A title="Tasklist manager" href="https://help.supermemo.org/wiki/Tasklist_manager">tasklist manager</A>: Browse all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Task" data-hasqtip="122" oldtitle="Glossary:Task">tasks</A> in a given <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Tasklist" data-hasqtip="123" oldtitle="Glossary:Tasklist">tasklist</A> 
<LI>in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A> and in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>: Compute statistics for a selected set of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="124" oldtitle="Glossary:Element">elements</A> 
<LI>in web imports: <B>Browse duplicates</B></LI></UL>
<LI>Shift+Ctrl+C: <B><A title="File menu" href="https://help.supermemo.org/wiki/File_menu">File</A>&nbsp;: <A title="File menu" href="https://help.supermemo.org/wiki/File_menu#Copy_collection">Copy collection</A></B> (e.g. for backup purposes) 
<LI>Shift+Ctrl+D: Add to <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Final_drill" data-hasqtip="125" oldtitle="Glossary:Final drill">final drill</A> 
<LI>Shift+Ctrl+E 
<UL>
<LI>in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>: Send <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="126" oldtitle="Glossary:Element">element</A>, files, or extract via e-mail 
<LI>in <B><A title=Plan href="https://help.supermemo.org/wiki/Plan">Plan</A></B>: Define activities that should be used in <B><A title=Plan href="https://help.supermemo.org/wiki/Plan">Plan</A></B> on different days</LI></UL>
<LI>Shift+Ctrl+F: Link registry font (in text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" data-hasqtip="127" oldtitle="Glossary:Component">components</A>) 
<LI>Shift+Ctrl+G: <B>Hide SuperMemo</B> and put it to the system tray/notification area 
<LI>Shift+Ctrl+H: Display <A title="Repetition history" href="https://help.supermemo.org/wiki/Repetition_history">repetition history</A> for the currently displayed <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="128" oldtitle="Glossary:Element">element</A> in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A> 
<LI>Shift+Ctrl+I: <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Reading">Reading</A>&nbsp;: Ignore</B> 
<LI>Shift+Ctrl+J: <B>Later today</B>, i.e. schedule the review of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="129" oldtitle="Glossary:Element">element</A> later today 
<LI>Shift+Ctrl+K: Link registry member 
<LI>Shift+Ctrl+L 
<UL>
<LI>when editing HTML: Add a bullet to the currently edited text 
<LI>in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>: <B>Review all</B> 
<LI>in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>: <B>Review all</B></LI></UL>
<LI>Shift+Ctrl+M 
<UL>
<LI>in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>: Change the look of an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="130" oldtitle="Glossary:Element">element</A> with a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" data-hasqtip="131" oldtitle="Glossary:Template">template</A> 
<LI>in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>: Apply a selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" data-hasqtip="132" oldtitle="Glossary:Template">template</A> to the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="133" oldtitle="Glossary:Element">elements</A> of a selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Branch" data-hasqtip="134" oldtitle="Glossary:Branch">branch</A> 
<LI>in a <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>: Merge browser <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="135" oldtitle="Glossary:Element">elements</A> with <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" data-hasqtip="136" oldtitle="Glossary:Template">template</A></LI></UL>
<LI>Shift+Ctrl+O: Edit component order 
<LI>Shift+Ctrl+P: Edit <B><A title="Element parameters" href="https://help.supermemo.org/wiki/Element_parameters">Element parameters</A></B> 
<LI>Shift+Ctrl+Q: Change the way in which the picture is stretched in the image <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" data-hasqtip="137" oldtitle="Glossary:Component">component</A> 
<LI>Shift+Ctrl+R: <B>Execute repetition</B>, i.e. execute a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Mid-interval_repetition" data-hasqtip="138" oldtitle="Glossary:Mid-interval repetition">mid-interval repetition</A> before its scheduled repetition date 
<LI>Shift+Ctrl+S 
<UL>
<LI>in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>: Swap question with answer 
<LI>in the <B><A title=Plan href="https://help.supermemo.org/wiki/Plan">Plan</A></B>: save the schedule template for daily execution</LI></UL>
<LI>Shift+Ctrl+T 
<UL>
<LI>in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>: transfer the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="139" oldtitle="Glossary:Element">element</A> to another <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" data-hasqtip="140" oldtitle="Glossary:Collection">collection</A> 
<LI>in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>: replicate a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Branch" data-hasqtip="141" oldtitle="Glossary:Branch">branch</A> by transferring copies of its <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="142" oldtitle="Glossary:Element">elements</A> to another <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" data-hasqtip="143" oldtitle="Glossary:Collection">collection</A></LI></UL>
<LI>Shift+Ctrl+U: <B>View source</B> data of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="144" oldtitle="Glossary:Element">element</A> (i.e. without the applied <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" data-hasqtip="145" oldtitle="Glossary:Template">template</A>) 
<LI>Shift+Ctrl+V: Move current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="146" oldtitle="Glossary:Element">element</A> to a selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Branch" data-hasqtip="147" oldtitle="Glossary:Branch">branch</A> of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Knowledge_tree" data-hasqtip="148" oldtitle="Glossary:Knowledge tree">knowledge tree</A> (<B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Edit">Edit</A>&nbsp;: Move</B>) 
<LI>Shift+Ctrl+W: Import from <A class="external text" href="http://en.wikipedia.org/">Wikipedia</A> 
<LI>Shift+Ctrl+X: Display the <B>Ancestors</B> window with the position of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="149" oldtitle="Glossary:Element">element</A> in the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Knowledge_tree" data-hasqtip="150" oldtitle="Glossary:Knowledge tree">knowledge tree</A> 
<LI>Shift+Ctrl+Y: Import from <A class="external text" href="http://youtube.com/">YouTube</A> 
<LI>Shift+Ctrl+Space: in the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Presentation_mode" data-hasqtip="151" oldtitle="Glossary:Presentation mode">presentation mode</A>, resume <A title="Subset learning" href="https://help.supermemo.org/wiki/Subset_learning">subset learning</A></LI></UL>
<H2><SPAN id=Ctrl+Alt+key></SPAN><SPAN id=Ctrl.2BAlt.2Bkey></SPAN></H2>