<DIV id=pdf-element-title>Engineering Mechanics_ Statics &amp; Dynamics (2015, Pearson).pdf (710:0 -&gt; 724:4402)</DIV>
<DIV id=pdf-element-filename>Engineering Mechanics_ Statics &amp; Dynamics (2015, Pearson).pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MzQsIlNQIjo3MDksIkVQIjo3MjMsIlNJIjowLCJFSSI6NDQwMiwiUERGRSI6W10sIlNNRSI6W10sIlNNSUUiOltdLCJJSCI6W10sIlJQZyI6NzA4LCJSUHQiOiItOTUuMjUsNjI0IiwiRUYiOjEsIlBERkV4dHJhY3RQcmlvcml0eSI6MC4wLCJTTUV4dHJhY3RQcmlvcml0eSI6MC4wLCJWTSI6MiwiUE0iOjAsIlBNRSI6dHJ1ZSwiWiI6MS4wMDAwNDUwNn0=</DIV><SPAN>