Any object in your surroundings can be put together, whether, it'd an attachment to your own body or an extension of two seperate bodies. Blue joints attach to other blue joints, and orange solar panels connect to orange solar panels (more colors later for repulsion)
<P></P>
<P>The parts can also come off of enemies, and that is also part of battles. Connecting your orange panel to another for attratino then pull or push the enemy to manuever them, pull their parts, ride them, hide, etc etc. It's up to your imagination (add more to list here)</P>
<P>More on this battle style will be discussed in the fighting/battle section.</P>
<P>(expand on this.)