﻿<DIV id=pdf-element-title>Confidence Intervals for the Mean.pdf</DIV>
<DIV id=pdf-element-filename>Confidence Intervals for the Mean.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MjE4LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />