﻿<DIV id=pdf-element-title>More on Confidence Intervals.pdf</DIV>
<DIV id=pdf-element-filename>More on Confidence Intervals.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MjE5LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />