﻿<DIV id=pdf-element-title>Testing Hypotheses - Essentials.pdf</DIV>
<DIV id=pdf-element-filename>Testing Hypotheses - Essentials.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MjIwLCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />