<strong><font color="blue"> : </font></strong><H2 id=appendix><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#appendix"></A>Appendix</H2>
<DIV class=sectionbody>
<DIV class=sect2>