<strong><font color="blue"> : </font></strong><H3 id=code-style-conventions><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#code-style-conventions"></A>Code Style Conventions</H3>
<DIV class=paragraph>
<P>These are the code style conventions used in this specification to define the API.</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Conventions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Enumerants and defines are all upper case with words separated by an underscore.</P></LI>
<LI>
<P>Neither type, function or member names contain underscores.</P></LI>
<LI>
<P>Structure members start with a lower case character and each consecutive word starts with a capital.</P></LI>
<LI>
<P>A structure that has a pointer to an array includes a structure member named <CODE>fooCount</CODE> of type <CODE>uint32_t</CODE> to denote the number of elements in the array of <CODE>foo</CODE>.</P></LI>
<LI>
<P>A structure that has a pointer to an array lists the <CODE>fooCount</CODE> member first and then the array pointer.</P></LI>
<LI>
<P>Unless a negative value has a clearly defined meaning all <CODE>fooCount</CODE> variables are unsigned.</P></LI>
<LI>
<P>Function parameters that are modified are always listed last.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>Prefixes are used in the API to denote specific semantic meaning of names, or as a label to avoid name clashes, and are explained here:</P></DIV>
<TABLE class="tableblock frame-all grid-all stretch">
<COLGROUP>
<COL style="WIDTH: 50%">
<COL style="WIDTH: 50%"></COLGROUP>
<THEAD>
<TR>
<TH class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">Prefix</TH>
<TH class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">Description</TH></TR></THEAD>
<TBODY>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock>Enumerants and defines are prefixed with these characters.</P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>Xr</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock>Non-function-pointer types are prefixed with these characters.</P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>xr</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock>Functions are prefixed with these characters.</P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>PFN_xr</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock>Function pointer types are prefixed with these characters.</P></TD></TR></TBODY></TABLE></DIV>
<DIV class=sect2>
<H3 id=applicationbinaryinterface><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#applicationbinaryinterface"></A>Application Binary Interface</H3>
<DIV class=paragraph>
<P>This section describes additional definitions and conventions that define the application binary interface.</P></DIV>
<DIV class=sect3>