<strong><font color="blue"> : </font></strong><H4 id=_overview><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_overview"></A>12.21.1. Overview</H4>
<DIV class=paragraph>
<P>This extension enables the use of the Vulkan graphics API in an OpenXR runtime. Without this extension, the OpenXR runtime may not be able to use any Vulkan swapchain images.</P></DIV>
<DIV class=paragraph>
<P>This extension provides the mechanisms necessary for an application to generate a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrGraphicsBindingVulkan2KHR">XrGraphicsBindingVulkan2KHR</A> structure in order to create a Vulkan-based <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A>.</P></DIV>
<DIV class=paragraph>
<P>This extension also provides mechanisms for the application to interact with images acquired by calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrEnumerateSwapchainImages">xrEnumerateSwapchainImages</A>.</P></DIV>
<DIV class=paragraph>
<P>In order to expose the structures, types, and functions of this extension, you <STRONG class=purple>must</STRONG> define <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_USE_GRAPHICS_API_VULKAN">XR_USE_GRAPHICS_API_VULKAN</A> before including the OpenXR platform header <CODE>openxr_platform.h</CODE>, in all portions of your library or application that include it.</P></DIV>
<DIV class="admonitionblock note">
<TABLE>
<TBODY>
<TR>
<TD class=icon><I title=Note class="fa icon-note"></I></TD>
<TD class=content>
<DIV class=title>Note</DIV>
<DIV class=paragraph>
<P>This extension is intended as an alternative to <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_KHR_vulkan_enable">XR_KHR_vulkan_enable</A></CODE>, and does not depend on it.</P></DIV></TD></TR></TBODY></TABLE></DIV></DIV>
<DIV class=sect3>
<H4 id=_initialization><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_initialization"></A>12.21.2. Initialization</H4>
<DIV class=paragraph>
<P>When operating in Vulkan mode, the OpenXR runtime and the application will share the Vulkan queue described in the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrGraphicsBindingVulkan2KHR">XrGraphicsBindingVulkan2KHR</A> structure. This section of the document describes the mechanisms this extension exposes to ensure the shared Vulkan queue is compatible with the runtime and the application&#8217;s requirements.</P></DIV>
<DIV class=sect4>