<strong><font color="blue"> : </font></strong><H1 lang=en id=firstHeading class=firstHeading>Keyboard shortcuts</H1>
<DIV id=bodyContent class=mw-body-content>
<DIV id=contentSub></DIV>
<DIV id=jump-to-nav></DIV><A class=mw-jump-link href="https://help.supermemo.org/wiki/Keyboard_shortcuts#mw-head">Jump to navigation</A> <A class=mw-jump-link href="https://help.supermemo.org/wiki/Keyboard_shortcuts#p-search">Jump to search</A> 
<DIV lang=en id=mw-content-text class=mw-content-ltr dir=ltr>
<DIV class=mw-parser-output>
<DIV id=toc class=toc>
<DIV lang=en class=toctitle dir=ltr>