<strong><font color="blue"> : </font></strong>Single keys</SPAN></H2>
<UL>
<LI>A: Edit the first answer 
<LI>E: Edit texts 
<LI>M 
<UL>
<LI>in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>: memorize an element</LI></UL>
<LI>Q: Edit the first question 
<LI>Del: Delete the currently displayed <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="7">element</A> (use <I>Shift+Ctrl+Del</I> when in the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Editing_mode" oldtitle="Glossary:Editing mode" data-hasqtip="8">editing mode</A>) 
<LI>Ins 
<UL>
<LI>in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>: insert <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="9">element</A> 
<LI>in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>: select or deselect the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="10">element</A> 
<LI>in the <A title=Plan href="https://help.supermemo.org/wiki/Plan">plan</A>: insert a new activity in the currently selected row</LI></UL>
<LI>Tab 
<UL>
<LI>in dialogs: move to the next button, checkbox, etc. 
<LI>in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>: move to the next <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="11">component</A> 
<LI>in the <A title="Tasklist manager" href="https://help.supermemo.org/wiki/Tasklist_manager">tasklist manager</A>: select a new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Tasklist" oldtitle="Glossary:Tasklist" data-hasqtip="12">tasklist</A></LI></UL>
<LI>Enter 
<UL>
<LI>in <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>: display the currently selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="13">element</A> in the <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A></LI></UL>
<LI>Esc 
<UL>
<LI>close the concept selection list</LI></UL></LI></UL>
<H2><SPAN id=Function_keys >