<strong><font color="blue"> : </font></strong>Function keys</SPAN></H2>
<UL>
<LI>F1: <A title="Menus, buttons, dialogs, etc." href="https://help.supermemo.org/wiki/Menus,_buttons,_dialogs,_etc.">Help</A> 
<LI>F2: <B><A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu">Toolkit</A>&nbsp;: <A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu#Memory">Memory</A>&nbsp;: Memory status</B> 
<LI>F3 
<UL>
<LI>in <A title="Element window" href="https://help.supermemo.org/wiki/Element_window">element window</A>, text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="14">components</A>: search for a string 
<LI>in <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>, <A title=Browser href="https://help.supermemo.org/wiki/Browser">element browser</A>, <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registries</A>, <A title="Tasklist manager" href="https://help.supermemo.org/wiki/Tasklist_manager">tasklist manager</A>: repeat last search</LI></UL>
<LI>F4: Open the <A title="Tasklist manager" href="https://help.supermemo.org/wiki/Tasklist_manager">tasklist manager</A> with the currently used <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Tasklist" oldtitle="Glossary:Tasklist" data-hasqtip="15">tasklist</A> 
<LI>F5: Apply <B>Warrior layout</B> without making it the default <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Layout" oldtitle="Glossary:Layout" data-hasqtip="16">layout</A> 
<LI>F6: 
<UL>
<LI>in HTML/RTF <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="17">component</A>, filter source (e.g. to remove formatting that makes <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Incremental_reading" oldtitle="Glossary:Incremental reading" data-hasqtip="18">incremental reading</A> difficult) 
<LI>in the <B><A title="File menu" href="https://help.supermemo.org/wiki/File_menu">File</A>&nbsp;: <A title="File menu" href="https://help.supermemo.org/wiki/File_menu#Open_collection">Open collection</A></B> dialog box, rename the currently selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="19">collection</A></LI></UL>
<LI>F7: <B><A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu">Toolkit</A>&nbsp;: <A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu#Memory">Memory</A>&nbsp;: <A title="Memory graphs (4D)" href="https://help.supermemo.org/wiki/Memory_graphs_(4D)">4D Graphs</A></B> 
<LI>F8: Not used consistently. It may show up in test, debug, or release versions in various contexts 
<LI>F9: View the file associated with the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="20">component</A>. For example, if you use MS Office, <I>F9</I> on rich text components will start editing your texts in MS Word, and <I>F9</I> on HTML components will use your default browser to view your HTML texts (see also: <I>Ctrl+F9</I> for editing files) 
<LI>F11 
<UL>
<LI>Random review in <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="21">collection</A>, branch of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Knowledge_tree" oldtitle="Glossary:Knowledge tree" data-hasqtip="22">knowledge tree</A>, or <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A> 
<LI>Random jump/pick in a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="23">registry</A> or <A title="Tasklist manager" href="https://help.supermemo.org/wiki/Tasklist_manager">tasklist manager</A></LI></UL>
<LI>F12: Sleep and learning timeline (<B><A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu">Toolkit</A>&nbsp;: <A title="Sleep Chart" href="https://help.supermemo.org/wiki/Sleep_Chart">Sleep Chart</A></B>)</LI></UL>
<H2><SPAN id=Shift+key></SPAN><SPAN id=Shift.2Bkey >