Shift+Ctrl+Up arrow: Increase the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Priority" oldtitle="Glossary:Priority" data-hasqtip="103">priority</A> of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="104">element</A> 
<UL>
<LI>For <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" oldtitle="Glossary:Topic" data-hasqtip="105">topics</A>: it will decrease the current value of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:A-Factor" oldtitle="Glossary:A-Factor" data-hasqtip="106">A-Factor</A></LI></UL>