<SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff">
<P><SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff"><SPAN class=clozed><SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff">Cofunction Identity</FONT></SPAN></SPAN></SPAN></SPAN>:</FONT></SPAN></SPAN></SPAN></P>
<P><SPAN class=clozed>csc(A)</SPAN> = <SPAN class=clozed>sec(90 - A)</SPAN></FONT></SPAN></SPAN></SPAN>