﻿<DIV id=pdf-element-title>Expectation and Variance.pdf</DIV>
<DIV id=pdf-element-filename>Expectation and Variance.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MjAyLCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />