<UL style='BOX-SIZING: border-box; FONT-SIZE: 16px; FONT-FAMILY: "Open Sans", Roboto, Helvetica, Arial, sans-serif; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(72,72,72); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 0px; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri><SPAN class=extract><FONT color=#000000 size=3 face=Calibri>If a function is always increasing on a given interval:</FONT> 
<UL style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%">
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The left Riemann sum will be an underestimate.</FONT> 
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The right Riemann sum will be an overestimate.</FONT></LI></UL></SPAN>~<FONT style="BACKGROUND-COLOR: #7be1e1"></FONT></FONT></LI></UL>
<UL style='BOX-SIZING: border-box; FONT-SIZE: 16px; FONT-FAMILY: "Open Sans", Roboto, Helvetica, Arial, sans-serif; WHITE-SPACE: normal; WORD-SPACING: 0px; TEXT-TRANSFORM: none; FONT-WEIGHT: 400; COLOR: rgb(72,72,72); FONT-STYLE: normal; ORPHANS: 2; WIDOWS: 2; LETTER-SPACING: normal; BACKGROUND-COLOR: rgb(255,255,255); TEXT-INDENT: 0px; -webkit-font-smoothing: antialiased; text-size-adjust: 100%; font-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial'>
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri><SPAN class=extract><FONT color=#000000 size=3 face=Calibri>If a function is always decreasing on a given interval:</FONT> 
<UL style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%">
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The left Riemann sum will be an overestimate.</FONT> 
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The right Riemann sum will be an underestimate.</FONT></LI></UL></SPAN>~<FONT style="BACKGROUND-COLOR: #7be1e1"></FONT></FONT></LI></UL>