Finding the<SPAN> <STRONG>Lower</STRONG> </SPAN>Sum: 
<P></P>
<P>To <SPAN class=cloze>[...](over or under estimate) </SPAN>a Riemann Sum, choose a x*i in [xi-1, xi] where f(x*i) has the <STRONG>lowest</STRONG> value.