<FONT color=#000000 size=3 face=Calibri>
<P><FONT color=#000000 size=3 face=Calibri>(Endpoint Estimations)</FONT></P></FONT>
<P><FONT color=#000000 size=3 face=Calibri>If a function is always <STRONG><U><SPAN class=cloze>[...](increasing or decreasing) </SPAN></U></STRONG>on a given interval:</FONT> </P>
<UL style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%">
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The <STRONG><U>left</U></STRONG> Riemann sum will be an <STRONG><U>overestimate</U></STRONG>.</FONT> 
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The <STRONG><U>right</U></STRONG> Riemann sum will be an <STRONG><U>underestimate</U></STRONG>.</FONT></LI></UL>