Finding the <SPAN>Upper</SPAN> Sum: 
<P></P>
<P>To <SPAN>overestimate</SPAN> a Riemann Sum, choose a <STRONG><SPAN>x*i</SPAN> </STRONG>in<STRONG> <SPAN>[xi-1, xi]</SPAN></STRONG> where <SPAN class=cloze>[...]</SPAN> has the <STRONG><SPAN>highest</SPAN> value</STRONG>.