Finding the <SPAN class=clozed>Upper</SPAN> Sum: 
<P></P>
<P>To <SPAN class=clozed>overestimate</SPAN> a Riemann Sum, choose a <SPAN class=clozed>x*i</SPAN> in <SPAN class=clozed>[xi-1, xi]</SPAN> where <SPAN class=clozed>f(x*i)</SPAN> has the <SPAN class=clozed>highest</SPAN> value.