<SPAN class=clozed>Pythagorean Identity</SPAN>: 
<P></P><SPAN class=clozed><SPAN class=clozed><SPAN class=clozed>1</SPAN> + <SPAN class=clozed>cot^2(x)</SPAN></SPAN></SPAN> = <SPAN class=clozed>csc^2(x)</SPAN>