<FONT size=4>Scrap&nbsp;Syncing&nbsp;- utilize&nbsp;robots' surroundings, extend their capabilities, and continue the flow of the world. </FONT>
<P></P>
<P><FONT size=4>Take advantage of the objects lying around the world to configure and build extensions&nbsp;that work best for your situation. Traversing the world requires you to think carefully about your options while battles make you think quick on your feet. You'll utilize your knowledge of the world as you progress. </FONT>
<P><FONT size=4>The following is an outline of Scrap Syncing, and how it works&nbsp;from complete basics to advanced tactics: </FONT>
<P><FONT size=4>Basics: </FONT>
<P><FONT size=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp; Grabbing&nbsp;- Techniques (grapple, etc),&nbsp;impact grab, field grab<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp; Linking&nbsp; - Runes, Circuiting, Transferring<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;Shielding / Solar Panel / Charging&nbsp;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp; Attacking&nbsp;- Poking, Tearing, Rusting, Stealing, etc&nbsp;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;Power Source - Heart (aka Node but only until later plot and for ease of understanding)&nbsp;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;Transformations (turning into the creature you defeated)&nbsp;<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;Commanding ('spells'&nbsp;&gt; controlling units)</FONT> 
<P><FONT size=4>Advanced:</FONT> 
<P><FONT size=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp; Tiling<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;Functions<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;Typed Commands<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;Blessings<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp;&nbsp;Divine Objects (God's Tears; Angel's Finger)</FONT></P>
<P><FONT size=4>Other:<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp; Molding</FONT></P>
<P><FONT size=4>Tactics/Techniques:</FONT></P>
<P><FONT size=4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -&nbsp; Divine Molding</FONT>