<H1 id=firstHeading class=firstHeading>Search menu</H1>
<DIV id=bodyContent>
<TABLE id=toc class=toc>
<TBODY>
<TR>
<TD>
<DIV id=toctitle>
<H2>Contents</H2></DIV>
<UL>
<LI class="toclevel-1 tocsection-1"><A href="https://super-memory.com/archive/help15/search.htm#Search_menu_items"><SPAN class=tocnumber>1</SPAN> <SPAN class=toctext>Search menu items</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-2"><A href="https://super-memory.com/archive/help15/search.htm#Find_elements"><SPAN class=tocnumber>1.1</SPAN> <SPAN class=toctext>Find elements</SPAN></A> 
<LI class="toclevel-2 tocsection-3"><A href="https://super-memory.com/archive/help15/search.htm#Find_texts"><SPAN class=tocnumber>1.2</SPAN> <SPAN class=toctext>Find texts</SPAN></A> 
<LI class="toclevel-2 tocsection-4"><A href="https://super-memory.com/archive/help15/search.htm#Find_string"><SPAN class=tocnumber>1.3</SPAN> <SPAN class=toctext>Find string</SPAN></A> 
<LI class="toclevel-2 tocsection-5"><A href="https://super-memory.com/archive/help15/search.htm#Find_selection"><SPAN class=tocnumber>1.4</SPAN> <SPAN class=toctext>Find selection</SPAN></A> 
<LI class="toclevel-2 tocsection-6"><A href="https://super-memory.com/archive/help15/search.htm#Search_and_replace"><SPAN class=tocnumber>1.5</SPAN> <SPAN class=toctext>Search and replace</SPAN></A> 
<LI class="toclevel-2 tocsection-7"><A href="https://super-memory.com/archive/help15/search.htm#Web_search"><SPAN class=tocnumber>1.6</SPAN> <SPAN class=toctext>Web search</SPAN></A> 
<LI class="toclevel-2 tocsection-8"><A href="https://super-memory.com/archive/help15/search.htm#Texts"><SPAN class=tocnumber>1.7</SPAN> <SPAN class=toctext>Texts</SPAN></A> 
<LI class="toclevel-2 tocsection-9"><A href="https://super-memory.com/archive/help15/search.htm#Lexicon"><SPAN class=tocnumber>1.8</SPAN> <SPAN class=toctext>Lexicon</SPAN></A> 
<LI class="toclevel-2 tocsection-10"><A href="https://super-memory.com/archive/help15/search.htm#Images"><SPAN class=tocnumber>1.9</SPAN> <SPAN class=toctext>Images</SPAN></A> 
<LI class="toclevel-2 tocsection-11"><A href="https://super-memory.com/archive/help15/search.htm#Sounds"><SPAN class=tocnumber>1.10</SPAN> <SPAN class=toctext>Sounds</SPAN></A> 
<LI class="toclevel-2 tocsection-12"><A href="https://super-memory.com/archive/help15/search.htm#Templates"><SPAN class=tocnumber>1.11</SPAN> <SPAN class=toctext>Templates</SPAN></A> 
<LI class="toclevel-2 tocsection-13"><A href="https://super-memory.com/archive/help15/search.htm#Categories"><SPAN class=tocnumber>1.12</SPAN> <SPAN class=toctext>Categories</SPAN></A> 
<LI class="toclevel-2 tocsection-14"><A href="https://super-memory.com/archive/help15/search.htm#Tasklists"><SPAN class=tocnumber>1.13</SPAN> <SPAN class=toctext>Tasklists</SPAN></A> 
<LI class="toclevel-2 tocsection-15"><A href="https://super-memory.com/archive/help15/search.htm#References"><SPAN class=tocnumber>1.14</SPAN> <SPAN class=toctext>References</SPAN></A> 
<LI class="toclevel-2 tocsection-16"><A href="https://super-memory.com/archive/help15/search.htm#Other_registries"><SPAN class=tocnumber>1.15</SPAN> <SPAN class=toctext>Other registries</SPAN></A> 
<LI class="toclevel-2 tocsection-17"><A href="https://super-memory.com/archive/help15/search.htm#Ancestors"><SPAN class=tocnumber>1.16</SPAN> <SPAN class=toctext>Ancestors</SPAN></A> 
<LI class="toclevel-2 tocsection-18"><A href="https://super-memory.com/archive/help15/search.htm#Go_to"><SPAN class=tocnumber>1.17</SPAN> <SPAN class=toctext>Go to</SPAN></A></LI></UL>
<LI class="toclevel-1 tocsection-19"><A href="https://super-memory.com/archive/help15/search.htm#Examples"><SPAN class=tocnumber>2</SPAN> <SPAN class=toctext>Examples</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-20"><A href="https://super-memory.com/archive/help15/search.htm#Image_registry"><SPAN class=tocnumber>2.1</SPAN> <SPAN class=toctext>Image registry</SPAN></A> 
<LI class="toclevel-2 tocsection-21"><A href="https://super-memory.com/archive/help15/search.htm#Category_registry"><SPAN class=tocnumber>2.2</SPAN> <SPAN class=toctext>Category registry</SPAN></A> 
<LI class="toclevel-2 tocsection-22"><A href="https://super-memory.com/archive/help15/search.htm#Lexicon_registry"><SPAN class=tocnumber>2.3</SPAN> <SPAN class=toctext>Lexicon registry</SPAN></A></LI></UL></LI></UL></TD></TR></TBODY></TABLE>
<P><BR>The <STRONG>Search</STRONG> submenu on the <A href="https://super-memory.com/archive/help15/main.htm">Main menu</A> is available at the <A href="https://super-memory.com/archive/help15/levels.htm">middle and professional levels</A>. It can be used in searching your collection for texts, pictures, fonts, etc. Many of those searches are done with the help of registries. Those menu items that provide access to a registry, display the number of members in the registry in parentheses (for example, the <STRONG>Search</STRONG> menu</STRONG> in the picture (click to enlarge) shows that the exemplary collection stores 736,683 texts with a lexicon of 633,725 distinct words - note that the number is so high because proper names, different numbers, etc., are all stored in the lexicon as separate words): </P>
<DIV class=center>
<DIV class=floatnone><A class=image href="https://super-memory.com/archive/help15/images/c/cc/Search_menu.jpg"><img alt="SuperMemo: Search menu which you can use to search your collection for texts, images, sounds, templates, categories, references, fonts, etc." src="https://super-memory.com/archive/help15/images/c/cc/Search_menu.jpg" width=638 height=600></A></DIV></DIV>
<H2><SPAN id=Search_menu_items class=mw-headline>Search menu items </SPAN></H2>
<P>The following menu items are available: </P>
<H3><SPAN id=Find_elements class=mw-headline>Find elements </SPAN></H3>
<UL>
<LI><STRONG><A href="https://super-memory.com/archive/help15/findel.htm">Find elements</A></STRONG> (<EM>Ctrl+F</EM>) - find all <A href="https://super-memory.com/archive/help15/g.htm#element">elements</A> containing a given text. Note that some texts in SuperMemo can be displayed by means of images or <A href="https://super-memory.com/archive/help15/ole.htm">OLE objects</A>. Those will not show up in the search. The results of the search will be displayed in the <A href="https://super-memory.com/archive/help15/browser.htm">element browser</A>. If you quit the browser, you can always return to the results of your last search with <STRONG><A href="https://super-memory.com/archive/help15/view.htm">View</A> : Search results</STRONG>. The texts found in the search can also be viewed in the text <A href="https://super-memory.com/archive/help15/g.htm#registry">registry</A> as the first <A href="https://super-memory.com/archive/help15/g.htm#registry_subset">registry subset</A>. Remember that text searches run on text member names, not on actual HTML files. Text member names can be changed (e.g. in the text registry). This is why the search may find texts that, at first, do not seem to contain the searched string. If this happens, check the text's member name in the registry. If it differs from the text you see in SuperMemo, you can quickly bring them to alignment by just editing the text you see in SuperMemo. This means, that you can also hide texts from search by changing their member names. This hiding will work, however, only until the next edit of the text. Again, all edits bring text member names back to alignment with their HTML equivalents. Too see both the member name and the HTML text, right-click the component and choose <STRONG>Links : Registry member</STRONG> on the <A href="https://super-memory.com/archive/help15/compmenu.htm">Component menu</A> (or click and press <EM>Ctrl+Shift+K</EM>).</LI></UL>
<H3><SPAN id=Find_texts class=mw-headline>Find texts </SPAN></H3>
<UL>
<LI><STRONG>Find texts</STRONG> (<EM>Ctrl+S</EM>) - find all texts in the text <A href="https://super-memory.com/archive/help15/g.htm#registry">registry</A> that contain a given string. Once you close the text registry, the results can be viewed later on by going to the first subset in the text registry (<STRONG>Search : Texts</STRONG> followed by <A href="https://super-memory.com/archive/help15/shortcuts.htm"><EM>Alt+Right arrow</EM></A>). Once the results are displayed, you can do AND-search by choosing <EM>Ctrl+S</EM> again and searching for the second string of the AND-search pair. Choosing <EM>Ctrl+S</EM> again will make SuperMemo search only through the results of the first search. Choosing <EM>Ctrl+R</EM> will make it possible to apply <STRONG>Find and replace</STRONG> in the currently selected subset of texts (this method is much faster than <STRONG>Search : Search and replace</STRONG>)</LI></UL>
<H3><SPAN id=Find_string class=mw-headline>Find string </SPAN></H3>
<UL>
<LI><STRONG>Find string</STRONG> (<EM>F3</EM>) - find a string in the currently selected text component. Use this option to search the contents of particularly long articles. If you use <STRONG>Find string</STRONG> after <STRONG>Find elements</STRONG>, you will be able to locate the searched string in the text of elements that include the string</LI></UL>
<H3><SPAN id=Find_selection class=mw-headline>Find selection </SPAN></H3>
<UL>
<LI><STRONG>Find selection</STRONG> - search for the currently selected text in the entire collection</LI></UL>
<H3><SPAN id=Search_and_replace class=mw-headline>Search and replace </SPAN></H3>
<UL>
<LI><STRONG>Search and replace</STRONG> - search all entries of the text registries and replace the occurrence of one string with another. For large collections, it is faster to first search for the string to replace with <EM>Ctrl+S</EM> and execute <STRONG>Find and replace</STRONG> only on the subset of texts with <EM>Ctrl+R</EM></LI></UL>
<H3><SPAN id=Web_search class=mw-headline>Web search </SPAN></H3>
<UL>
<LI><STRONG>Web search</STRONG> (<EM>Ctrl+F3</EM>) - search for the currently selected string using search engines (e.g. Google), Wikipedia, encyclopedias, dictionaries, or other web sources. You can also define your own search tools, to search for movies, actors, scientific papers, sportsmen, etc. For example, if you want to search for movies in the Internet Movie Database add the following line to your search tools file with <STRONG>Define your own tools</STRONG>: <EM>&amp;Movies, http://www.google.com/search?hl=en&amp;q="%TheText%"+imdb</EM></LI></UL>
<H3><SPAN id=Texts class=mw-headline>Texts </SPAN></H3>
<UL>
<LI><STRONG><A class=named-link-end name=Text>Texts</A></STRONG> - open the text <A href="https://super-memory.com/archive/help15/g.htm#registry">registry</A> with all texts used in the <A href="https://super-memory.com/archive/help15/g.htm#collection">collection</A>. The texts for the registry are contributed by the following <A href="https://super-memory.com/archive/help15/g.htm#component">components</A>: plain text, Spell-Pad, RTF rich text, <A href="https://super-memory.com/archive/help15/html.htm">HTML text</A>, and sound component</LI></UL>
<H3><SPAN id=Lexicon class=mw-headline>Lexicon </SPAN></H3>
<UL>
<LI><STRONG>Lexicon</STRONG> - open the lexicon registry (see: <A href="https://super-memory.com/archive/help15/search.htm#lexicon_registry">picture</A>) that makes it possible to locate individual words used in the <A href="https://super-memory.com/archive/help15/g.htm#collection">collection</A> (except for words used in pictures, <A href="https://super-memory.com/archive/help15/ole.htm">OLE objects</A>, etc.). Note that if on-the-fly lexicon compilation is turned off (to speed up SuperMemo), some words might be missing from the list (see: <STRONG><A href="https://super-memory.com/archive/help15/tools.htm">Tools</A> : <A href="https://super-memory.com/archive/help15/options.htm">Options</A> : <A href="https://super-memory.com/archive/help15/dataaccess.htm">Access</A></STRONG>)! In such cases run: <STRONG>File : <A href="https://super-memory.com/archive/help15/recover.htm">Repair collection</A></STRONG> with <STRONG>Rebuild lexion</STRONG> checked. Note also that the lexicon is built from text registry member names, not from the corresponding formatted texts. If those two differ (e.g. through rename in the text registry), you may see words in HTML components that will not be listed in the lexicon. To return the member name to the original text, edit the text in any way (e.g. by adding a single space)</LI></UL>
<H3><SPAN id=Images class=mw-headline>Images </SPAN></H3>
<UL>
<LI><STRONG>Images</STRONG> - open the image registry. You can search for a particular image with <EM>Ctrl+S</EM> once the registry is opened</LI></UL>
<H3><SPAN id=Sounds class=mw-headline>Sounds </SPAN></H3>
<UL>
<LI><STRONG>Sounds</STRONG> - open the sound registry</LI></UL>
<H3><SPAN id=Templates class=mw-headline>Templates </SPAN></H3>
<UL>
<LI><STRONG>Templates</STRONG> - open the <A href="https://super-memory.com/archive/help15/templates.htm">template</A> registry</LI></UL>
<H3><SPAN id=Categories class=mw-headline>Categories </SPAN></H3>
<UL>
<LI><STRONG><A href="https://super-memory.com/archive/help15/categs.htm">Categories</A></STRONG> - open the category registry</LI></UL>
<H3><SPAN id=Tasklists class=mw-headline>Tasklists </SPAN></H3>
<UL>
<LI><STRONG>Tasklists</STRONG> - open the tasklist registry. A new tasklist can be added within the current category with <STRONG>Add</STRONG>. Tasklists can be edited in the tasklist manager (<STRONG><A href="https://super-memory.com/archive/help15/tools.htm">Tools</A> : <A href="https://super-memory.com/archive/help15/taskman.htm">Tasklist</A></STRONG>). You can create a new tasklist with <STRONG><A href="https://super-memory.com/archive/help15/edit.htm">Edit</A> : Create tasklist</STRONG></LI></UL>
<H3><SPAN id=References class=mw-headline>References </SPAN></H3>
<UL>
<LI><STRONG>References</STRONG> - open the reference registry</LI></UL>
<H3><SPAN id=Other_registries class=mw-headline>Other registries </SPAN></H3>
<UL>
<LI><STRONG>Other registries</STRONG> 
<UL>
<LI><STRONG>Font</STRONG> - open the font registry with fonts that are used by plain text components, sound components and spelling components. These fonts can also be used in rich text component formatting; however, they are not registered with RTF or HTML text components. Changing a given font in the registry will only affect plain text components that use this font. Rich text components will not be modified. Their font is coded inside the text source (e.g. inside the HTML file) or in the stylesheet definition 
<LI><STRONG>Translation</STRONG> - open the translation registry if a translation language has been selected. The translation registry can be selected with <STRONG><A href="https://super-memory.com/archive/help15/tools.htm">Tools</A> : <A href="https://super-memory.com/archive/help15/options.htm">Options</A> : <A href="https://super-memory.com/archive/help15/language.htm">Language</A> : Collection translation</STRONG>. The actual name of this menu item depends on the name of the translation selected (e.g. <STRONG>French translation</STRONG>, <STRONG>Spanish translation</STRONG>, etc.) 
<LI><STRONG>Pronunciation by word</STRONG> - open the lexical twin of the phonetic transcription registry (if installed and selected in <STRONG>Options</STRONG>). The phonetic transcription registry is selected with <STRONG><A href="https://super-memory.com/archive/help15/tools.htm">Tools</A> : <A href="https://super-memory.com/archive/help15/options.htm">Options</A> : <A href="https://super-memory.com/archive/help15/language.htm">Language</A> : Phonetic transcription</STRONG> 
<LI><STRONG>Pronunciation by sound</STRONG> - open the transcription twin of the phonetic transcription registry (if installed and selected in <STRONG>Options</STRONG>). The phonetic transcription registry is selected with <STRONG><A href="https://super-memory.com/archive/help15/tools.htm">Tools</A> : <A href="https://super-memory.com/archive/help15/options.htm">Options</A> : <A href="https://super-memory.com/archive/help15/language.htm">Language</A> : Phonetic transcription</STRONG> 
<LI><STRONG>Comment</STRONG> - open the comment registry. Comments are attached to elements with <STRONG>Comment</STRONG> on the element parameters dialog box in <STRONG>Edit : <A href="https://super-memory.com/archive/help15/elparam.htm">Element parameters</A></STRONG> (<A href="https://super-memory.com/archive/help15/shortcuts.htm"><EM>Ctrl+Shift+P</EM></A>) on the <A href="https://super-memory.com/archive/help15/elmenu.htm">Element menu</A> 
<LI><STRONG>Video</STRONG> - open the video registry 
<LI><STRONG>Binary</STRONG> - open the binary registry, i.e. the registry with objects such as executable files, help files (HLP or CHM), MPEG files, and all imaginable files (including in formats that are not supported by Windows) 
<LI><STRONG>Style</STRONG> - open the stylesheet registry 
<LI><STRONG>Script</STRONG> - open the script registry. Note that you can edit scripts directly in the script registry 
<LI><STRONG>OLE</STRONG> - open the registry with <A href="https://super-memory.com/archive/help15/ole.htm">OLE objects</A> created in other applications (e.g. MS Word, MS Excel, Mind Manager, etc.)</LI></UL></LI></UL>
<H3><SPAN id=Ancestors class=mw-headline>Ancestors </SPAN></H3>
<UL>
<LI><STRONG>Ancestors</STRONG> (<EM>Shift+Ctrl+X</EM>) - open the <STRONG>Ancestors</STRONG> window that makes it possible to go to a given ancestor with a click</LI></UL>
<H3><SPAN id=Go_to class=mw-headline>Go to </SPAN></H3>
<UL>
<LI><STRONG>Go to</STRONG> (<EM>Ctrl+G</EM>) - go to an <A href="https://super-memory.com/archive/help15/g.htm#element">element</A> of a given number, i.e. display it in the <A href="https://super-memory.com/archive/help15/g.htm#element_window">element window</A>. All elements have unique numbers that correspond with their physical location in the <A href="https://super-memory.com/archive/help15/g.htm#collection">collection</A>. You can also use this option to see the number of the currently displayed element. The number of the current element is also displayed in the caption of the <A href="https://super-memory.com/archive/help15/eldata.htm">Element data window</A> as well as in the caption of <A href="https://super-memory.com/archive/help15/elparam.htm">Element parameters dialog box</A> (<A href="https://super-memory.com/archive/help15/shortcuts.htm"><EM>Ctrl+Shift+P</EM></A>)</LI></UL></DIV>