﻿<span style="color:#F47921;font-weight:600">Problem Solving. </span><span style="color:#231F20">Dynamics is considered to be more involved 
<br/>than statics since both the forces applied to a body and its motion must 
<br/>be taken into account. Also, many applications require using calculus, 
<br/>rather than just algebra and trigonometry. In any case, the most 
<br/>effective way of learning the principles of dynamics is</span><span style="color:#231F20;font-style:italic;font-weight:680"> </span><span style="font-style:italic;color:#231F20;font-weight:680">to solve problems</span><span style="color:#231F20">. 
<br/>To be successful at this, it is necessary to present the work in a logical 
<br/>and orderly manner as suggested by the following sequence of steps:</span><span style="color:#231F20;font-weight:764">
<br/>1. </span><span style="color:#231F20">Read the problem carefully and try to correlate the actual physical 
<br/>situation with the theory you have studied.</span><span style="color:#231F20;font-weight:764">
<br/>2. </span><span style="color:#231F20">Draw any necessary diagrams and tabulate the problem data.</span><span style="color:#231F20;font-weight:764">
<br/>3. </span><span style="color:#231F20">Establish a coordinate system and apply the relevant principles, 
<br/>generally in mathematical form.</span><span style="color:#231F20;font-weight:764">
<br/>4. </span><span style="color:#231F20">Solve the necessary equations algebraically as far as practical; then, 
<br/>use a consistent set of units and complete the solution numerically. 
<br/>Report the answer with no more significant figures than the accuracy 
<br/>of the given data.</span><span style="color:#231F20;font-weight:764">
<br/>5. </span><span style="color:#231F20">Study the answer using technical judgment and common sense to 
<br/>determine whether or not it seems reasonable.</span><span style="color:#231F20;font-weight:764">
<br/>6. </span><span style="color:#231F20">Once the solution has been completed, review the problem. Try to 
<br/>think of other ways of obtaining the same solution.
<br/>In applying this general procedure, do the work as neatly as possible. Being 
<br/>neat generally stimulates clear and orderly thinking, and vice versa.</span>
<span />