<FONT size=5>P <img class=sma-latex-img style="BACKGROUND-IMAGE: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAPBAMAAAAIf8LVAAAALVBMVEX///8AAABmZmbc3NxERESIiIiqqqoiIiK6urrMzMwQEBDu7u52dnYyMjKYmJildSRmAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAATUlEQVQIHWNggAFlGANMu6Lw0lF47AnIXA5JZB5DlAEDA/duGNgjysCQKIgAF5DU8ixF4jAcB+qDA7bVcCaQwZWAzHuLzGFAdedpoBwATQgP/UkJIgUAAAAASUVORK5CYII=); BACKGROUND-REPEAT: no-repeat" width=26 height=15 data-timestamp="637897622024166161" data-latex-code="WyRdXHRvWy8kXQ==">&nbsp;Q</FONT></P>
<P><FONT size=5>Unless [...], not-[...]</FONT>