<SPAN><SPAN class=clozed><SPAN>Graphical Definition of Solution </SPAN></SPAN><BR>A solution to a first-order differential equation is <SPAN class=clozed>a function whose slope at <BR>each point is specified by the derivative</SPAN>.</SPAN> <SPAN>