<strong><font color="blue"> : </font></strong><H4 id=_xrstringtopath><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrstringtopath"></A>6.2.1. xrStringToPath</H4>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrStringToPath">xrStringToPath</A> function is defined as:</P></DIV>
<DIV id=xrStringToPath class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrStringToPath(
    XrInstance                                  instance,
    const char*                                 pathString,
    XrPath*                                     path);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is an instance previously created.</P></LI>
<LI>
<P><CODE>pathString</CODE> is the path name string to retrieve the associated <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> for.</P></LI>
<LI>
<P><CODE>path</CODE> is the output parameter, which <STRONG class=purple>must</STRONG> point to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A>. Given a well-formed path name string, this will be populated with an opaque value that is constant for that path string during the lifetime of that instance.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrStringToPath">xrStringToPath</A> retrieves the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> value for a well-formed path string. If such a value had not yet been assigned by the runtime to the provided path string in this <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A>, one <STRONG class=purple>must</STRONG> be assigned at this point. All calls to this function with the same <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> and path string <STRONG class=purple>must</STRONG> retrieve the same <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> value. Upon failure, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrStringToPath">xrStringToPath</A> <STRONG class=purple>must</STRONG> return an appropriate <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrResult">XrResult</A>, and <STRONG class=purple>may</STRONG> set the output parameter to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_PATH">XR_NULL_PATH</A>. See <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#path-atom-type">Path Atom Type</A> for the conditions under which an error <STRONG class=purple>may</STRONG> be returned when this function is given a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> and a well-formed path string.</P></DIV>
<DIV class=paragraph>
<P>If the runtime&#8217;s resources are exhausted and it cannot create the path, a return value of <CODE>XR_ERROR_PATH_COUNT_EXCEEDED</CODE> <STRONG class=purple>must</STRONG> be returned. If the application specifies a string that is not a well-formed path string, <CODE>XR_ERROR_PATH_FORMAT_INVALID</CODE> <STRONG class=purple>must</STRONG> be returned.</P></DIV>
<DIV class="admonitionblock note">
<TABLE>
<TBODY>
<TR>
<TD class=icon><I title=Note class="fa icon-note"></I></TD>
<TD class=content>A return value of <CODE>XR_SUCCESS</CODE> from <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrStringToPath">xrStringToPath</A> <STRONG class=purple>may</STRONG> not necessarily imply that the runtime has a component or other source of data that will be accessible through that semantic path. It only means that the path string supplied was well-formed and that the retrieved <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> maps to the given path string within and during the lifetime of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> given. </TD></TR></TBODY></TABLE></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrStringToPath-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrStringToPath-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrStringToPath-pathString-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrStringToPath-pathString-parameter"></A><CODE>pathString</CODE> <STRONG class=purple>must</STRONG> be a null-terminated UTF-8 string</P></LI>
<LI>
<P><A id=VUID-xrStringToPath-path-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrStringToPath-path-parameter"></A><CODE>path</CODE> <STRONG class=purple>must</STRONG> be a pointer to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> value</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_PATH_FORMAT_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_PATH_COUNT_EXCEEDED</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_xrpathtostring><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrpathtostring"></A>6.2.2. xrPathToString</H4>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrPathToString class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrPathToString(
    XrInstance                                  instance,
    XrPath                                      path,
    uint32_t                                    bufferCapacityInput,
    uint32_t*                                   bufferCountOutput,
    char*                                       buffer);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is an instance previously created.</P></LI>
<LI>
<P><CODE>path</CODE> is the valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> value to retrieve the path string for.</P></LI>
<LI>
<P><CODE>bufferCapacityInput</CODE> is the capacity of the buffer, or 0 to indicate a request to retrieve the required capacity.</P></LI>
<LI>
<P><CODE>bufferCountOutput</CODE> is a pointer to the count of characters written (including the terminating '\0'), or a pointer to the required capacity in the case that <CODE>bufferCapacityInput</CODE> is insufficient.</P></LI>
<LI>
<P><CODE>buffer</CODE> is a pointer to an application-allocated buffer that will be filled with the semantic path string. It <STRONG class=purple>can</STRONG> be <CODE>NULL</CODE> if <CODE>bufferCapacityInput</CODE> is 0.</P></LI>
<LI>
<P>See <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#buffer-size-parameters">Buffer Size Parameters</A> chapter for a detailed description of retrieving the required <CODE>buffer</CODE> size.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrPathToString">xrPathToString</A> retrieves the path name string associated with an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A>, in the context of a given <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A>, in the form of a <CODE>NULL</CODE> terminated string placed into a <EM>caller-allocated</EM> buffer. Since the mapping between a well-formed path name string and an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> is bijective, there will always be exactly one string for each valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> value. This can be useful if the calling application receives an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> value that they had not previously retrieved via <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrStringToPath">xrStringToPath</A>. During the lifetime of the given <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A>, the path name string retrieved by this function for a given valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPath"><CODE>XrPath</CODE></A> will not change. For invalid paths, including <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_PATH">XR_NULL_PATH</A>, <CODE>XR_ERROR_PATH_INVALID</CODE> <STRONG class=purple>must</STRONG> be returned.</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrPathToString-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrPathToString-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrPathToString-bufferCountOutput-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrPathToString-bufferCountOutput-parameter"></A><CODE>bufferCountOutput</CODE> <STRONG class=purple>must</STRONG> be a pointer to a <CODE>uint32_t</CODE> value</P></LI>
<LI>
<P><A id=VUID-xrPathToString-buffer-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrPathToString-buffer-parameter"></A>If <CODE>bufferCapacityInput</CODE> is not <CODE>0</CODE>, <CODE>buffer</CODE> <STRONG class=purple>must</STRONG> be a pointer to an array of <CODE>bufferCapacityInput</CODE> char values</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SIZE_INSUFFICIENT</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_PATH_INVALID</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect2>