<strong><font color="blue"> : </font></strong><H4 id=_adding_input_sources_via_extensions><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_adding_input_sources_via_extensions"></A>6.3.3. Adding input sources via extensions</H4>
<DIV class=paragraph>
<P>Extensions <STRONG class=purple>may</STRONG> enable input source path identifiers, output source path identifiers, and component names that are not included in the core specification, subject to the following conditions:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>EXT extensions <STRONG class=purple>must</STRONG> include the _ext suffix on any identifier or component name. E.g. <EM>&#8230;/input/newidentifier_ext/newcomponent_ext</EM></P></LI>
<LI>
<P>Vendor extensions <STRONG class=purple>must</STRONG> include the vendor&#8217;s tag as a suffix on any identifier or component name. E.g. <EM>&#8230;/input/newidentifier_vendor/newcomponent_vendor</EM> (where "vendor" is replaced with the vendor&#8217;s actual extension tag.)</P></LI>
<LI>
<P>Khronos (KHR) extensions <STRONG class=purple>may</STRONG> add undecorated identifier or component names.</P></LI></UL></DIV>
<DIV class=paragraph>
<P>These rules are in place to prevent extensions from adding first class undecorated names that become defacto standards. Runtimes <STRONG class=purple>must</STRONG> ignore input source paths that do not follow the restrictions above.</P></DIV>
<DIV class=paragraph>
<P>Extensions <STRONG class=purple>may</STRONG> also add new location suffixes, and <STRONG class=purple>may</STRONG> do so by adding a new identifier and location combination using the appropriate suffix. E.g. <EM>&#8230;/input/newidentifier_newlocation_ext</EM></P></DIV></DIV></DIV>
<DIV class=sect2>