<SPAN class=extract><SPAN class=extract>
<P></P><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff">
<P><SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff"><SPAN class=clozed><SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff">Cofunction Identity</FONT></SPAN></SPAN></SPAN></SPAN>:</FONT></SPAN></SPAN></SPAN></P>
<P><SPAN class=clozed>tan(A)</SPAN> = <SPAN class=clozed>cot(90 - A)</SPAN></FONT></SPAN></P></SPAN></SPAN>