<SPAN><SPAN><SPAN><FONT style="BACKGROUND-COLOR: #ffffff"><SPAN><SPAN><SPAN><SPAN><FONT style="BACKGROUND-COLOR: #ffffff">Cofunction Identity</FONT></SPAN></SPAN></SPAN></SPAN>:</FONT></SPAN></SPAN></SPAN> 
<P></P>
<P><SPAN><SPAN><SPAN><FONT style="BACKGROUND-COLOR: #ffffff"><SPAN><SPAN><SPAN><SPAN><FONT style="BACKGROUND-COLOR: #ffffff">sin(A)</FONT></SPAN></SPAN></SPAN></SPAN> = <SPAN class=cloze>[...] (degrees)</SPAN></FONT></SPAN></SPAN></SPAN>