(FTC Part 1) 
<P></P>
<P>If f(x) is <SPAN class=cloze>[...](property of a function)</SPAN>&nbsp;from [a,b], then</P>
<P>g(x) defined&nbsp;by&nbsp; g(x) = integral(a,x) f(t) dt ,&nbsp;&nbsp;(a &lt;= x &lt;= b) is</P>
<P>-&nbsp;continuous from [a,b]</P>
<P>- differentiable from (a,b)</P>
<P>and</P>
<P>g'(x) = (d/dx)g(x) = f(x)