&nbsp; 
<DIV id=mw-page-base class=noprint></DIV>
<DIV id=mw-head-base class=noprint></DIV>
<DIV role=main id=content class=mw-body><A id=top></A>
<DIV class="mw-indicators mw-body-content"></DIV>
<H1 lang=en id=firstHeading class=firstHeading>References</H1>
<DIV id=bodyContent class=mw-body-content>
<DIV id=contentSub></DIV>
<DIV id=jump-to-nav></DIV><A class=mw-jump-link href="https://help.supermemo.org/wiki/References#mw-head">Jump to navigation</A> <A class=mw-jump-link href="https://help.supermemo.org/wiki/References#p-search">Jump to search</A> 
<DIV lang=en id=mw-content-text class=mw-content-ltr dir=ltr>
<DIV class=mw-parser-output>
<DIV id=toc class=toc>
<DIV lang=en class=toctitle dir=ltr>
<H2>Contents</H2><SPAN class=toctogglespan><LABEL class=toctogglelabel for=toctogglecheckbox></LABEL></SPAN></DIV>
<UL>
<LI class="toclevel-1 tocsection-1"><A href="https://help.supermemo.org/wiki/References#Why_need_references.3F"><SPAN class=tocnumber>1</SPAN> <SPAN class=toctext>Why need references?</SPAN></A> 
<LI class="toclevel-1 tocsection-2"><A href="https://help.supermemo.org/wiki/References#Example"><SPAN class=tocnumber>2</SPAN> <SPAN class=toctext>Example</SPAN></A> 
<LI class="toclevel-1 tocsection-3"><A href="https://help.supermemo.org/wiki/References#Reference_system_highlights"><SPAN class=tocnumber>3</SPAN> <SPAN class=toctext>Reference system highlights</SPAN></A> 
<LI class="toclevel-1 tocsection-4"><A href="https://help.supermemo.org/wiki/References#Editing_references"><SPAN class=tocnumber>4</SPAN> <SPAN class=toctext>Editing references</SPAN></A> 
<LI class="toclevel-1 tocsection-5"><A href="https://help.supermemo.org/wiki/References#Image_references"><SPAN class=tocnumber>5</SPAN> <SPAN class=toctext>Image references</SPAN></A></LI></UL></DIV>
<H2><SPAN id=Why_need_references?></SPAN><SPAN id=Why_need_references.3F class=mw-headline>Why need references?</SPAN></H2>
<P>In <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Incremental_reading" data-hasqtip="0" oldtitle="Glossary:Incremental reading">incremental reading</A>, you always need to quickly recover the context of a question or a piece of text. The easiest way to recover context quickly is via references. References propagate from <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="1" oldtitle="Glossary:Element">element</A> to element as you produce <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="2" oldtitle="Glossary:Extract">extracts</A> and <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Cloze_deletion" data-hasqtip="3" oldtitle="Glossary:Cloze deletion">cloze deletions</A>. With all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Child" data-hasqtip="4" oldtitle="Glossary:Child">child elements</A> produced from a given text marked with references, you would never need to worry about losing the context of the question. </P>
<P>For example: </P>
<DIV class=center>
<DIV class=inset style="BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WIDTH: 800px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: left; BORDER-LEFT: black 1px solid">
<P><B>Q</B>: He was born in <SPAN class=cloze><FONT color=#000000 size=3 face="Times New Roman">[...](year)</FONT></SPAN> </P></DIV></DIV>
<P>cannot be answered without the context. However, the following question is already easier to understand: </P>
<DIV class=center>
<DIV class=inset style="BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WIDTH: 800px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: left; BORDER-LEFT: black 1px solid">
<P><B>Q</B>: He was born in <SPAN class=cloze><FONT color=#000000 size=3 face="Times New Roman">[...](year)</FONT></SPAN> </P>
<HR>

<P><SPAN class=reference><FONT color=#000000 size=3>#Title: Barrack Obama<BR>#Source: Wikipedia</FONT></SPAN> </P></DIV></DIV>
<P>To speed up learning, in the incremental reading process, the above question should naturally be replaced with: </P>
<DIV class=center>
<DIV class=inset style="BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WIDTH: 800px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: left; BORDER-LEFT: black 1px solid">
<P><B>Q</B>: Obama was born in <SPAN class=cloze><FONT color=#000000 size=3 face="Times New Roman">[...](year)</FONT></SPAN> </P></DIV></DIV>
<P>or </P>
<DIV class=center>
<DIV class=inset style="BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; WIDTH: 800px; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: left; BORDER-LEFT: black 1px solid">
<P><B>Q</B>: Obama was born in <SPAN class=cloze><FONT color=#000000 size=3 face="Times New Roman">[...](year)</FONT></SPAN> </P>
<HR>

<P><SPAN class=reference><FONT color=#000000 size=3>#Title: Barrack Obama<BR>#Source: Wikipedia</FONT></SPAN> </P></DIV></DIV>
<P>References are not stored in HTML files that hold your articles but in a reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="5" oldtitle="Glossary:Registry">registry</A> (i.e. in a separate database). The reference registry does not hold the text of references either. All reference texts are held in the text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="6" oldtitle="Glossary:Registry">registry</A> and are available for global text searches. In earlier versions of SuperMemo, each text would keep its own copy of references. In newer SuperMemos, <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="7" oldtitle="Glossary:Element">elements</A> keep only pointers to reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="8" oldtitle="Glossary:Registry">registry</A>, which in turn keeps pointers to individual text fields in the text registry. As a result, many <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="9" oldtitle="Glossary:Element">elements</A> can hold the same reference, and many references can hold the same text. This results in a significant saving in space in your <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" data-hasqtip="10" oldtitle="Glossary:Collection">collection</A>. More importantly, you can update the reference in a single <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="11" oldtitle="Glossary:Element">element</A> and see the change show in all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="12" oldtitle="Glossary:Element">elements</A> using the same reference. This way, you do not need to waste time on search&amp;replace to correct a single misspelling or reference inaccuracy that propagated to many <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="13" oldtitle="Glossary:Element">elements</A>. </P>
<H2><SPAN id=Example class=mw-headline>Example</SPAN></H2>
<P>If you select the title of the source article and press <I>Alt+T</I> (<B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Reference">Reference</A>&nbsp;: Title</B> on the HTML <A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu">component menu</A>), each <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="14" oldtitle="Glossary:Extract">extract</A> will be marked by the title of the source article. If you use <B><A title="Edit menu" href="https://help.supermemo.org/wiki/Edit_menu">Edit</A>&nbsp;: <A title="Web import" href="https://help.supermemo.org/wiki/Web_import">Web import</A>&nbsp;: All</B>, your articles will be provided with basic references (such as <SPAN class=reference><FONT color=#000000 size=3>#Title</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Link</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Date</FONT></SPAN>, etc.). If you need more context (e.g. to add the author, the journal, etc.), you can use the reference link button (<A title="SuperMemo: Reference button on the navigation bar in the element window" class=image href="https://help.supermemo.org/wiki/File:Reference_button.gif"><img alt="SuperMemo: Reference button on the navigation bar in the element window" src="https://help.supermemo.org/images/9/9e/Reference_button.gif" width=16 height=16></A>) on the <A title="Navigation bar" href="https://help.supermemo.org/wiki/Navigation_bar">navigation bar</A> to jump to the source article from which the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="15" oldtitle="Glossary:Extract">extract</A> was produced. On the parent article, that button will lead you to the original link on the net. </P>
<DIV class=center>
<P><A title="SuperMemo: An extract produced from an article about the greenhouse effect (references (in pink) at the bottom are added automatically)" class=image href="https://help.supermemo.org/wiki/File:Incremental_reading_Extract.jpg"><img alt="SuperMemo: An extract produced from an article about the greenhouse effect (references (in pink) at the bottom are added automatically)" src="https://help.supermemo.org/images/thumb/f/f5/Incremental_reading_Extract.jpg/800px-Incremental_reading_Extract.jpg" width=800 height=495 srcset="/images/thumb/f/f5/Incremental_reading_Extract.jpg/1200px-Incremental_reading_Extract.jpg 1.5x, /images/f/f5/Incremental_reading_Extract.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Typical snapshot of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Incremental_reading" data-hasqtip="16" oldtitle="Glossary:Incremental reading">incremental reading</A>. While learning about the greenhouse effect, the student extracts the fragment saying that "An ideal thermally conductive <A class="external text" href="https://en.wikipedia.org/wiki/Blackbody">blackbody</A> at the same distance from the Sun as Earth would have a temperature of about 5.3&nbsp;&#176;C. However, because Earth reflects about 30%<SUP class=reference><A class="external text" href="https://en.wikipedia.org/wiki/Greenhouse_effect#cite_note-5"><FONT size=3>[5</FONT></A><FONT color=#000000 size=3>]</FONT></SUP><SUP class=reference><A class="external text" href="https://en.wikipedia.org/wiki/Greenhouse_effect#cite_note-6"><FONT size=3>[6</FONT></A><FONT color=#000000 size=3>]</FONT></SUP> of the incoming sunlight, this idealized planet's <A class="external text" href="https://en.wikipedia.org/wiki/Effective_temperature">effective temperature</A> (the temperature of a blackbody that would emit the same amount of radiation) would be about &#8722;18&nbsp;&#176;C.<SUP class=reference><A class="external text" href="https://en.wikipedia.org/wiki/Greenhouse_effect#cite_note-7"><FONT size=3>[7</FONT></A><FONT color=#000000 size=3>]</FONT></SUP><SUP class=reference><A class="external text" href="https://en.wikipedia.org/wiki/Greenhouse_effect#cite_note-8"><FONT size=3>[8</FONT></A><FONT color=#000000 size=3>]</FONT></SUP> The surface temperature of this hypothetical planet is 33&nbsp;&#176;C below Earth's actual surface temperature of approximately 14&nbsp;&#176;C.<SUP class=reference><A class="external text" href="https://en.wikipedia.org/wiki/Greenhouse_effect#cite_note-9"><FONT size=3>[9</FONT></A><FONT color=#000000 size=3>]</FONT></SUP>. The mechanism that produces this difference between the actual surface temperature and the effective temperature is due to the atmosphere and is known as <B>greenhouse effect</B>". The extracted fragment will inherit illustrations placed on the right, as well as article <A class="mw-selflink selflink">references</A>. The student can move on to reading another article by pressing Enter. The picture on the right is stored locally in the image <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="17" oldtitle="Glossary:Registry">registry</A> (on the user's hard disk) and can be reused to illustrate other articles or questions.</I> </P></BLOCKQUOTE></DIV>
<H2><SPAN id=Reference_system_highlights class=mw-headline>Reference system highlights</SPAN></H2>
<UL>
<LI>To mark texts as reference fields use the <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Reference">Reference</A></B> submenu on the HTML <A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu">component menu</A> (e.g. <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Reference">Reference</A>&nbsp;: Select</B> or <I>Alt+Q</I>) 
<LI>Reference fields <SPAN class=reference><FONT color=#000000 size=3>#Article</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Parent</FONT></SPAN> and <SPAN class=reference><FONT color=#000000 size=3>#Concept group</FONT></SPAN> are added automatically and are not stored in the reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="18" oldtitle="Glossary:Registry">registry</A>. These fields are not generated in <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="19" oldtitle="Glossary:Element">elements</A> that have no other reference fields defined 
<LI>References marked with <I>Alt+Q</I> options show up in the reference field and can be deleted from the text's body (if no longer needed) 
<LI>Hover your mouse over the <B>Reference link</B> button (<A title="SuperMemo: Reference button on the navigation bar in the element window" class=image href="https://help.supermemo.org/wiki/File:Reference_button.gif"><img alt="SuperMemo: Reference button on the navigation bar in the element window" src="https://help.supermemo.org/images/9/9e/Reference_button.gif" width=16 height=16></A>) on the <A title="Navigation bar" href="https://help.supermemo.org/wiki/Navigation_bar">navigation bar</A> to quickly see the reference in longer extracts. 
<LI>From the user's point of view, there is a little difference in the way the references are handled as compared with earlier SuperMemos. SuperMemo 2008 or later differentiates between the following 2 types of references edits: 
<UL>
<LI><B>local edits</B> that affect only the present <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="20" oldtitle="Glossary:Element">element</A> and create a new reference record vs. 
<LI><B>global edits</B> which change the original reference in all the elements that use it.</LI></UL></LI></UL>
<DL>
<DD>When SuperMemo is not sure if your edits are local or global, it will ask you</DD></DL>
<UL>
<LI>Note that all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="21" oldtitle="Glossary:Extract">extracts</A> generate <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="22" oldtitle="Glossary:Element">elements</A> that are <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Child" data-hasqtip="23" oldtitle="Glossary:Child">children</A> of the original article. If you have problems with recalling the original context of a fragment, you can always call it back by pressing the <B>Parent</B> button on the <A title="Navigation bar" href="https://help.supermemo.org/wiki/Navigation_bar">navigation bar</A>. You can also use the <STRONG>Reference link</STRONG> button (<A title="SuperMemo: Reference button on the navigation bar in the element window" class=image href="https://help.supermemo.org/wiki/File:Reference_button.gif"><img alt="SuperMemo: Reference button on the navigation bar in the element window" src="https://help.supermemo.org/images/9/9e/Reference_button.gif" width=16 height=16></A>) to get to the source article, or, if you have already reached it, to get to the original article on the web. 
<LI>If you choose an empty selection for the <SPAN class=reference><FONT color=#000000 size=3>#Date</FONT></SPAN> reference, you will mark the text with the current date and time stamp 
<LI>AND-Search in SuperMemo works on texts, not on <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="24" oldtitle="Glossary:Element">elements</A>. This means that reference texts do not take part in AND-Search for the main body of text. This may result in false misses. In SuperMemo, texts and individual reference fields are all treated as separate texts and are all searched independently 
<LI>Formatting of references can be changed via stylesheets 
<LI>Converting HTML to plain text does not affect the formatting of references (i.e. plain text entries can have their references formatted by a stylesheet) 
<LI>You can edit references in the reference area or in a dedicated window that you can open by choosing <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Reference">Reference</A>&nbsp;: Edit</B> from the <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu">element menu</A>. You only need to use legal reference field tags at the beginning of each reference line (e.g. <SPAN class=reference><FONT color=#000000 size=3>#Author:</FONT></SPAN>). If SuperMemo is not sure if your changes should apply to the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="25" oldtitle="Glossary:Element">element</A> only, or to all elements that use the reference, it will ask you 
<LI>You can quickly modify (i.e. set, merge, and delete) the references across a number of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="26" oldtitle="Glossary:Element">elements</A>. To do that, open them in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">element browser</A>, right-click your mouse and choose: 
<UL>
<LI><B><A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations">Process browser&gt;</A>&nbsp;: <A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations#Reference">Reference</A>&nbsp;: Set reference</B> to set the same reference to a subset of elements, 
<LI><B><A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations">Process browser&gt;</A>&nbsp;: <A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations#Reference">Reference</A>&nbsp;: Merge reference</B> to add reference fields to a subset of elements, 
<LI><B><A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations">Process browser&gt;</A>&nbsp;: <A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations#Reference">Reference</A>&nbsp;: Delete reference</B> to remove reference fields from all elements in the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Subset" data-hasqtip="27" oldtitle="Glossary:Subset">subset</A></LI></UL>
<LI>References no longer clutter your HTML files. In the past, the size of references would often be greater than the length of the text itself 
<LI>Reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="28" oldtitle="Glossary:Registry">registry</A> keeps the references (see below), and their individual text fields are stored in the text registry 
<LI>References are added to HTML texts at load time, so that you can still have references located at the bottom of your texts as in earlier versions of SuperMemo 
<LI>Adding an existing reference to an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="29" oldtitle="Glossary:Element">element</A> (e.g. with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Reference">Reference</A>&nbsp;: Link</B> from the <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu">element menu</A>) does not add to the size of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" data-hasqtip="30" oldtitle="Glossary:Collection">collection</A></LI></UL>
<DIV class="bs-callout bs-callout-danger">
<P><B>Important!</B> <B>Do not add your own non-reference texts below the horizontal bar marking the reference area</B>. All reference field area is owned by SuperMemo. Any modifications to that area will be treated as changes to reference fields. Changes that do not conform with reference field formatting will be discarded without warning. </P></DIV>
<DIV class=center>
<P><A title="SuperMemo: References help you quickly recover the context of a given element as well as track its source and build a list of citations (in the picture: blue marks an incremental reading extract, yellow marks a search string (i.e. GABA-ergic), while pink marks the reference field, which will propagate to all children elements (extracts and clozes))" class=image href="https://help.supermemo.org/wiki/File:References.jpg"><img alt="SuperMemo: References help you quickly recover the context of a given element as well as track its source and build a list of citations (in the picture: blue marks an incremental reading extract, yellow marks a search string (i.e. GABA-ergic), while pink marks the reference field, which will propagate to all children elements (extracts and clozes))" src="https://help.supermemo.org/images/thumb/5/5b/References.jpg/800px-References.jpg" width=800 height=398 srcset="/images/thumb/5/5b/References.jpg/1200px-References.jpg 1.5x, /images/5/5b/References.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> <A class="mw-selflink selflink">References</A> help you quickly recover the context of a given <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="31" oldtitle="Glossary:Element">element</A> as well as track its source and build a list of citations. In the picture, an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="32" oldtitle="Glossary:Extract">extract</A> from an article on sleep and dreaming. <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #44c2ff">Blue</SPAN> marks an extract produced from the presented text. <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: yellow">Yellow</SPAN> marks the search string (i.e. REM-on cells) that was used in <B><A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu">Search</A>&nbsp;: <A title="Find elements" href="https://help.supermemo.org/wiki/Find_elements">Find elements</A></B> (Ctrl+F) to find all the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="33" oldtitle="Glossary:Element">elements</A> (including this one) containing the string. <SPAN style="COLOR: #c40000; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #ffa6ff">Pink</SPAN> marks the reference area (consisting of the <SPAN class=reference><FONT color=#000000 size=3>#Title</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Author</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Date</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Source</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Article</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Parent</FONT></SPAN>, and <SPAN class=reference><FONT color=#000000 size=3>#Concept group</FONT></SPAN> fields), which will propagate to all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Child" data-hasqtip="34" oldtitle="Glossary:Child">children elements</A> (<A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="35" oldtitle="Glossary:Extract">extracts</A> and <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Cloze_deletion" data-hasqtip="36" oldtitle="Glossary:Cloze deletion">clozes</A>) generated from this <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="37" oldtitle="Glossary:Element">element</A>.</I> </P></BLOCKQUOTE>
<P><A title="SuperMemo: References are kept in a dedicated registry while their individual text fields (e.g. title, author, date, source, etc.) are stored in the text registry, and thus are available for global text searches" class=image href="https://help.supermemo.org/wiki/File:Reference_registry.jpg"><img alt="SuperMemo: References are kept in a dedicated registry while their individual text fields (e.g. title, author, date, source, etc.) are stored in the text registry, and thus are available for global text searches" src="https://help.supermemo.org/images/thumb/7/74/Reference_registry.jpg/800px-Reference_registry.jpg" width=800 height=612 srcset="/images/thumb/7/74/Reference_registry.jpg/1200px-Reference_registry.jpg 1.5x, /images/7/74/Reference_registry.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> <A class="mw-selflink selflink">References</A> are kept in a dedicated <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="38" oldtitle="Glossary:Registry">registry</A> while their individual text fields (e.g. <SPAN class=reference><FONT color=#000000 size=3>#Title</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Author</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Date</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Source</FONT></SPAN>, etc.) are stored in the text registry, and thus are available for global text searches. In the picture, reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="39" oldtitle="Glossary:Registry">registry</A> holds 71,791 members. Those highlighted in <SPAN style="BACKGROUND: yellow; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px">yellow</SPAN> are <A title=References href="https://help.supermemo.org/wiki/References#Image_references">references of downloaded images</A>. The remaining references describe imported articles. The selected Quantum Biology reference describes and article imported from <A class="external text" href="http://www.nature.com/nphys/index.html">Nature Physics</A> in Feb 2013. The element list panel (bottom-right) displays <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" data-hasqtip="40" oldtitle="Glossary:Topic">topics</A> generated from that article. All those <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" data-hasqtip="41" oldtitle="Glossary:Topic">topics</A> share the same reference.</I> </P></BLOCKQUOTE></DIV>
<H2><SPAN id=Editing_references class=mw-headline>Editing references</SPAN></H2>
<P>You an use <B>Reference: Edit</B> in <A title="SuperMemo Commander" href="https://help.supermemo.org/wiki/SuperMemo_Commander">SuperMemo Commander</A>, however, you can also edit references in the reference area (which is pink in the default stylesheet). You can safely delete reference fields, but you need to decide if that change should be local (for that <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="42" oldtitle="Glossary:Element">element</A> only) or global (for all elements using this reference). You will not be able to delete <SPAN class=reference><FONT color=#000000 size=3>#Article</FONT></SPAN>, <SPAN class=reference><FONT color=#000000 size=3>#Parent:</FONT></SPAN> or <SPAN class=reference><FONT color=#000000 size=3>#Concept group</FONT></SPAN> fields because they are added automatically to the reference section (i.e. they are not part of the reference itself). You can freely change the text of references. Illegal changes are all changes that do not comply with the reference format, e.g. lines that do not start with reference field tags, or lines that start with unknown reference field tags (e.g. <I>#Country</I>). If you are unsure how this process works, import a single article from <A class="external text" href="http://en.wikipedia.org/">Wikipedia</A> to a newly created <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" data-hasqtip="43" oldtitle="Glossary:Collection">collection</A>, create some <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Extract" data-hasqtip="44" oldtitle="Glossary:Extract">extracts</A> and play with editing to see how references are processed. </P>
<H2><SPAN id=Image_references class=mw-headline>Image references</SPAN></H2>
<P>Image references are created automatically when importing from the web or from an HTML document. In SuperMemo 16, unless you imported images with whole references pages, duplicate detection would depend on image names. If you renamed your images to make reuse easy, duplicate detection wouldn't work. This changed with SuperMemo 17. URLs are kept in the text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="45" oldtitle="Glossary:Registry">registry</A> which can accept a degree of "garbage" as text reuse is automatic. The adopted complex solution may make SuperMemo a bit slower when importing images from imported articles or when importing pictures from the web. However, your <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" data-hasqtip="46" oldtitle="Glossary:Collection">collection</A> is unlikely to swell with multiple image duplicates. Duplicate imports are automatically prevented and the imported image is replaced with the stored original (wiki thumbs are replaced with their high-resolution originals). </P>
<P>Image references allow of searching for picture names along other texts in <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="47" oldtitle="Glossary:Element">elements</A> with <B><A title="Edit menu" href="https://help.supermemo.org/wiki/Edit_menu">Edit</A>&nbsp;: <A title="Find elements" href="https://help.supermemo.org/wiki/Find_elements">Find elements</A></B> (<I>Ctrl+F</I>). </P>
<P>You can find image references in the reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="48" oldtitle="Glossary:Registry">registry</A> (choose <B><A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu">Search</A>&nbsp;: <A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu#References">References</A></B> from the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A>). Alternatively, you can first locate the image via the image registry (<B><A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu">Search</A>&nbsp;: Images</B> from the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A>), and choose <B><A title="Registry menu" href="https://help.supermemo.org/wiki/Registry_menu#View">View</A>&nbsp;: Reference</B> from the <A title="Registry menu" href="https://help.supermemo.org/wiki/Registry_menu">registry menu</A> (available with a right-click). </P>
<P>In the reference <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" data-hasqtip="49" oldtitle="Glossary:Registry">registry</A>, to view the image related to a given reference, click <B>Go to</B> at the bottom of the window. </P>
<P>To see all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" data-hasqtip="50" oldtitle="Glossary:Element">elements</A> associated with a given image/reference, click <B>List</B> at the bottom of either registry (image or reference). </P></DIV></DIV>
<DIV class=visualClear></DIV></DIV></DIV>
<DIV id=mw-navigation>
<H2>Navigation menu</H2>
<DIV id=mw-head>
<DIV role=navigation id=p-personal aria-labelledby=p-personal-label>
<UL>
<LI id=pt-createaccount><A title="You are encouraged to create an account and log in; however, it is not mandatory" href="https://help.supermemo.org/index.php?title=Special:CreateAccount&amp;returnto=References">Create account</A> 
<LI id=pt-login><A title="You are encouraged to log in; however, it is not mandatory [Alt+Shift+o]" accessKey=o href="https://help.supermemo.org/index.php?title=Special:UserLogin&amp;returnto=References">Log in</A></LI></UL></DIV>
<DIV id=left-navigation>
<DIV role=navigation id=p-namespaces class=vectorTabs aria-labelledby=p-namespaces-label>
<UL>
<LI id=ca-abc><SPAN><A href="https://help.supermemo.org/wiki/Introduction" target=_self>ABC</A></SPAN> 
<LI id=ca-youtube><SPAN><A href="https://www.youtube.com/channel/UCqmYtieCc3liSTYxLwk_MLw/videos?sort=p" target=_blank>Demos</A></SPAN> 
<LI id=ca-hints-and-tips><SPAN><A href="https://help.supermemo.org/wiki/Hints%26Tips" target=_self>Hints&amp;Tips</A></SPAN> 
<LI id=ca-ref><SPAN><A href="https://help.supermemo.org/wiki/Menus,_buttons,_dialogs,_etc." target=_self>Reference</A></SPAN> 
<LI id=ca-overviews><SPAN><A href="https://help.supermemo.org/wiki/Overviews" target=_self>Overviews</A></SPAN> 
<LI id=ca-buy><SPAN><A href="https://super-memo.com/supermemo18.html" target=_blank>Buy</A></SPAN> 
<LI id=ca-support><SPAN><A href="https://help.supermemo.org/wiki/Technical_support" target=_self>Support</A></SPAN></LI></UL></DIV></DIV>
<DIV id=right-navigation>
<DIV role=navigation id=p-views class=vectorTabs aria-labelledby=p-views-label>
<UL>
<LI id=ca-view class="collapsible selected"><SPAN><A href="https://help.supermemo.org/wiki/References">Read</A></SPAN> 
<LI id=ca-viewsource class=collapsible><SPAN><A title="This page is protected.&#13;&#10;You can view its source [Alt+Shift+e]" accessKey=e href="https://help.supermemo.org/index.php?title=References&amp;action=edit">View source</A></SPAN> 
<LI id=ca-history class=collapsible><SPAN><A title="Past revisions of this page [Alt+Shift+h]" accessKey=h href="https://help.supermemo.org/index.php?title=References&amp;action=history">View history</A></SPAN></LI></UL></DIV>
<DIV role=search id=p-search>
<H3><LABEL for=searchInput>Search</LABEL> </H3>
<DIV id=simpleSearch></DIV></DIV></DIV></DIV></DIV>
<DIV id=mw-navigation>
<DIV id=mw-panel>
<DIV role=banner id=p-logo><A title="Visit the main page" class=mw-wiki-logo href="https://help.supermemo.org/wiki/Main_Page"></A></DIV>
<DIV role=navigation id=p-navigation class=portal aria-labelledby=p-navigation-label>
<DIV class=body>
<UL>
<LI id=n-SuperMemoPedia><A href="https://supermemopedia.com/wiki/Main_Page">SuperMemoPedia</A> 
<LI id=n-SuperMemo-Guru><A href="https://supermemo.guru/wiki/SuperMemo_Guru">SuperMemo Guru</A> 
<LI id=n-recentchanges><A title="A list of recent changes in the wiki [Alt+Shift+r]" accessKey=r href="https://help.supermemo.org/wiki/Special:RecentChanges">Recent changes</A> 
<LI id=n-randompage><A title="Load a random page [Alt+Shift+x]" accessKey=x href="https://help.supermemo.org/wiki/Special:Random">Random page</A></LI></UL></DIV></DIV>
<DIV role=navigation id=p-tb class=portal aria-labelledby=p-tb-label>
<H3 id=p-tb-label>Tools</H3>
<DIV class=body>
<UL>
<LI id=t-whatlinkshere><A title="A list of all wiki pages that link here [Alt+Shift+j]" accessKey=j href="https://help.supermemo.org/wiki/Special:WhatLinksHere/References">What links here</A> 
<LI id=t-recentchangeslinked><A title="Recent changes in pages linked from this page [Alt+Shift+k]" accessKey=k href="https://help.supermemo.org/wiki/Special:RecentChangesLinked/References" rel=nofollow>Related changes</A> 
<LI id=t-specialpages><A title="A list of all special pages [Alt+Shift+q]" accessKey=q href="https://help.supermemo.org/wiki/Special:SpecialPages">Special pages</A> 
<LI id=t-print><A title="Printable version of this page [Alt+Shift+p]" accessKey=p href="https://help.supermemo.org/index.php?title=References&amp;printable=yes" rel=alternate>Printable version</A> 
<LI id=t-permalink><A title="Permanent link to this revision of the page" href="https://help.supermemo.org/index.php?title=References&amp;oldid=10409">Permanent link</A> 
<LI id=t-info><A title="More information about this page" href="https://help.supermemo.org/index.php?title=References&amp;action=info">Page information</A></LI></UL></DIV></DIV></DIV></DIV>
<DIV role=contentinfo id=footer>
<UL id=footer-info>
<LI id=footer-info-lastmod>This page was last edited on 3 April 2019, at 07:05.</LI></UL>
<UL id=footer-places>
<LI id=footer-places-privacy><A title="SuperMemo Help:Privacy policy" href="https://help.supermemo.org/wiki/SuperMemo_Help:Privacy_policy">Privacy policy</A> 
<LI id=footer-places-about><A title="SuperMemo Help:About" href="https://help.supermemo.org/wiki/SuperMemo_Help:About">About SuperMemo Help</A> 
<LI id=footer-places-disclaimer><A title="SuperMemo Help:General disclaimer" href="https://help.supermemo.org/wiki/SuperMemo_Help:General_disclaimer">Disclaimers</A></LI></UL>
<UL id=footer-icons class=noprint>
<LI id=footer-poweredbyico><A href="https://www.mediawiki.org/"><img alt="Powered by MediaWiki" src="https://help.supermemo.org/resources/assets/poweredby_mediawiki_88x31.png" width=88 height=31 srcset="/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /resources/assets/poweredby_mediawiki_176x62.png 2x"></A> </LI></UL>
<DIV style="CLEAR: both">