<FONT color=#000000 size=3 face=Calibri>
<P><FONT color=#000000 size=3 face=Calibri>(Endpoint Estimations)</FONT></P></FONT>
<P><FONT color=#000000 size=3 face=Calibri>If a function is always increasing on a given interval:</FONT> </P>
<UL style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%">
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The <SPAN><U><STRONG>left</STRONG></U></SPAN> Riemann sum will be an <SPAN class=cloze>[...](estimation)</SPAN>.</FONT> 
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The right Riemann sum will be an [. . .]</FONT></LI></UL>