if <FONT face="Lucida Calligraphy">F </FONT>'(x) = <FONT face="Lucida Calligraphy">f</FONT>(x)</P>
<P><FONT face="Lucida Calligraphy">F</FONT> is a <SPAN class=cloze>[...]</SPAN> of <FONT face="Lucida Calligraphy">f</FONT>