<strong><font color="blue"> : </font></strong><H3 id=handles><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#handles"></A>2.9. Handles</H3>
<DIV class=paragraph>
<P>Objects which are allocated by the runtime on behalf of applications are represented by handles. Handles are opaque identifiers for objects whose lifetime is controlled by applications via the create and destroy functions. Example handle types include <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A>, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A>, and <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchain">XrSwapchain</A>. Handles which have not been destroyed are unique for a given application process, but <STRONG class=purple>may</STRONG> be reused after being destroyed. Unless otherwise specified, a successful handle creation function call returns a new unique handle. Unless otherwise specified, handles are implicitly destroyed when their parent handle is destroyed. Applications <STRONG class=purple>may</STRONG> destroy handles explicitly before the parent handle is destroyed, and <STRONG class=purple>should</STRONG> do so if no longer needed, in order to conserve resources. Runtimes <STRONG class=purple>may</STRONG> detect <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_HANDLE">XR_NULL_HANDLE</A> and other invalid handles passed where a valid handle is required and return <CODE>XR_ERROR_HANDLE_INVALID</CODE>. However, runtimes are not required to do so unless otherwise specified, and so use of any invalid handle <STRONG class=purple>may</STRONG> result in undefined behavior. When a function has an optional handle parameter, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_HANDLE">XR_NULL_HANDLE</A> <STRONG class=purple>must</STRONG> be used unless passing a valid handle.</P></DIV>
<DIV class=paragraph>
<P>All functions that take a handle parameter <STRONG class=purple>may</STRONG> return <CODE>XR_ERROR_HANDLE_INVALID</CODE>.</P></DIV>
<DIV class=paragraph>
<P>Handles form a hierarchy in which child handles fall under the validity and lifetime of parent handles. For example, to create an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchain">XrSwapchain</A> handle, applications must call <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateSwapchain">xrCreateSwapchain</A> and pass an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> handle. Thus <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchain">XrSwapchain</A> is a child handle to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A>.</P></DIV></DIV>
<DIV class=sect2>
<H3 id=object-handle-types><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#object-handle-types"></A>2.10. Object Handle Types</H3>
<DIV class=paragraph>
<P>The type of an object handle used in a function is usually determined by the specification of that function, as discussed in <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-object-handles">Valid Usage for Object Handles</A>. However, some functions accept or return object handle parameters where the type of the object handle is unknown at execution time and is not specified in the description of the function itself. For these functions, the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A> <STRONG class=purple>may</STRONG> be used to explicitly specify the type of a handle.</P></DIV>
<DIV class=paragraph>
<P>For example, an information-gathering or debugging mechanism implemented in a runtime extension or API layer extension <STRONG class=purple>may</STRONG> return a list of object handles that are generated by the mechanism&#8217;s operation. The same mechanism <STRONG class=purple>may</STRONG> also return a parallel list of object handle types that allow the recipient of this information to easily determine the types of the handles.</P></DIV>
<DIV class=paragraph>
<P>In general, anywhere an object handle of more than one type can occur, the object handle type <STRONG class=purple>may</STRONG> be provided to indicate its type.</P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrObjectType class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef enum XrObjectType {
    XR_OBJECT_TYPE_UNKNOWN = 0,
    XR_OBJECT_TYPE_INSTANCE = 1,
    XR_OBJECT_TYPE_SESSION = 2,
    XR_OBJECT_TYPE_SWAPCHAIN = 3,
    XR_OBJECT_TYPE_SPACE = 4,
    XR_OBJECT_TYPE_ACTION_SET = 5,
    XR_OBJECT_TYPE_ACTION = 6,
    XR_OBJECT_TYPE_DEBUG_UTILS_MESSENGER_EXT = 1000019000,
    XR_OBJECT_TYPE_SPATIAL_ANCHOR_MSFT = 1000039000,
    XR_OBJECT_TYPE_SPATIAL_GRAPH_NODE_BINDING_MSFT = 1000049000,
    XR_OBJECT_TYPE_HAND_TRACKER_EXT = 1000051000,
    XR_OBJECT_TYPE_SCENE_OBSERVER_MSFT = 1000097000,
    XR_OBJECT_TYPE_SCENE_MSFT = 1000097001,
    XR_OBJECT_TYPE_FACIAL_TRACKER_HTC = 1000104000,
    XR_OBJECT_TYPE_FOVEATION_PROFILE_FB = 1000114000,
    XR_OBJECT_TYPE_TRIANGLE_MESH_FB = 1000117000,
    XR_OBJECT_TYPE_PASSTHROUGH_FB = 1000118000,
    XR_OBJECT_TYPE_PASSTHROUGH_LAYER_FB = 1000118002,
    XR_OBJECT_TYPE_GEOMETRY_INSTANCE_FB = 1000118004,
    XR_OBJECT_TYPE_SPATIAL_ANCHOR_STORE_CONNECTION_MSFT = 1000142000,
    XR_OBJECT_TYPE_MAX_ENUM = 0x7FFFFFFF
} XrObjectType;</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A> enumeration defines values, each of which corresponds to a specific OpenXR handle type. These values <STRONG class=purple>can</STRONG> be used to associate debug information with a particular type of object through one or more extensions.</P></DIV>
<DIV class=paragraph>
<P>The following table defines <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A> and OpenXR Handle relationships:</P></DIV>
<TABLE class="tableblock frame-all grid-all" style="WIDTH: 80%">
<COLGROUP>
<COL style="WIDTH: 60.34%">
<COL style="WIDTH: 39.65%"></COLGROUP>
<THEAD>
<TR>
<TH class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white"><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A></TH>
<TH class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">OpenXR Handle Type</TH></TR></THEAD>
<TBODY>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_UNKNOWN</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock>Unknown/Undefined Handle</P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_INSTANCE</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A></P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_SESSION</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A></P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_SWAPCHAIN</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchain">XrSwapchain</A></P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_SPACE</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpace">XrSpace</A></P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_ACTION_SET</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrActionSet">XrActionSet</A></P></TD></TR>
<TR>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><CODE>XR_OBJECT_TYPE_ACTION</CODE></P></TD>
<TD class="tableblock halign-left valign-top" style="BACKGROUND-COLOR: white">
<P class=tableblock><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrAction">XrAction</A></P></TD></TR></TBODY></TABLE></DIV></DIV></DIV>
<DIV class=sect2>
<H3 id=buffer-size-parameters><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#buffer-size-parameters"></A>2.11. Buffer Size Parameters</H3>
<DIV class=paragraph>
<P>Functions with input/output buffer parameters take on either parameter form or struct form, looking like one of the following examples, with the element type being <CODE>float</CODE> in this case:</P></DIV>
<DIV class=paragraph>
<P>Parameter form:</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight linenums"><CODE data-lang="listing">XrResult xrFunction(uint32_t elementCapacityInput, uint32_t* elementCountOutput, float* elements);</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P>Struct form:</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight linenums"><CODE data-lang="listing">XrResult xrFunction(XrBuffer* buffer);

struct XrBuffer {
    uint32_t              elementCapacityInput;
    uint32_t              elementCountOutput;
    float*                elements;
};</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P>A two-call idiom <STRONG class=purple>may</STRONG> be employed, first calling <CODE>xrFunction</CODE> (with a valid <CODE>elementCountOutput</CODE> pointer if in parameter form), but passing <CODE>NULL</CODE> as <CODE>elements</CODE> and <CODE>0</CODE> as <CODE>elementCapacityInput</CODE>, to retrieve the required buffer size as number of elements (number of floats in this example). After allocating a buffer at least as large as <CODE>elementCountOutput</CODE> (in a struct) or the value pointed to by <CODE>elementCountOutput</CODE> (as parameters), a pointer to the allocated buffer <STRONG class=purple>should</STRONG> be passed as <CODE>elements</CODE>, along with the buffer&#8217;s length in <CODE>elementCapacityInput</CODE>, to a second call to <CODE>xrFunction</CODE> to perform the retrieval of the data. In case that <CODE>elements</CODE> is a struct with <CODE>type</CODE> and <CODE>next</CODE> fields, the application <STRONG class=purple>must</STRONG> set the <CODE>type</CODE> to the correct value as well as <CODE>next</CODE> either to <CODE>NULL</CODE> or a struct with extension related data in which <CODE>type</CODE> and <CODE>next</CODE> also need to be well defined.</P></DIV>
<DIV class=paragraph>
<P>In the following discussion, "set <CODE>elementCountOutput</CODE>" should be interpreted as "set the value pointed to by <CODE>elementCountOutput</CODE>" in parameter form and "set the value of <CODE>elementCountOutput</CODE>" in struct form. These functions have the below-listed behavior with respect to the buffer size parameters:</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Buffer Size Parameter Behavior</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>The element capacity and count arguments precede the array to which they refer, in argument order.</P></LI>
<LI>
<P><CODE>elementCapacityInput</CODE> specifies the capacity in number of elements of the buffer to be written, or <CODE>0</CODE> to indicate a request for the required buffer size.</P></LI>
<LI>
<P>Independent of <CODE>elementCapacityInput</CODE> or <CODE>elements</CODE> parameters, the function sets <CODE>elementCountOutput</CODE>. <CODE>elementCountOutput</CODE> <STRONG class=purple>must</STRONG> be a valid pointer if the function uses parameter form.</P></LI>
<LI>
<P>Where the <CODE>elementCapacityInput</CODE> is <CODE>0</CODE>, the function sets <CODE>elementCountOutput</CODE> to the required size in number of elements and <STRONG class=purple>must</STRONG> return <CODE>XR_SUCCESS</CODE>. <CODE>elements</CODE> is ignored.</P></LI>
<LI>
<P>Where the <CODE>elementCapacityInput</CODE> is non-zero but less than required, the function sets <CODE>elementCountOutput</CODE> to the required capacity, and <STRONG class=purple>must</STRONG> return <CODE>XR_ERROR_SIZE_INSUFFICIENT</CODE>. The data in <CODE>elements</CODE> is undefined.</P></LI>
<LI>
<P>Where the <CODE>elementCapacityInput</CODE> is non-zero and the function returned successfully, the function sets <CODE>elementCountOutput</CODE> to the count of the elements that have been written to <CODE>elements</CODE>.</P></LI>
<LI>
<P>Upon a failure for reasons unrelated to the element array capacity, the contents of <CODE>elementCountOutput</CODE> and <CODE>elements</CODE> are undefined.</P></LI>
<LI>
<P>In the case that the element array refers to a string (is of type <CODE>char*</CODE>), <CODE>elementCapacityInput</CODE> and <CODE>elementCountOutput</CODE> refer to the string <CODE>strlen</CODE> plus <CODE>1</CODE> for a <CODE>NULL</CODE> terminator.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>Some functions fill multiple buffers in one call. For these functions, the <CODE>elementCapacityInput</CODE>, <CODE>elementCountOutput</CODE> and <CODE>elements</CODE> parameters or fields are repeated, once per buffer, with different prefixes. In that case, the semantics above still apply, with the additional behavior that if any <CODE>elementCapacityInput</CODE> parameter or field is set to 0 by the application, the runtime <STRONG class=purple>must</STRONG> treat all <CODE>elementCapacityInput</CODE> values as if they were set to 0. If any <CODE>elementCapacityInput</CODE> value is too small to fit all elements of the buffer, <CODE>XR_ERROR_SIZE_INSUFFICIENT</CODE> <STRONG class=purple>must</STRONG> be returned, and the data in all buffers is undefined.</P></DIV></DIV>
<DIV class=sect2>
<H3 id=time><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#time"></A>2.12. Time</H3>
<DIV class=paragraph>
<P>Time is represented by a 64-bit signed integer representing nanoseconds (<A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrTime"><CODE>XrTime</CODE></A>). The passage of time <STRONG class=purple>must</STRONG> be monotonic and not real-time (i.e. wall clock time). Thus the time is always increasing at a constant rate and is unaffected by clock changes, time zones, daylight savings, etc.</P></DIV>
<DIV class=sect3>