<SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff">
<P><SPAN class=extract><SPAN class=extract><SPAN class=extract><FONT style="BACKGROUND-COLOR: #ffffff">Cofunction Identity:</FONT></SPAN></SPAN></SPAN></P>csc(A) = <SPAN class=clozed>sec(pi/2 - A)</SPAN></FONT></SPAN></SPAN></SPAN>