<DIV id=pdf-element-title>Tipler_Llewellyn-19-758-119-127.pdf</DIV>
<DIV id=pdf-element-filename>Tipler_Llewellyn-19-758-119-127.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTU3LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjgsIlJQdCI6Ii0xNzIuODY2MzQ4MjY2NjAyLDQ2OCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV><SPAN>