(FTC Part 1) 
<P></P>
<P>If f(x) is <SPAN>continuous</SPAN> from <SPAN>[a,b], </SPAN>then</P>
<P>g(x) defined&nbsp;by&nbsp; g(x) = <SPAN>integral(a,x) f(t) dt </SPAN>,&nbsp;&nbsp;<SPAN>(a &lt;= x &lt;= b)</SPAN> is</P>
<P>-&nbsp;<SPAN>continuous</SPAN> from&nbsp; . . . .</P>
<P>- <SPAN>differentiable</SPAN> from <SPAN class=cloze>[...]</SPAN></P>
<P>and</P>
<P>g'(x) = (d/dx)g(x) = f(x)