<strong><font color="blue"> : </font></strong><H2 id=deprecated-extension-appendices-list><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#deprecated-extension-appendices-list"></A>14. List of Deprecated Extensions</H2>
<DIV class=sectionbody>
<DIV class=ulist>
<UL>
<LI>
<P><CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MND_swapchain_usage_input_attachment_bit">XR_MND_swapchain_usage_input_attachment_bit</A></CODE></P></LI></UL></DIV>
<DIV style="PAGE-BREAK-AFTER: always"></DIV>
<DIV class=sect2>