<strong><font color="blue"> : </font></strong><H3 id=XR_MND_swapchain_usage_input_attachment_bit><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MND_swapchain_usage_input_attachment_bit"></A>14.1. XR_MND_swapchain_usage_input_attachment_bit</H3>
<DIV class=dlist>
<DL>
<DT class=hdlist1><STRONG>Name String</STRONG></DT>
<DD>
<P><CODE>XR_MND_swapchain_usage_input_attachment_bit</CODE></P></DD>
<DT class=hdlist1><STRONG>Extension Type</STRONG></DT>
<DD>
<P>Instance extension</P></DD>
<DT class=hdlist1><STRONG>Registered Extension Number</STRONG></DT>
<DD>
<P>97</P></DD>
<DT class=hdlist1><STRONG>Revision</STRONG></DT>
<DD>
<P>2</P></DD>
<DT class=hdlist1><STRONG>Extension and Version Dependencies</STRONG></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P>Requires OpenXR 1.0</P></LI></UL></DIV></DD>
<DT class=hdlist1><STRONG>Deprecation state</STRONG></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><EM>Promoted</EM> to <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_KHR_swapchain_usage_input_attachment_bit">XR_KHR_swapchain_usage_input_attachment_bit</A></CODE> extension</P></LI></UL></DIV></DD>
<DT class=hdlist1><STRONG>Last Modified Date</STRONG></DT>
<DD>
<P>2020-07-24</P></DD>
<DT class=hdlist1><STRONG>IP Status</STRONG></DT>
<DD>
<P>No known IP claims.</P></DD>
<DT class=hdlist1><STRONG>Contributors</STRONG></DT>
<DD>
<P>Jakob Bornecrantz, Collabora</P></DD></DL></DIV>
<DIV class=paragraph>
<P><STRONG>Overview</STRONG></P></DIV>
<DIV class=paragraph>
<P>This extension enables an application to specify that swapchain images should be created in a way so that they can be used as input attachments. At the time of writing this bit only affects Vulkan swapchains.</P></DIV>
<DIV class=paragraph>
<P><STRONG>New Object Types</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Flag Types</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Enum Constants</STRONG></P></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchainUsageFlagBits">XrSwapchainUsageFlagBits</A> enumeration is extended with:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SWAPCHAIN_USAGE_INPUT_ATTACHMENT_BIT_MND</CODE></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>New Enums</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Structures</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Functions</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>Issues</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>Version History</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Revision 1, 2020-07-23 (Jakob Bornecrantz)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Initial draft</P></LI></UL></DIV></LI>
<LI>
<P>Revision 2, 2020-07-24 (Jakob Bornecrantz)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Added note about only affecting Vulkan</P></LI>
<LI>
<P>Changed from MNDX to MND</P></LI></UL></DIV></LI></UL></DIV></DIV></DIV></DIV>
<DIV class=sect1>