<strong><font color="blue"> : </font></strong><H4 id=_xrenumerateviewconfigurations><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrenumerateviewconfigurations"></A>8.2.1. xrEnumerateViewConfigurations</H4>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrEnumerateViewConfigurations">xrEnumerateViewConfigurations</A> function is defined as:</P></DIV>
<DIV id=xrEnumerateViewConfigurations class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrEnumerateViewConfigurations(
    XrInstance                                  instance,
    XrSystemId                                  systemId,
    uint32_t                                    viewConfigurationTypeCapacityInput,
    uint32_t*                                   viewConfigurationTypeCountOutput,
    XrViewConfigurationType*                    viewConfigurationTypes);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is the instance from which <CODE>systemId</CODE> was retrieved.</P></LI>
<LI>
<P><CODE>systemId</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemId"><CODE>XrSystemId</CODE></A> whose view configurations will be enumerated.</P></LI>
<LI>
<P><CODE>viewConfigurationsTypeCapacityInput</CODE> is the capacity of the <CODE>viewConfigurations</CODE> array, or 0 to indicate a request to retrieve the required capacity.</P></LI>
<LI>
<P><CODE>viewConfigurationsTypeCountOutput</CODE> is a pointer to the count of <CODE>viewConfigurations</CODE> written, or a pointer to the required capacity in the case that <CODE>viewConfigurationsTypeCapacityInput</CODE> is insufficient.</P></LI>
<LI>
<P><CODE>viewConfigurationsTypes</CODE> is a pointer to an array of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> values, but <STRONG class=purple>can</STRONG> be <CODE>NULL</CODE> if <CODE>viewConfigurationsTypeCapacityInput</CODE> is 0.</P></LI>
<LI>
<P>See <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#buffer-size-parameters">Buffer Size Parameters</A> chapter for a detailed description of retrieving the required <CODE>viewConfigurations</CODE> size.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrEnumerateViewConfigurations">xrEnumerateViewConfigurations</A> enumerates the view configuration types supported by the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemId"><CODE>XrSystemId</CODE></A>. The supported set for that system <STRONG class=purple>must</STRONG> not change during the lifetime of its <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A>. The returned list of primary view configurations <STRONG class=purple>should</STRONG> be in order from what the runtime considered highest to lowest user preference. Thus the first enumerated view configuration type <STRONG class=purple>should</STRONG> be the one the runtime prefers the application to use if possible.</P></DIV>
<DIV class=paragraph>
<P>Runtimes <STRONG class=purple>must</STRONG> always return identical buffer contents from this enumeration for the given <CODE>systemId</CODE> and for the lifetime of the instance.</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurations-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurations-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurations-viewConfigurationTypeCountOutput-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurations-viewConfigurationTypeCountOutput-parameter"></A><CODE>viewConfigurationTypeCountOutput</CODE> <STRONG class=purple>must</STRONG> be a pointer to a <CODE>uint32_t</CODE> value</P></LI>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurations-viewConfigurationTypes-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurations-viewConfigurationTypes-parameter"></A>If <CODE>viewConfigurationTypeCapacityInput</CODE> is not <CODE>0</CODE>, <CODE>viewConfigurationTypes</CODE> <STRONG class=purple>must</STRONG> be a pointer to an array of <CODE>viewConfigurationTypeCapacityInput</CODE> <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> values</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SIZE_INSUFFICIENT</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SYSTEM_INVALID</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_xrgetviewconfigurationproperties><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrgetviewconfigurationproperties"></A>8.2.2. xrGetViewConfigurationProperties</H4>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetViewConfigurationProperties">xrGetViewConfigurationProperties</A> function is defined as:</P></DIV>
<DIV id=xrGetViewConfigurationProperties class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrGetViewConfigurationProperties(
    XrInstance                                  instance,
    XrSystemId                                  systemId,
    XrViewConfigurationType                     viewConfigurationType,
    XrViewConfigurationProperties*              configurationProperties);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is the instance from which <CODE>systemId</CODE> was retrieved.</P></LI>
<LI>
<P><CODE>systemId</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemId"><CODE>XrSystemId</CODE></A> whose view configuration is being queried.</P></LI>
<LI>
<P><CODE>viewConfigurationType</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> of the configuration to get.</P></LI>
<LI>
<P><CODE>configurationProperties</CODE> is a pointer to view configuration properties to return.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetViewConfigurationProperties">xrGetViewConfigurationProperties</A> queries properties of an individual view configuration. Applications <STRONG class=purple>must</STRONG> use one of the supported view configuration types returned by <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrEnumerateViewConfigurations">xrEnumerateViewConfigurations</A>. If <CODE>viewConfigurationType</CODE> is not supported by this <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> the runtime <STRONG class=purple>must</STRONG> return <CODE>XR_ERROR_VIEW_CONFIGURATION_TYPE_UNSUPPORTED</CODE>.</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrGetViewConfigurationProperties-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetViewConfigurationProperties-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrGetViewConfigurationProperties-viewConfigurationType-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetViewConfigurationProperties-viewConfigurationType-parameter"></A><CODE>viewConfigurationType</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> value</P></LI>
<LI>
<P><A id=VUID-xrGetViewConfigurationProperties-configurationProperties-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetViewConfigurationProperties-configurationProperties-parameter"></A><CODE>configurationProperties</CODE> <STRONG class=purple>must</STRONG> be a pointer to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationProperties">XrViewConfigurationProperties</A> structure</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VIEW_CONFIGURATION_TYPE_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SYSTEM_INVALID</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_xrviewconfigurationproperties><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrviewconfigurationproperties"></A>8.2.3. XrViewConfigurationProperties</H4>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationProperties">XrViewConfigurationProperties</A> structure is defined as:</P></DIV>
<DIV id=XrViewConfigurationProperties class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrViewConfigurationProperties {
    XrStructureType            type;
    void*                      next;
    XrViewConfigurationType    viewConfigurationType;
    XrBool32                   fovMutable;
} XrViewConfigurationProperties;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR.</P></LI>
<LI>
<P><CODE>viewConfigurationType</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> of the configuration.</P></LI>
<LI>
<P><CODE>fovMutable</CODE> indicates if the view field of view can be modified by the application.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrViewConfigurationProperties-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrViewConfigurationProperties-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_VIEW_CONFIGURATION_PROPERTIES</CODE></P></LI>
<LI>
<P><A id=VUID-XrViewConfigurationProperties-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrViewConfigurationProperties-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI>
<LI>
<P><A id=VUID-XrViewConfigurationProperties-viewConfigurationType-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrViewConfigurationProperties-viewConfigurationType-parameter"></A><CODE>viewConfigurationType</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> value</P></LI></UL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_xrenumerateviewconfigurationviews><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrenumerateviewconfigurationviews"></A>8.2.4. xrEnumerateViewConfigurationViews</H4>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrEnumerateViewConfigurationViews">xrEnumerateViewConfigurationViews</A> function is defined as:</P></DIV>
<DIV id=xrEnumerateViewConfigurationViews class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrEnumerateViewConfigurationViews(
    XrInstance                                  instance,
    XrSystemId                                  systemId,
    XrViewConfigurationType                     viewConfigurationType,
    uint32_t                                    viewCapacityInput,
    uint32_t*                                   viewCountOutput,
    XrViewConfigurationView*                    views);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is the instance from which <CODE>systemId</CODE> was retrieved.</P></LI>
<LI>
<P><CODE>systemId</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemId"><CODE>XrSystemId</CODE></A> whose view configuration is being queried.</P></LI>
<LI>
<P><CODE>viewConfigurationType</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> of the configuration to get.</P></LI>
<LI>
<P><CODE>viewCapacityInput</CODE> is the capacity of the <CODE>views</CODE> array, or 0 to indicate a request to retrieve the required capacity.</P></LI>
<LI>
<P><CODE>viewCountOutput</CODE> is a pointer to the count of <CODE>views</CODE> written, or a pointer to the required capacity in the case that <CODE>viewCapacityInput</CODE> is 0.</P></LI>
<LI>
<P><CODE>views</CODE> is a pointer to an array of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationView">XrViewConfigurationView</A> values, but <STRONG class=purple>can</STRONG> be <CODE>NULL</CODE> if <CODE>viewCapacityInput</CODE> is 0.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>Each <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> defines the number of views associated with it. Applications can query more details of each view element using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrEnumerateViewConfigurationViews">xrEnumerateViewConfigurationViews</A>. If the supplied <CODE>viewConfigurationType</CODE> is not supported by this <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> and <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemId"><CODE>XrSystemId</CODE></A>, the runtime <STRONG class=purple>must</STRONG> return <CODE>XR_ERROR_VIEW_CONFIGURATION_TYPE_UNSUPPORTED</CODE>.</P></DIV>
<DIV class=paragraph>
<P>Runtimes <STRONG class=purple>must</STRONG> always return identical buffer contents from this enumeration for the given <CODE>systemId</CODE> and <CODE>viewConfigurationType</CODE> for the lifetime of the instance.</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurationViews-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurationViews-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurationViews-viewConfigurationType-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurationViews-viewConfigurationType-parameter"></A><CODE>viewConfigurationType</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A> value</P></LI>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurationViews-viewCountOutput-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurationViews-viewCountOutput-parameter"></A><CODE>viewCountOutput</CODE> <STRONG class=purple>must</STRONG> be a pointer to a <CODE>uint32_t</CODE> value</P></LI>
<LI>
<P><A id=VUID-xrEnumerateViewConfigurationViews-views-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrEnumerateViewConfigurationViews-views-parameter"></A>If <CODE>viewCapacityInput</CODE> is not <CODE>0</CODE>, <CODE>views</CODE> <STRONG class=purple>must</STRONG> be a pointer to an array of <CODE>viewCapacityInput</CODE> <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationView">XrViewConfigurationView</A> structures</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SIZE_INSUFFICIENT</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VIEW_CONFIGURATION_TYPE_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SYSTEM_INVALID</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_xrviewconfigurationview><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_xrviewconfigurationview"></A>8.2.5. XrViewConfigurationView</H4>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>Each <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationView">XrViewConfigurationView</A> specifies properties related to rendering of an individual view within a view configuration.</P></DIV>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationView">XrViewConfigurationView</A> structure is defined as:</P></DIV>
<DIV id=XrViewConfigurationView class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrViewConfigurationView {
    XrStructureType    type;
    void*              next;
    uint32_t           recommendedImageRectWidth;
    uint32_t           maxImageRectWidth;
    uint32_t           recommendedImageRectHeight;
    uint32_t           maxImageRectHeight;
    uint32_t           recommendedSwapchainSampleCount;
    uint32_t           maxSwapchainSampleCount;
} XrViewConfigurationView;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR.</P></LI>
<LI>
<P><CODE>recommendedImageRectWidth</CODE> is the optimal width of <CODE>imageRect</CODE> to use when rendering this view into a swapchain.</P></LI>
<LI>
<P><CODE>maxImageRectWidth</CODE> is the maximum width of <CODE>imageRect</CODE> supported when rendering this view into a swapchain.</P></LI>
<LI>
<P><CODE>recommendedImageRectHeight</CODE> is the optimal height of <CODE>imageRect</CODE> to use when rendering this view into a swapchain.</P></LI>
<LI>
<P><CODE>maxImageRectHeight</CODE> is the maximum height of <CODE>imageRect</CODE> supported when rendering this view into a swapchain.</P></LI>
<LI>
<P><CODE>recommendedSwapchainSampleCount</CODE> is the recommended number of sub-data element samples to create for each swapchain image that will be rendered into for this view.</P></LI>
<LI>
<P><CODE>maxSwapchainSampleCount</CODE> is the maximum number of sub-data element samples supported for swapchain images that will be rendered into for this view.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>See <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchainSubImage">XrSwapchainSubImage</A> for more information about <CODE>imageRect</CODE> values, and <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSwapchainCreateInfo">XrSwapchainCreateInfo</A> for more information about creating swapchains appropriately sized to support those <CODE>imageRect</CODE> values.</P></DIV>
<DIV class=paragraph>
<P>The array of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationView">XrViewConfigurationView</A> returned by the runtime <STRONG class=purple>must</STRONG> adhere to the rules defined in <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#view_configuration_type"></A><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationType">XrViewConfigurationType</A>, such as the count and association to the left and right eyes.</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrViewConfigurationView-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrViewConfigurationView-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_VIEW_CONFIGURATION_VIEW</CODE></P></LI>
<LI>
<P><A id=VUID-XrViewConfigurationView-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrViewConfigurationView-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A>. See also: <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrFoveatedViewConfigurationViewVARJO">XrFoveatedViewConfigurationViewVARJO</A>, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationDepthRangeEXT">XrViewConfigurationDepthRangeEXT</A>, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrViewConfigurationViewFovEPIC">XrViewConfigurationViewFovEPIC</A></P></LI></UL></DIV></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect2>