<FONT size=2 face=Verdana>The main difference between <STRONG>Blackouts</STRONG> and <STRONG>Brownouts</STRONG> is that ...</FONT></P>
<P><FONT size=2 face=Verdana><SPAN class=cloze>[...]</SPAN></FONT>