<SPAN>all solutions of a first-order DE form a family of solutions expressed <BR>with a single parameter c. Such a family is called the general solution</SPAN>&nbsp; <BR><BR><SPAN><SPAN class=extract><SPAN>most DEs have an infinite number of solutions</SPAN></SPAN></SPAN> 
<P><SPAN>what do all solutions of first order DE have in common?</SPAN></P>
<P><SPAN>they share a parameter c</SPAN></P>
<P><SPAN>what is a general solution?</SPAN></P>
<P><SPAN>collection&nbsp;of solutions distinguished by their value of c