<DIV id=pdf-element-title>12.04 _The_Cross_Product.pdf</DIV>
<DIV id=pdf-element-filename>12.04 _The_Cross_Product.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTc3LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjEzLCJSUHQiOiItMzkuNjAwMDAyMjg4ODE4NCw3MDMuMjAwMDEyMjA3MDMxIiwiRUYiOjEsIlBERkV4dHJhY3RQcmlvcml0eSI6MC4wLCJTTUV4dHJhY3RQcmlvcml0eSI6MC4wLCJWTSI6MCwiUE0iOjQsIlBNRSI6dHJ1ZSwiWiI6MS4yNX0=</DIV><SPAN>