&nbsp; 
<DIV id=mw-page-base class=noprint></DIV>
<DIV id=mw-head-base class=noprint></DIV>
<DIV role=main id=content class=mw-body><A id=top></A>
<DIV class="mw-indicators mw-body-content"></DIV>
<H1 lang=en id=firstHeading class=firstHeading>Introduction</H1>
<DIV id=bodyContent class=mw-body-content>
<DIV id=contentSub></DIV>
<DIV id=jump-to-nav></DIV><A class=mw-jump-link href="https://help.supermemo.org/wiki/Introduction#mw-head">Jump to navigation</A> <A class=mw-jump-link href="https://help.supermemo.org/wiki/Introduction#p-search">Jump to search</A> 
<DIV lang=en id=mw-content-text class=mw-content-ltr dir=ltr>
<DIV class=mw-parser-output>
<H2><SPAN id=SuperMemo_will_help_you_learn_faster!></SPAN><SPAN id=SuperMemo_will_help_you_learn_faster.21 class=mw-headline>SuperMemo will help you learn faster!</SPAN></H2>
<P>It is enough that you spend 3 minutes reading this page to be able to begin learning with SuperMemo! </P>
<P>For a good start, you only need two options: </P>
<OL>
<LI><B><A title="Add new" href="https://help.supermemo.org/wiki/Add_new">Add new</A></B> - to add new questions and answers to SuperMemo (keyboard: <I>Alt+A</I>) 
<LI><B><A title=Learn href="https://help.supermemo.org/wiki/Learn">Learn</A></B> - to review the material that you want to remember (keyboard: <I>Ctrl+L</I>)</LI></OL>
<P><A title="SuperMemo: Adding new questions and answers at the Beginner Level" class=image href="https://help.supermemo.org/wiki/File:Add_new.jpg"><img alt="SuperMemo: Adding new questions and answers at the Beginner Level" src="https://help.supermemo.org/images/thumb/0/04/Add_new.jpg/500px-Add_new.jpg" width=500 height=375 srcset="/images/thumb/0/04/Add_new.jpg/750px-Add_new.jpg 1.5x, /images/thumb/0/04/Add_new.jpg/1000px-Add_new.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Adding new questions and answers in SuperMemo at the <B>Beginner</B> <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Level" data-hasqtip="0" oldtitle="Glossary:Level">level</A></I> </P></BLOCKQUOTE>
<P><B>Start learning now!</B> Initially you may doubt the power of SuperMemo. Trust it for 1-2 weeks and you will begin to understand it better. Add at least 50-100 questions-answer pairs related to your job, your life, or your interests. See how SuperMemo schedules the material for review. See how your memory gets a boost from reviewing that material. </P>
<H2><SPAN id=Summary:_The_ABC_of_SuperMemo class=mw-headline>Summary: The ABC of SuperMemo</SPAN></H2>
<UL>
<LI><SPAN style="FONT-SIZE: xx-large; FONT-WEIGHT: bold; COLOR: red">A</SPAN>dd new material with <B><A title="Add new" href="https://help.supermemo.org/wiki/Add_new">Add new</A></B> (<I>Alt+A</I>) 
<LI><SPAN style="FONT-SIZE: xx-large; FONT-WEIGHT: bold; COLOR: red">B</SPAN>e sure to review your daily dose of material with <B><A title=Learn href="https://help.supermemo.org/wiki/Learn">Learn</A></B> (<I>Ctrl+L</I>) 
<LI><SPAN style="FONT-SIZE: xx-large; FONT-WEIGHT: bold; COLOR: red">C</SPAN>herish the blessing of empowering wisdom! (which in simple English means: <A class="external text" href="https://supermemo.guru/wiki/Pleasure_of_learning">Have fun with your new knowledge</A>)</LI></UL>
<DIV class="bs-callout bs-callout-highlight">Option <B>Learn</B> will ask you to review your material only after a few days. For that reason, spend your first days on adding new material for learning</DIV>
<H2><SPAN id=Important_reading class=mw-headline>Important reading</SPAN></H2>
<UL>
<LI><A class="external text" href="https://super-memory.com/help/faq/begin.htm">Beginner's FAQ</A> - questions most often asked by SuperMemo beginners 
<LI><A class="external text" href="https://supermemopedia.com/wiki/SuperMemo_is_too_difficult!">SuperMemo is too difficult!!!</A> 
<LI><A title="Step-by-step to SuperMemo mastery" href="https://help.supermemo.org/wiki/Step-by-step_to_SuperMemo_mastery">Step by step to SuperMemo Mastery: <B>User's Guide</B></A> - this step-by-step course of SuperMemo will help you learn the most important skills of an advanced SuperMemo user in a sequence that will maximize the gradual increase in your productivity 
<LI><A title=Backup href="https://help.supermemo.org/wiki/Backup"><B>Backup</B></A> - to make sure you never lose your learning investment, you must learn how to back up your learning material! 
<LI><A class="external text" href="https://supermemo.guru/wiki/20_rules_of_knowledge_formulation">20 rules of formulating knowledge</A> - the way you put your questions and answers together may determine the degree of your success 
<LI><A class="external text" href="https://super-memory.com/articles/decalog.htm">SuperMemo Decalog</A> - SuperMemo beginners tend to make the same mistakes. This text will help you avoid these mistakes and enjoy efficient learning 
<LI><A title="Incremental learning" href="https://help.supermemo.org/wiki/Incremental_learning">Incremental learning</A> - adding questions and answers is the "old way" in SuperMemo. The new way is <I>incremental learning</I>. Incremental learning is more complex and requires more experience. However, it is by far the best way to learn new material imported from the web 
<LI><A class="external text" href="https://supermemopedia.com/">SuperMemopedia</A> - Encyclopedia of SuperMemo written by users of SuperMemo 
<LI><A class="external text" href="https://supermemopedia.com/wiki/ABC">Beginner's FAQ Wiki</A> - frequently asked questions that you can edit and add your own 
<LI><A class="external text" href="https://www.antimoon.com/how/usingsm-firstcoll.htm">Starting your first SuperMemo collection</A> - ABC of SuperMemo by <A class="external text" href="https://www.antimoon.com/">Antimoon.com</A> 
<LI><A class="external text" href="https://supermemo.guru/wiki/Pleasure_of_learning">Pleasure of learning</A> - you must never forget that learning must be fun, or it may rather result in &#8230; <A class="external text" href="https://supermemo.guru/wiki/Hating_SuperMemo">hating SuperMemo!</A></LI></UL></DIV></DIV>
<DIV class=visualClear></DIV></DIV></DIV>
<DIV id=mw-navigation>
<H2>Navigation menu</H2>
<DIV id=mw-head>
<DIV role=navigation id=p-personal aria-labelledby=p-personal-label>
<UL>
<LI id=pt-createaccount><A title="You are encouraged to create an account and log in; however, it is not mandatory" href="https://help.supermemo.org/index.php?title=Special:CreateAccount&amp;returnto=Introduction">Create account</A> 
<LI id=pt-login><A title="You are encouraged to log in; however, it is not mandatory [Alt+Shift+o]" accessKey=o href="https://help.supermemo.org/index.php?title=Special:UserLogin&amp;returnto=Introduction">Log in</A></LI></UL></DIV>
<DIV id=left-navigation>
<DIV role=navigation id=p-namespaces class=vectorTabs aria-labelledby=p-namespaces-label>
<UL>
<LI id=ca-abc class=selected><SPAN><A href="https://help.supermemo.org/wiki/Introduction" target=_self>ABC</A></SPAN> 
<LI id=ca-youtube><SPAN><A href="https://www.youtube.com/channel/UCqmYtieCc3liSTYxLwk_MLw/videos?sort=p" target=_blank>Demos</A></SPAN> 
<LI id=ca-hints-and-tips><SPAN><A href="https://help.supermemo.org/wiki/Hints%26Tips" target=_self>Hints&amp;Tips</A></SPAN> 
<LI id=ca-ref><SPAN><A href="https://help.supermemo.org/wiki/Menus,_buttons,_dialogs,_etc." target=_self>Reference</A></SPAN> 
<LI id=ca-overviews><SPAN><A href="https://help.supermemo.org/wiki/Overviews" target=_self>Overviews</A></SPAN> 
<LI id=ca-buy><SPAN><A href="https://super-memo.com/supermemo18.html" target=_blank>Buy</A></SPAN> 
<LI id=ca-support><SPAN><A href="https://help.supermemo.org/wiki/Technical_support" target=_self>Support</A></SPAN></LI></UL></DIV></DIV>
<DIV id=right-navigation>
<DIV role=navigation id=p-views class=vectorTabs aria-labelledby=p-views-label>
<UL>
<LI id=ca-view class="collapsible selected"><SPAN><A href="https://help.supermemo.org/wiki/Introduction">Read</A></SPAN> 
<LI id=ca-viewsource class=collapsible><SPAN><A title="This page is protected.&#13;&#10;You can view its source [Alt+Shift+e]" accessKey=e href="https://help.supermemo.org/index.php?title=Introduction&amp;action=edit">View source</A></SPAN> 
<LI id=ca-history class=collapsible><SPAN><A title="Past revisions of this page [Alt+Shift+h]" accessKey=h href="https://help.supermemo.org/index.php?title=Introduction&amp;action=history">View history</A></SPAN></LI></UL></DIV>
<DIV role=search id=p-search>
<H3><LABEL for=searchInput>Search</LABEL> </H3>
<DIV id=simpleSearch></DIV></DIV></DIV></DIV></DIV>
<DIV id=mw-navigation>
<DIV id=mw-panel>
<DIV role=banner id=p-logo><A title="Visit the main page" class=mw-wiki-logo href="https://help.supermemo.org/wiki/Main_Page"></A></DIV>
<DIV role=navigation id=p-navigation class=portal aria-labelledby=p-navigation-label>
<DIV class=body>
<UL>
<LI id=n-SuperMemoPedia><A href="https://supermemopedia.com/wiki/Main_Page">SuperMemoPedia</A> 
<LI id=n-SuperMemo-Guru><A href="https://supermemo.guru/wiki/SuperMemo_Guru">SuperMemo Guru</A> 
<LI id=n-recentchanges><A title="A list of recent changes in the wiki [Alt+Shift+r]" accessKey=r href="https://help.supermemo.org/wiki/Special:RecentChanges">Recent changes</A> 
<LI id=n-randompage><A title="Load a random page [Alt+Shift+x]" accessKey=x href="https://help.supermemo.org/wiki/Special:Random">Random page</A></LI></UL></DIV></DIV>
<DIV role=navigation id=p-tb class=portal aria-labelledby=p-tb-label>
<H3 id=p-tb-label>Tools</H3>
<DIV class=body>
<UL>
<LI id=t-whatlinkshere><A title="A list of all wiki pages that link here [Alt+Shift+j]" accessKey=j href="https://help.supermemo.org/wiki/Special:WhatLinksHere/Introduction">What links here</A> 
<LI id=t-recentchangeslinked><A title="Recent changes in pages linked from this page [Alt+Shift+k]" accessKey=k href="https://help.supermemo.org/wiki/Special:RecentChangesLinked/Introduction" rel=nofollow>Related changes</A> 
<LI id=t-specialpages><A title="A list of all special pages [Alt+Shift+q]" accessKey=q href="https://help.supermemo.org/wiki/Special:SpecialPages">Special pages</A> 
<LI id=t-print><A title="Printable version of this page [Alt+Shift+p]" accessKey=p href="https://help.supermemo.org/index.php?title=Introduction&amp;printable=yes" rel=alternate>Printable version</A> 
<LI id=t-permalink><A title="Permanent link to this revision of the page" href="https://help.supermemo.org/index.php?title=Introduction&amp;oldid=10943">Permanent link</A> 
<LI id=t-info><A title="More information about this page" href="https://help.supermemo.org/index.php?title=Introduction&amp;action=info">Page information</A></LI></UL></DIV></DIV></DIV></DIV>
<DIV role=contentinfo id=footer>
<UL id=footer-info>
<LI id=footer-info-lastmod>This page was last edited on 3 October 2020, at 12:56.</LI></UL>
<UL id=footer-places>
<LI id=footer-places-privacy><A title="SuperMemo Help:Privacy policy" href="https://help.supermemo.org/wiki/SuperMemo_Help:Privacy_policy">Privacy policy</A> 
<LI id=footer-places-about><A title="SuperMemo Help:About" href="https://help.supermemo.org/wiki/SuperMemo_Help:About">About SuperMemo Help</A> 
<LI id=footer-places-disclaimer><A title="SuperMemo Help:General disclaimer" href="https://help.supermemo.org/wiki/SuperMemo_Help:General_disclaimer">Disclaimers</A></LI></UL>
<UL id=footer-icons class=noprint>
<LI id=footer-poweredbyico><A href="https://www.mediawiki.org/"><img alt="Powered by MediaWiki" src="https://help.supermemo.org/resources/assets/poweredby_mediawiki_88x31.png" width=88 height=31 srcset="/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /resources/assets/poweredby_mediawiki_176x62.png 2x"></A> </LI></UL>
<DIV style="CLEAR: both"></DIV></DIV>