<strong><font color="blue"> : </font></strong><H4 id=_overview_3><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_overview_3"></A>12.32.1. Overview</H4>
<DIV class=paragraph>
<P>This extension defines an API for the application to give performance hints to the runtime and for the runtime to send performance related notifications back to the application. This allows both sides to dial in a suitable compromise between needed CPU and GPU performance, thermal sustainability and a consistent good user experience throughout the session.</P></DIV>
<DIV class=paragraph>
<P>The goal is to render frames consistently, in time, under varying system load without consuming more energy than necessary.</P></DIV>
<DIV class=paragraph>
<P>In summary, the APIs allow:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>setting performance level hints</P></LI>
<LI>
<P>receiving performance related notifications</P></LI></UL></DIV></DIV>
<DIV class=sect3>
<H4 id=_setting_performance_levels_hints><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_setting_performance_levels_hints"></A>12.32.2. Setting Performance Levels Hints</H4>
<DIV class=sect4>