<SPAN><SPAN class=extract><SPAN>A differential equation is an equation containing derivatives</SPAN></SPAN>; <SPAN class=extract>the order <BR>of the equation refers to the highest-order derivative that occurs</SPAN>.</SPAN> <SPAN>