<FONT size=5>FAScRDI</FONT></P>
<P><FONT size=5><STRONG><FONT size=6>F</FONT></STRONG>amiliar - <STRONG><FONT size=6>A</FONT></STRONG>lternating - <STRONG><FONT size=6>S</FONT></STRONG>imilar&gt;<STRONG><FONT size=6>c</FONT></STRONG>omparison - <FONT size=6><STRONG>R</STRONG></FONT>atio/Root - <STRONG><FONT size=6>D</FONT></STRONG>ivergence - <FONT size=6><STRONG>I</STRONG></FONT>ntegral</FONT>