<DIV id=pdf-element-title>Tipler_Llewellyn-19-758-70-81.pdf</DIV>
<DIV id=pdf-element-filename>Tipler_Llewellyn-19-758-70-81.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTUyLCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6Ii0xNzIuODY2MzQ4MjY2NjAyLDU1MC41IiwiRUYiOjEsIlBERkV4dHJhY3RQcmlvcml0eSI6MC4wLCJTTUV4dHJhY3RQcmlvcml0eSI6MC4wLCJWTSI6MCwiUE0iOjQsIlBNRSI6dHJ1ZSwiWiI6MS4wfQ==</DIV><SPAN>