<DIV id=pdf-element-title>Tipler_Llewellyn-19-758-97-114.pdf</DIV>
<DIV id=pdf-element-filename>Tipler_Llewellyn-19-758-97-114.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTU1LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6Ii0xNzIuODY2MzQ4MjY2NjAyLDQyMy43NSIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV><SPAN>