﻿<DIV id=pdf-element-title>14.07__Maxima_Minima_Problems.pdf</DIV>
<DIV id=pdf-element-filename>14.07__Maxima_Minima_Problems.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6NzYsIlNQIjotMSwiRVAiOi0xLCJTSSI6LTEsIkVJIjotMSwiUERGRSI6W10sIlNNRSI6W10sIlNNSUUiOltdLCJJSCI6W10sIlJQZyI6MCwiUlB0IjoiMCwwIiwiRUYiOjEsIlBERkV4dHJhY3RQcmlvcml0eSI6MC4wLCJTTUV4dHJhY3RQcmlvcml0eSI6MC4wLCJWTSI6MCwiUE0iOjQsIlBNRSI6dHJ1ZSwiWiI6MS4wfQ==</DIV>
<span />