<DIV id=pdf-element-title>12.03 _The_Dot_Product.pdf</DIV>
<DIV id=pdf-element-filename>12.03 _The_Dot_Product.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTc1LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjIsIlJQdCI6Ii0xMjUuOTk5OTkyMzcwNjA1LDY1OS4yNDk5Mzg5NjQ4NDQiLCJFRiI6MSwiUERGRXh0cmFjdFByaW9yaXR5IjowLjAsIlNNRXh0cmFjdFByaW9yaXR5IjowLjAsIlZNIjowLCJQTSI6NCwiUE1FIjp0cnVlLCJaIjoxLjB9</DIV><SPAN>