Finding the<SPAN class=clozed> Lower </SPAN>Sum: 
<P></P>
<P>To <SPAN class=clozed>underestimate </SPAN>a Riemann Sum, choose a <SPAN class=clozed>x*i</SPAN> in <SPAN class=clozed>[xi-1, xi]</SPAN> where <SPAN class=clozed>f(x*i)</SPAN> has the <SPAN class=clozed>lowest</SPAN> value.