&nbsp;
<DIV id=mw-page-base class=noprint></DIV>
<DIV id=mw-head-base class=noprint></DIV>
<DIV role=main id=content class=mw-body><A id=top></A>
<DIV class="mw-indicators mw-body-content"></DIV>
<H1 lang=en id=firstHeading class=firstHeading>Templates</H1>
<DIV id=bodyContent class=mw-body-content>
<DIV id=contentSub></DIV>
<DIV id=jump-to-nav></DIV><A class=mw-jump-link href="https://help.supermemo.org/wiki/Templates#mw-head">Jump to navigation</A> <A class=mw-jump-link href="https://help.supermemo.org/wiki/Templates#p-search">Jump to search</A> 
<DIV lang=en id=mw-content-text class=mw-content-ltr dir=ltr>
<DIV class=mw-parser-output>
<DIV id=toc class=toc>
<DIV lang=en class=toctitle dir=ltr>
<H2>Contents</H2><SPAN class=toctogglespan><LABEL class=toctogglelabel for=toctogglecheckbox></LABEL></SPAN></DIV>
<UL>
<LI class="toclevel-1 tocsection-1"><A href="https://help.supermemo.org/wiki/Templates#Use_templates_to_give_your_elements_your_favorite_look"><SPAN class=tocnumber>1</SPAN> <SPAN class=toctext>Use templates to give your elements your favorite look</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-2"><A href="https://help.supermemo.org/wiki/Templates#Using_fonts_with_a_template"><SPAN class=tocnumber>1.1</SPAN> <SPAN class=toctext>Using fonts with a template</SPAN></A></LI>
<LI class="toclevel-2 tocsection-3"><A href="https://help.supermemo.org/wiki/Templates#Concept_templates_help_you_switch_fast_between_different_templates_for_different_learning_subjects"><SPAN class=tocnumber>1.2</SPAN> <SPAN class=toctext>Concept templates help you switch fast between different templates for different learning subjects</SPAN></A></LI>
<LI class="toclevel-2 tocsection-4"><A href="https://help.supermemo.org/wiki/Templates#You_can_apply_a_template_to_many_elements_at_once"><SPAN class=tocnumber>1.3</SPAN> <SPAN class=toctext>You can apply a template to many elements at once</SPAN></A></LI></UL></LI>
<LI class="toclevel-1 tocsection-5"><A href="https://help.supermemo.org/wiki/Templates#Template_operations_reference"><SPAN class=tocnumber>2</SPAN> <SPAN class=toctext>Template operations reference</SPAN></A></LI>
<LI class="toclevel-1 tocsection-6"><A href="https://help.supermemo.org/wiki/Templates#Advanced_template_operations"><SPAN class=tocnumber>3</SPAN> <SPAN class=toctext>Advanced template operations</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-7"><A href="https://help.supermemo.org/wiki/Templates#Adding_components_to_a_group_of_existing_elements"><SPAN class=tocnumber>3.1</SPAN> <SPAN class=toctext>Adding components to a group of existing elements</SPAN></A></LI>
<LI class="toclevel-2 tocsection-8"><A href="https://help.supermemo.org/wiki/Templates#Transferring_templates_between_collections"><SPAN class=tocnumber>3.2</SPAN> <SPAN class=toctext>Transferring templates between collections</SPAN></A></LI></UL></LI>
<LI class="toclevel-1 tocsection-9"><A href="https://help.supermemo.org/wiki/Templates#Further_reading"><SPAN class=tocnumber>4</SPAN> <SPAN class=toctext>Further reading</SPAN></A></LI>
<LI class="toclevel-1 tocsection-10"><A href="https://help.supermemo.org/wiki/Templates#Video_example"><SPAN class=tocnumber>5</SPAN> <SPAN class=toctext>Video example</SPAN></A></LI></UL></DIV>
<H2><SPAN id=Use_templates_to_give_your_elements_your_favorite_look class=mw-headline>Use templates to give your elements your favorite look</SPAN></H2>
<P>A template in SuperMemo is a definition of an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="0">element</A>'s appearance. <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="1">Templates</A> are used to create many similarly looking <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="2">elements</A>, e.g. with a given color, image, font, etc. The first thing to do with <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="3">templates</A> is to create a template (i.e. the "common look"). You can do it by first composing an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="4">element</A> that looks the way you want other elements to look. This <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="5">element</A> will contain all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="6">components</A> that are common to all elements that will be created with the use of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="7">template</A> (e.g. two text fields and one picture component, etc.). All <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="8">components</A> should have their properties set in the way as in the "common look" (e.g. color, position on the screen, font, etc.). You set the properties of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="9">components</A> by using the <A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu">component menu</A>. </P>
<P>After creating the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="10">element</A> with the desired look, you can use <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_template">Save as template</A></B> on the <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu">element menu</A> (this menu opens with <A title="Keyboard shortcuts" href="https://help.supermemo.org/wiki/Keyboard_shortcuts"><I>Alt+F10</I></A> or with a right-click over the <A title="Navigation bar" href="https://help.supermemo.org/wiki/Navigation_bar">navigation bar</A>). </P>
<P>Saving templates with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_template">Save as template</A></B> makes it possible to keep a "gallery of looks" for future use. This gallery is called the template <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="11">registry</A>. You can save any <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="12">element</A> as a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="13">template</A>. If you want particular texts, sounds or pictures to be associated with the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="14">template</A>, use <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Save with objects</B>. <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_template">Save as template</A></B> does not save objects associated with <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="15">components</A>. For example, it will save the position and color of a text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="16">component</A>, but it will not save the text (e.g. "<I>US Constitution</I>"). </P>
<P>The template <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="17">registry</A> (i.e. the gallery of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="18">templates</A>) can be viewed with <B><A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu">Search</A>&nbsp;: <A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu#Templates">Templates</A></B> on the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A>. </P>
<P>If you want a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="19">template</A> to be used by default each time you choose <B>Add new</B> (or when you add <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" oldtitle="Glossary:Topic" data-hasqtip="20">topics</A> with <I>Alt+N</I> or <I>Ctrl+N</I>), use <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_default">Save as default</A></B>. <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_default">Save as default</A></B> will save the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="21">template</A> in the same way as <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_template">Save as template</A></B> but will also make this <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="22">template</A> the default one for the currently used <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Concept_group" oldtitle="Glossary:Concept group" data-hasqtip="23">concept group</A>. Only <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="24">elements</A> of the same type will be affected. This means that if you save an item <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="25">template</A>, new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Item" oldtitle="Glossary:Item" data-hasqtip="26">items</A> will change their appearance, but the appearance of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" oldtitle="Glossary:Topic" data-hasqtip="27">topics</A> will remain the same. The appearance of previously added <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Item" oldtitle="Glossary:Item" data-hasqtip="28">items</A> or <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Topic" oldtitle="Glossary:Topic" data-hasqtip="29">topics</A> will not be affected (unless you save the new default <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="30">template</A> under an already used name). </P>
<P>To give an <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="31">element</A> a selected look, apply the appropriate <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="32">template</A> to this element. Any <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="33">template</A> can be selected from the template <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="34">registry</A> and applied to any <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="35">element</A> with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Apply_template">Apply template</A></B> (<I>Shift+Ctrl+M</I>). After you choose a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="36">template</A> in the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="37">registry</A>], click the <B>Accept</B> button at the bottom of the template <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A> (or press <I>Enter</I>). Applying a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="38">template</A> does not overwrite the "old look". You can remove the applied template by choosing <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Detach_template">Detach template</A></B>. </P>
<H3><SPAN id=Using_fonts_with_a_template class=mw-headline>Using fonts with a template</SPAN></H3>
<P>To associate a font with a text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="39">component</A> in a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="40">template</A>, use <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Text">Text</A>&nbsp;: Font&nbsp;: New font</B>, <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Text">Text</A>&nbsp;: Font&nbsp;: Link font</B> (<I>Shift+Ctrl+F</I>) or <B><A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu#Text">Text</A>&nbsp;: Font&nbsp;: Edit font</B> on the <A title="Component menu" href="https://help.supermemo.org/wiki/Component_menu">component menu</A> (see more: <A title="Fonts tab in Options" href="https://help.supermemo.org/wiki/Fonts_tab_in_Options">Font options</A>). If you want to change fonts globally in a set of existing <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Item" oldtitle="Glossary:Item" data-hasqtip="41">items</A>, you need to use <A title="Using text components" href="https://help.supermemo.org/wiki/Using_text_components">plain text components</A>. This comes from a difference between <A title="Using text components" href="https://help.supermemo.org/wiki/Using_text_components">plain text components</A> and <A title="HTML component" href="https://help.supermemo.org/wiki/HTML_component">HTML text components</A> in the way they interpret the font associated with the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="42">template</A>: </P>
<UL>
<LI><B>plain text components</B>: if you associate a font with a plain text <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="43">component</A> in a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="44">template</A> (e.g. as in the <I>Classic</I> template), all texts used by the component in all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="45">elements</A> that use the template will use the associated font. For example, if you choose a <I>Greek</I> font for such a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="46">template</A>, all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="47">elements</A> using this template will display in <I>Greek</I></LI>
<LI><B>HTML text components</B>: if you associate a font with an <A title="HTML component" href="https://help.supermemo.org/wiki/HTML_component">HTML component</A> in a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="48">template</A> (e.g. as in the <I>Item</I> template), the font will be applied only when you begin writing the text. For example, if you choose a <I>Greek</I> font for such a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="49">template</A>, all new texts typed into such a template will begin to show in <I>Greek</I>; however, old texts will not be affected. You will be able to change the font while typing the text and thus use <I>Greek</I> at the beginning of your text and, for example, <I>Cyrillic</I> towards its end. See: <A title="Using fonts" href="https://help.supermemo.org/wiki/Using_fonts">Fonts in SuperMemo</A></LI></UL>
<H3><SPAN id=Concept_templates_help_you_switch_fast_between_different_templates_for_different_learning_subjects class=mw-headline>Concept templates help you switch fast between different templates for different learning subjects</SPAN></H3>
<P>If you want to associate a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="50">template</A> with a given subject, e.g. <I>Chemistry</I>, you can use concept templates. You will need the following before you begin: </P>
<OL>
<LI>Define a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="51">template</A> as described above (e.g. by reworking an existing template and saving it with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Save_as_default">Save as default</A></B>)</LI>
<LI>Create a new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Concept" oldtitle="Glossary:Concept" data-hasqtip="52">concept</A> or redefine an existing one. When you create a new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="53">collection</A>, you begin with a single <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Concept" oldtitle="Glossary:Concept" data-hasqtip="54">concept</A> whose name is the same as the name of the collection (see: <A title=Concepts href="https://help.supermemo.org/wiki/Concepts">Using concepts</A>)</LI></OL>
<P>To define a concept template do as follows: </P>
<OL>
<LI>Choose <B><A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu">Search</A>&nbsp;: <A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu#Concepts">Concepts</A></B> on the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A> (if you are not at the <B>Professional</B> <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Level" oldtitle="Glossary:Level" data-hasqtip="55">level</A>, switch the level, e.g. with <I>Ctrl+Alt+F12</I>)</LI>
<LI>Select the concept (e.g. by typing its name at the top of the concept <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A>)</LI>
<LI>Click the <B>Item/Topic template</B> button</LI>
<LI>Choose the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="56">template</A> from the template <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="57">registry</A> (e.g. by typing its name at the top of the template <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A>)</LI>
<LI>Click <B>Accept</B> (at the bottom of the template <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A>)</LI>
<LI>Close the concept <A title="Registry window" href="https://help.supermemo.org/wiki/Registry_window">registry window</A></LI></OL>
<P>The above will make sure that your <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="58">template</A> is used each time you choose <B><A title="Add new" href="https://help.supermemo.org/wiki/Add_new">Add new</A></B> or press <A title="Keyboard shortcuts" href="https://help.supermemo.org/wiki/Keyboard_shortcuts"><I>Alt+A</I></A> as long as your <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary#Concept_group" oldtitle="Glossary" data-hasqtip="59">concept group</A> is selected as the current one in the <A title="Navigation bar" href="https://help.supermemo.org/wiki/Navigation_bar">navigation bar</A>. </P>
<H3><SPAN id=You_can_apply_a_template_to_many_elements_at_once class=mw-headline>You can apply a template to many elements at once</SPAN></H3>
<P>You can change the look of many <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="60">elements</A> at the same time. If your <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="61">elements</A> use a given <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="62">template</A>, go to one of these elements and simply redefine the template. If your <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="63">elements</A> use different <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="64">templates</A> or use no template at all, you can apply a template to all of them by choosing <B><A title="File menu" href="https://help.supermemo.org/wiki/File_menu">File</A>&nbsp;: <A title="File menu" href="https://help.supermemo.org/wiki/File_menu#Process_collection.3E">Process collection&gt;</A>&nbsp;: <A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations#Template">Template</A>&nbsp;: Apply template</B> from the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A>, <B><A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations">Process branch&gt;</A>&nbsp;: <A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations#Template">Template</A>&nbsp;: Apply template</B> in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A>, or <B><A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations">Process browser&gt;</A>&nbsp;: <A title="Subset operations" href="https://help.supermemo.org/wiki/Subset_operations#Template">Template</A>&nbsp;: Apply template</B> in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>. </P>
<H2><SPAN id=Template_operations_reference class=mw-headline>Template operations reference</SPAN></H2>
<P>Here is the summary of template operations on the <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A></B> submenu of the <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu">element menu</A> (use <I>Alt+F10</I> to open this menu or right-click over the empty element area or over the <A title="Navigation bar" href="https://help.supermemo.org/wiki/Navigation_bar">navigation bar</A>): </P>
<UL>
<LI><B><SPAN id=Save_as_template>Save as template</SPAN></B> - save the currently displayed <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="65">element</A> as a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="66">template</A>. This makes it possible to use the appearance of the element in other elements. Template objects such as pictures or texts are not saved with the template</LI>
<LI><B><SPAN id=Save_as_default>Save as default</SPAN></B> - save the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="67">element</A> as a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="68">template</A> and make it the default template in the currently selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Concept_group" oldtitle="Glossary:Concept group" data-hasqtip="69">concept group</A>. <B>Save as default</B> does not save template objects. If you would like to save objects in the default <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="70">template</A>, use <B>Save with objects</B> and then select this template as the default template for the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Concept_group" oldtitle="Glossary:Concept group" data-hasqtip="71">concept group</A> (<B><A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu">Search</A>&nbsp;: <A title="Search menu" href="https://help.supermemo.org/wiki/Search_menu#Concepts">Concepts</A></B>)</LI>
<LI><B>Save with objects</B> - save the currently displayed <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="72">element</A> as a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="73">template</A> together with template objects. The saved template will include references to texts, pictures, sounds and other objects associated with the element. For example, if your question begins with "geography: ", this text will become part of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="74">template</A> and will show up in newly created <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="75">elements</A> using that template</LI>
<LI><B><SPAN id=Apply_template>Apply template</SPAN></B> (<I>Shift+Ctrl+M</I>) - use a selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="76">template</A> from the template <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="77">registry</A> to modify the look of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="78">element</A>. The original look will remain untouched as the <I>template source</I> and can be inspected with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: View source</B> or restored with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Detach template</B>. When using <B>Apply template</B>, after selecting the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="79">template</A> in the template <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Registry" oldtitle="Glossary:Registry" data-hasqtip="80">registry</A>, you should click the button <B>Accept</B>, double-click the template or press <I>Enter</I>. After using <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A href="https://help.supermemo.org/wiki/Templates#Apply_template">Apply template</A></B>, the template source can be overwritten with<B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A href="https://help.supermemo.org/wiki/Templates#Impose_template">Impose template</A></B>. In applying a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="81">template</A>, SuperMemo transfers all matching registry objects (e.g. texts, images, etc.) from the source template to the applied template. Source <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="82">components</A> that do not find their match in the applied <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="83">template</A> will become invisible or will show up unchanged (depending on the settings in the <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#template_flags">Template flags</A></B> submenu)</LI>
<LI><B>Replace with template</B> - replace the current template source with a new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="84">template</A>. The original look of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="85">element</A> will be lost. <B>Replace with template</B> is equivalent to <B>Apply template</B> and <B>Impose template</B> run in succession. The <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="86">template</A> is not detached and all its changes will be reflected in the looks of other <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="87">elements</A></LI>
<LI><B>Detach template</B> - restore the original look of the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="88">element</A> from before the time the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="89">template</A> had been applied with <B><A href="https://help.supermemo.org/wiki/Templates#Apply_template">Apply template</A></B>. The <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="90">element</A> will become template-less until a new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="91">template</A> is applied. Changes to the element's appearance will affect no other <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="92">elements</A> or <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="93">templates</A>. After <B>Detach template</B>, <B>View source</B> will have no effect</LI>
<LI><B><SPAN id=Impose_template>Impose template</SPAN></B> (<I>Shift+Ctrl+F2</I>) - overwrite the source template (i.e. the original look that came with the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="94">element</A>) with the currently applied <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="95">template</A> (i.e. the look superimposed on the original look with a template). After <B>Impose template</B> (that will make source equal to template, i.e. write the template over the original look), <B>View source</B> will have no effect as the source template will be the same as the applied template. Answer <I>Yes</I> to <I>Detach template?</I> if you want to detach the template (i.e. remove the connection between the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="96">element</A> and the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="97">template</A>) without changing the look of the element (i.e. keep the template's look but remove the connection - that makes the source look like the template but be connected to no template). This will ensure that changes to the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="98">element</A> will not affect the detached global <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="99">template</A> (i.e. because there will be no link, the element has no template, so changes to the element stay local)</LI>
<LI><B>Add template</B> - add <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="100">components</A> from a selected <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="101">template</A> to the currently displayed <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="102">element</A></LI>
<LI><B>View source</B> (<I>Ctrl+Shift+U</I>) - view the source template of the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="103">element</A>. The source <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="104">template</A> is the original look of the element before any template was applied with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: <A href="https://help.supermemo.org/wiki/Templates#Apply_template">Apply template</A></B></LI>
<LI><B>Save to file</B> - save the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="105">element</A> as a template file. This file can later be loaded into another <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="106">collection</A> with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Load from file</B>. You can view template files with any text editor. Note that these files do not store registry objects but only references to appropriate files. This way a template file is useful only as long as the source <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="107">collection</A> remains in its original location on the disk. Once it is moved, references in the template file will be ignored</LI>
<LI><B>Load from file</B> - load a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="108">template</A> file saved with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Save to file</B>. Loading template file deletes all <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="109">components</A> and creates new components specified in the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="110">template</A></LI>
<LI><B>Copy template</B> - copy the currently used <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="111">template</A> to the clipboard</LI>
<LI><B>Paste template</B> - paste the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="112">template</A> from the clipboard (currently displayed template will be overwritten)</LI>
<LI><B>Template flags</B> - advanced users may want to determine in detail how <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="113">templates</A> are interpreted where the template does not match the source. Template flags determine which unmatching <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="114">components</A> will be displayed (for details see: <A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#template_flags"><B>Template flags</B></A>)</LI></UL>
<H2><SPAN id=Advanced_template_operations class=mw-headline>Advanced template operations</SPAN></H2>
<H3><SPAN id=Adding_components_to_a_group_of_existing_elements class=mw-headline>Adding components to a group of existing elements</SPAN></H3>
<P>If you want to add new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="115">components</A> to a group of <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="116">elements</A>, use <B>Add template</B> on the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A>, in the <A title=Contents href="https://help.supermemo.org/wiki/Contents"><B>Contents</B> window</A> or in the <A title=Browser href="https://help.supermemo.org/wiki/Browser">browser</A>. This will retain the old <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Component" oldtitle="Glossary:Component" data-hasqtip="117">components</A> and add new components from the added <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="118">template</A>. <B>Add to template</B> is similar to <B>Apply template</B> but the contents of the new <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="119">template</A> is simply superimposed over the old template </P>
<H3><SPAN id=Transferring_templates_between_collections class=mw-headline>Transferring templates between collections</SPAN></H3>
<P>If you want to transfer <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="120">templates</A> (or single <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="121">elements</A>) between different <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary#Collection" oldtitle="Glossary" data-hasqtip="122">collections</A>, use <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Save to file</B> and <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Template">Template</A>&nbsp;: Load from file</B>. You can also use <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Edit">Edit</A>&nbsp;: Copy element</B> with <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Edit">Edit</A>&nbsp;: Paste template</B> and <B><A title="Element menu" href="https://help.supermemo.org/wiki/Element_menu#Edit">Edit</A>&nbsp;: Paste element</B> to transfer <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Template" oldtitle="Glossary:Template" data-hasqtip="123">templates</A> and <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Element" oldtitle="Glossary:Element" data-hasqtip="124">elements</A> within a <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="125">collection</A> or between different collections using the clipboard </P>
<H2><SPAN id=Further_reading class=mw-headline>Further reading</SPAN></H2>
<P><A class="external text" href="https://www.super-memory.com/archive/help16/faq/templates.htm">FAQ: Templates in SuperMemo</A> </P>
<H2><SPAN id=Video_example class=mw-headline>Video example</SPAN></H2>
<P>The example shows how to save a template with a chosen stylesheet that defines a specific font: </P>
<DIV class="embedvideo autoResize">
<DIV class=embedvideowrap style="WIDTH: 640px"></DIV></DIV></DIV></DIV>
<DIV class=visualClear></DIV></DIV></DIV>
<DIV id=mw-navigation>
<H2>Navigation menu</H2>
<DIV id=mw-head>
<DIV role=navigation id=p-personal aria-labelledby=p-personal-label>
<UL>
<LI id=pt-createaccount><A title="You are encouraged to create an account and log in; however, it is not mandatory" href="https://help.supermemo.org/index.php?title=Special:CreateAccount&amp;returnto=Templates">Create account</A></LI>
<LI id=pt-login><A title="You are encouraged to log in; however, it is not mandatory [Alt+Shift+o]" accessKey=o href="https://help.supermemo.org/index.php?title=Special:UserLogin&amp;returnto=Templates">Log in</A></LI></UL></DIV>
<DIV id=left-navigation>
<DIV role=navigation id=p-namespaces class=vectorTabs aria-labelledby=p-namespaces-label>
<UL>
<LI id=ca-abc><SPAN><A href="https://help.supermemo.org/wiki/Introduction" target=_self>ABC</A></SPAN></LI>
<LI id=ca-youtube><SPAN><A href="https://www.youtube.com/channel/UCqmYtieCc3liSTYxLwk_MLw/videos?sort=p" target=_blank>Demos</A></SPAN></LI>
<LI id=ca-hints-and-tips><SPAN><A href="https://help.supermemo.org/wiki/Hints%26Tips" target=_self>Hints&amp;Tips</A></SPAN></LI>
<LI id=ca-ref><SPAN><A href="https://help.supermemo.org/wiki/Menus,_buttons,_dialogs,_etc." target=_self>Reference</A></SPAN></LI>
<LI id=ca-overviews><SPAN><A href="https://help.supermemo.org/wiki/Overviews" target=_self>Overviews</A></SPAN></LI>
<LI id=ca-buy><SPAN><A href="https://super-memo.com/supermemo18.html" target=_blank>Buy</A></SPAN></LI>
<LI id=ca-support><SPAN><A href="https://help.supermemo.org/wiki/Technical_support" target=_self>Support</A></SPAN></LI></UL></DIV></DIV>
<DIV id=right-navigation>
<DIV role=navigation id=p-views class=vectorTabs aria-labelledby=p-views-label>
<UL>
<LI id=ca-view class="collapsible selected"><SPAN><A href="https://help.supermemo.org/wiki/Templates">Read</A></SPAN></LI>
<LI id=ca-viewsource class=collapsible><SPAN><A title="This page is protected.&#13;&#10;You can view its source [Alt+Shift+e]" accessKey=e href="https://help.supermemo.org/index.php?title=Templates&amp;action=edit">View source</A></SPAN></LI>
<LI id=ca-history class=collapsible><SPAN><A title="Past revisions of this page [Alt+Shift+h]" accessKey=h href="https://help.supermemo.org/index.php?title=Templates&amp;action=history">View history</A></SPAN></LI></UL></DIV>
<DIV role=search id=p-search>
<H3><LABEL for=searchInput>Search</LABEL> </H3>

<DIV id=simpleSearch></DIV></DIV></DIV></DIV></DIV>
<DIV id=mw-navigation>
<DIV id=mw-panel>
<DIV role=banner id=p-logo><A title="Visit the main page" class=mw-wiki-logo href="https://help.supermemo.org/wiki/Main_Page"></A></DIV>
<DIV role=navigation id=p-navigation class=portal aria-labelledby=p-navigation-label>
<DIV class=body>
<UL>
<LI id=n-SuperMemoPedia><A href="https://supermemopedia.com/wiki/Main_Page">SuperMemoPedia</A></LI>
<LI id=n-SuperMemo-Guru><A href="https://supermemo.guru/wiki/SuperMemo_Guru">SuperMemo Guru</A></LI>
<LI id=n-recentchanges><A title="A list of recent changes in the wiki [Alt+Shift+r]" accessKey=r href="https://help.supermemo.org/wiki/Special:RecentChanges">Recent changes</A></LI>
<LI id=n-randompage><A title="Load a random page [Alt+Shift+x]" accessKey=x href="https://help.supermemo.org/wiki/Special:Random">Random page</A></LI></UL></DIV></DIV>
<DIV role=navigation id=p-tb class=portal aria-labelledby=p-tb-label>
<H3 id=p-tb-label>Tools</H3>
<DIV class=body>
<UL>
<LI id=t-whatlinkshere><A title="A list of all wiki pages that link here [Alt+Shift+j]" accessKey=j href="https://help.supermemo.org/wiki/Special:WhatLinksHere/Templates">What links here</A></LI>
<LI id=t-recentchangeslinked><A title="Recent changes in pages linked from this page [Alt+Shift+k]" accessKey=k href="https://help.supermemo.org/wiki/Special:RecentChangesLinked/Templates" rel=nofollow>Related changes</A></LI>
<LI id=t-specialpages><A title="A list of all special pages [Alt+Shift+q]" accessKey=q href="https://help.supermemo.org/wiki/Special:SpecialPages">Special pages</A></LI>
<LI id=t-print><A title="Printable version of this page [Alt+Shift+p]" accessKey=p href="https://help.supermemo.org/index.php?title=Templates&amp;printable=yes" rel=alternate>Printable version</A></LI>
<LI id=t-permalink><A title="Permanent link to this revision of the page" href="https://help.supermemo.org/index.php?title=Templates&amp;oldid=10842">Permanent link</A></LI>
<LI id=t-info><A title="More information about this page" href="https://help.supermemo.org/index.php?title=Templates&amp;action=info">Page information</A></LI></UL></DIV></DIV></DIV></DIV>
<DIV role=contentinfo id=footer>
<UL id=footer-info>
<LI id=footer-info-lastmod>This page was last edited on 9 August 2019, at 21:58.</LI></UL>
<UL id=footer-places>
<LI id=footer-places-privacy><A title="SuperMemo Help:Privacy policy" href="https://help.supermemo.org/wiki/SuperMemo_Help:Privacy_policy">Privacy policy</A></LI>
<LI id=footer-places-about><A title="SuperMemo Help:About" href="https://help.supermemo.org/wiki/SuperMemo_Help:About">About SuperMemo Help</A></LI>
<LI id=footer-places-disclaimer><A title="SuperMemo Help:General disclaimer" href="https://help.supermemo.org/wiki/SuperMemo_Help:General_disclaimer">Disclaimers</A></LI></UL>
<UL id=footer-icons class=noprint>
<LI id=footer-poweredbyico><A href="https://www.mediawiki.org/"><img alt="Powered by MediaWiki" src="https://help.supermemo.org/resources/assets/poweredby_mediawiki_88x31.png" width=88 height=31 srcset="/resources/assets/poweredby_mediawiki_132x47.png 1.5x, /resources/assets/poweredby_mediawiki_176x62.png 2x"></A> </LI></UL>
<DIV style="CLEAR: both"></DIV></DIV>