<strong><font color="blue"> : </font></strong><H4 id=_overview_4><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_overview_4"></A>12.34.1. Overview</H4>
<DIV class=paragraph>
<P>This extension provides an API to query a domain&#8217;s current thermal warning level and current thermal trend.</P></DIV></DIV>
<DIV class=sect3>
<H4 id=_querying_the_current_thermal_level_and_trend><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_querying_the_current_thermal_level_and_trend"></A>12.34.2. Querying the current thermal level and trend</H4>
<DIV class=paragraph>
<P>This query allows to determine the extent and urgency of the needed workload reduction and to verify that the mitigation measures efficiently reduce the temperature.<BR>This query allows the application to retrieve the current <CODE>notificationLevel</CODE>, allowing to quickly verify whether the underlying system&#8217;s thermal throttling is still in effect.<BR>It also provides the application with the remaining temperature headroom (<CODE>tempHeadroom</CODE>) until thermal throttling occurs, and the current rate of change (<CODE>tempSlope</CODE>).<BR>The most critical temperature of the domain is the one which is currently most likely to be relevant for thermal throttling.<BR></P></DIV>
<DIV class=paragraph>
<P>To query the status of a given domain:</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrThermalGetTemperatureTrendEXT(
    XrSession                                   session,
    XrPerfSettingsDomainEXT                     domain,
    XrPerfSettingsNotificationLevelEXT*         notificationLevel,
    float*                                      tempHeadroom,
    float*                                      tempSlope);</CODE></PRE></DIV></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef enum XrPerfSettingsDomainEXT {
    XR_PERF_SETTINGS_DOMAIN_CPU_EXT = 1,
    XR_PERF_SETTINGS_DOMAIN_GPU_EXT = 2,
    XR_PERF_SETTINGS_DOMAIN_MAX_ENUM_EXT = 0x7FFFFFFF
} XrPerfSettingsDomainEXT;</CODE></PRE></DIV></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef enum XrPerfSettingsNotificationLevelEXT {
    XR_PERF_SETTINGS_NOTIF_LEVEL_NORMAL_EXT = 0,
    XR_PERF_SETTINGS_NOTIF_LEVEL_WARNING_EXT = 25,
    XR_PERF_SETTINGS_NOTIF_LEVEL_IMPAIRED_EXT = 75,
    XR_PERF_SETTINGS_NOTIFICATION_LEVEL_MAX_ENUM_EXT = 0x7FFFFFFF
} XrPerfSettingsNotificationLevelEXT;</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P>For the definition of the notification levels, see <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#performance-settings-notification-levels">Notification level definition</A></P></DIV></DIV>
<DIV class=sect3>
<H4 id=_thermal_query_api_reference><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_thermal_query_api_reference"></A>Thermal Query API Reference</H4>
<DIV class=sect4>