<strong><font color="blue"> : </font></strong><H3 id=XR_MSFT_hand_interaction><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MSFT_hand_interaction"></A>12.80. XR_MSFT_hand_interaction</H3>
<DIV class=dlist>
<DL>
<DT class=hdlist1><STRONG>Name String</STRONG></DT>
<DD>
<P><CODE>XR_MSFT_hand_interaction</CODE></P></DD>
<DT class=hdlist1><STRONG>Extension Type</STRONG></DT>
<DD>
<P>Instance extension</P></DD>
<DT class=hdlist1><STRONG>Registered Extension Number</STRONG></DT>
<DD>
<P>51</P></DD>
<DT class=hdlist1><STRONG>Revision</STRONG></DT>
<DD>
<P>1</P></DD>
<DT class=hdlist1><STRONG>Extension and Version Dependencies</STRONG></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P>Requires OpenXR 1.0</P></LI></UL></DIV></DD>
<DT class=hdlist1><STRONG>Contributors</STRONG></DT>
<DD>
<P>Yin Li, Microsoft<BR>Lachlan Ford, Microsoft<BR>Alex Turner, Microsoft</P></DD></DL></DIV>
<DIV class=paragraph>
<P><STRONG>Overview</STRONG></P></DIV>
<DIV class=paragraph>
<P>This extension defines a new interaction profile for near interactions and far interactions driven by directly-tracked hands.</P></DIV>
<DIV class=paragraph>
<P><STRONG>Hand interaction profile</STRONG></P></DIV>
<DIV class=paragraph>
<P>Interaction profile path:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><EM>/interaction_profiles/microsoft/hand_interaction</EM></P></LI></UL></DIV>
<DIV class=paragraph>
<P>Valid for top level user path:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><EM>/user/hand/left</EM></P></LI>
<LI>
<P><EM>/user/hand/right</EM></P></LI></UL></DIV>
<DIV class=paragraph>
<P>This interaction profile provides basic pose and actions for near and far interactions using hand tracking input.</P></DIV>
<DIV class=paragraph>
<P>Supported component paths:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><EM>&#8230;/input/select/value</EM></P></LI>
<LI>
<P><EM>&#8230;/input/squeeze/value</EM></P></LI>
<LI>
<P><EM>&#8230;/input/aim/pose</EM></P></LI>
<LI>
<P><EM>&#8230;/input/grip/pose</EM></P></LI></UL></DIV>
<DIV class=paragraph>
<P>The application <STRONG class=purple>should</STRONG> use the <EM>&#8230;/select/value</EM> and <EM>&#8230;/aim/pose</EM> paths for far hand interactions, such as using a virtual laser pointer to target and click a button on the wall. Here, <EM>&#8230;/select/value</EM> <STRONG class=purple>can</STRONG> be used as either a boolean or float action type, where the value <CODE>XR_TRUE</CODE> or <CODE>1.0f</CODE> represents a closed hand shape.</P></DIV>
<DIV class=paragraph>
<P>The application <STRONG class=purple>should</STRONG> use the <EM>&#8230;/squeeze/value</EM> and <EM>&#8230;/grip/pose</EM> for near hand interactions, such as picking up a virtual object within the user&#8217;s reach from a table. Here, <EM>&#8230;/squeeze/value</EM> <STRONG class=purple>can</STRONG> be used as either a boolean or float action type, where the value <CODE>XR_TRUE</CODE> or <CODE>1.0f</CODE> represents a closed hand shape.</P></DIV>
<DIV class=paragraph>
<P>The runtime <STRONG class=purple>may</STRONG> trigger both "select" and "squeeze" actions for the same hand gesture if the user&#8217;s hand gesture is able to trigger both near and far interactions. The application <STRONG class=purple>should</STRONG> not assume they are as independent as two buttons on a controller.</P></DIV>
<DIV class=paragraph>
<P><STRONG>New Object Types</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Flag Types</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Enum Constants</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Enums</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Structures</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Functions</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>Issues</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>Version History</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Revision 1, 2019-09-16 (Yin Li)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Initial extension description</P></LI></UL></DIV></LI></UL></DIV></DIV>
<DIV class=sect2>
<H3 id=XR_MSFT_hand_tracking_mesh><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MSFT_hand_tracking_mesh"></A>12.81. XR_MSFT_hand_tracking_mesh</H3>
<DIV class=dlist>
<DL>
<DT class=hdlist1><STRONG>Name String</STRONG></DT>
<DD>
<P><CODE>XR_MSFT_hand_tracking_mesh</CODE></P></DD>
<DT class=hdlist1><STRONG>Extension Type</STRONG></DT>
<DD>
<P>Instance extension</P></DD>
<DT class=hdlist1><STRONG>Registered Extension Number</STRONG></DT>
<DD>
<P>53</P></DD>
<DT class=hdlist1><STRONG>Revision</STRONG></DT>
<DD>
<P>4</P></DD>
<DT class=hdlist1><STRONG>Extension and Version Dependencies</STRONG></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P>Requires OpenXR 1.0</P></LI>
<LI>
<P>Requires <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_hand_tracking">XR_EXT_hand_tracking</A></CODE></P></LI></UL></DIV></DD></DL></DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><STRONG>Last Modified Date</STRONG></DT>
<DD>
<P>2021-10-20</P></DD>
<DT class=hdlist1><STRONG>IP Status</STRONG></DT>
<DD>
<P>No known IP claims.</P></DD>
<DT class=hdlist1><STRONG>Contributors</STRONG></DT>
<DD>
<P>Yin Li, Microsoft<BR>Lachlan Ford, Microsoft<BR>Alex Turner, Microsoft<BR>Bryce Hutchings, Microsoft<BR></P></DD></DL></DIV>
<DIV class=sect3>