Finding the <SPAN class=cloze>[...](Upper or Lower)</SPAN>&nbsp;Sum: 
<P></P>
<P>To <STRONG>overestimate</STRONG> a Riemann Sum, choose a x*i in [xi-1, xi] where f(x*i) has the <STRONG>highest</STRONG> value.