<FONT color=#000000 size=3 face=Calibri>(Endpoint Estimations)</FONT> 
<P></P>
<P><FONT color=#000000 size=3 face=Calibri>If a function is always <U>increasing</U> on a given interval:</FONT> </P>
<UL style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%">
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The <SPAN class=cloze>[...](endpoint)</SPAN> Riemann sum will be an <U><STRONG>underestimate</STRONG></U>.</FONT> 
<LI style="BOX-SIZING: border-box; -webkit-font-smoothing: antialiased; text-size-adjust: 100%"><FONT color=#000000 size=3 face=Calibri>The&nbsp;[. . .]&nbsp;Riemann sum will be an overestimate.</FONT></LI></UL>