<DIV id=pdf-element-title>Tipler_Llewellyn-19-758-185-187.pdf</DIV>
<DIV id=pdf-element-filename>Tipler_Llewellyn-19-758-185-187.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTg2LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAuNTA0MDAwMDY3NzEwODc2LDM3NC4yNSIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV><SPAN>