﻿<DIV id=pdf-element-title>13.01__Vector-Valued_Functions_and_Space_Curves.pdf</DIV>
<DIV id=pdf-element-filename>13.01__Vector-Valued_Functions_and_Space_Curves.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTg3LCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />