﻿<DIV id=pdf-element-title>14.04__Tangent_Planes_and_Linear_Approximations.pdf</DIV>
<DIV id=pdf-element-filename>14.04__Tangent_Planes_and_Linear_Approximations.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6NSwiU1AiOi0xLCJFUCI6LTEsIlNJIjotMSwiRUkiOi0xLCJQREZFIjpbXSwiU01FIjpbXSwiU01JRSI6W10sIklIIjpbXSwiUlBnIjowLCJSUHQiOiIwLDAiLCJFRiI6MSwiUERGRXh0cmFjdFByaW9yaXR5IjowLjAsIlNNRXh0cmFjdFByaW9yaXR5IjowLjAsIlZNIjowLCJQTSI6NCwiUE1FIjp0cnVlLCJaIjoxLjB9</DIV>
<span />