﻿<DIV id=pdf-element-title>13.03__Arc_Length_and_Curvature.pdf</DIV>
<DIV id=pdf-element-filename>13.03__Arc_Length_and_Curvature.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MTkxLCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />