<DIV role=main id=content class=mw-body>
<H1 lang=en id=firstHeading class=firstHeading>Sleep Chart</H1>
<DIV id=bodyContent class=mw-body-content>
<DIV id=contentSub></DIV>
<DIV id=jump-to-nav></DIV><A class=mw-jump-link href="https://help.supermemo.org/wiki/Sleep_Chart#mw-head">Jump to navigation</A> <A class=mw-jump-link href="https://help.supermemo.org/wiki/Sleep_Chart#p-search">Jump to search</A> 
<DIV lang=en id=mw-content-text class=mw-content-ltr dir=ltr>
<DIV class=mw-parser-output>
<DIV id=toc class=toc>
<DIV lang=en class=toctitle dir=ltr>
<H2>Contents</H2><SPAN class=toctogglespan><LABEL class=toctogglelabel for=toctogglecheckbox></LABEL></SPAN></DIV>
<UL>
<LI class="toclevel-1 tocsection-1"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Introduction"><SPAN class=tocnumber>1</SPAN> <SPAN class=toctext>Introduction</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-2"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Repetitions_timeline"><SPAN class=tocnumber>1.1</SPAN> <SPAN class=toctext>Repetitions timeline</SPAN></A></LI>
<LI class="toclevel-2 tocsection-3"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Sleep_timeline"><SPAN class=tocnumber>1.2</SPAN> <SPAN class=toctext>Sleep timeline</SPAN></A></LI></UL></LI>
<LI class="toclevel-1 tocsection-4"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Timeline_graphs"><SPAN class=tocnumber>2</SPAN> <SPAN class=toctext>Timeline graphs</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-5"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Timeline"><SPAN class=tocnumber>2.1</SPAN> <SPAN class=toctext>Timeline</SPAN></A></LI>
<LI class="toclevel-2 tocsection-6"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Circadian"><SPAN class=tocnumber>2.2</SPAN> <SPAN class=toctext>Circadian</SPAN></A> 
<UL>
<LI class="toclevel-3 tocsection-7"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Sleep_initiation"><SPAN class=tocnumber>2.2.1</SPAN> <SPAN class=toctext>Sleep initiation</SPAN></A></LI>
<LI class="toclevel-3 tocsection-8"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Sleep_maintenance"><SPAN class=tocnumber>2.2.2</SPAN> <SPAN class=toctext>Sleep maintenance</SPAN></A></LI>
<LI class="toclevel-3 tocsection-9"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Optimizing_bedtime"><SPAN class=tocnumber>2.2.3</SPAN> <SPAN class=toctext>Optimizing bedtime</SPAN></A></LI></UL></LI>
<LI class="toclevel-2 tocsection-10"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Learning_circadian_cycle"><SPAN class=tocnumber>2.3</SPAN> <SPAN class=toctext>Learning circadian cycle</SPAN></A></LI>
<LI class="toclevel-2 tocsection-11"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Phase_shift"><SPAN class=tocnumber>2.4</SPAN> <SPAN class=toctext>Phase shift</SPAN></A></LI>
<LI class="toclevel-2 tocsection-12"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Alertness"><SPAN class=tocnumber>2.5</SPAN> <SPAN class=toctext>Alertness</SPAN></A> 
<UL>
<LI class="toclevel-3 tocsection-13"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Alertness_approximation_buttons"><SPAN class=tocnumber>2.5.1</SPAN> <SPAN class=toctext>Alertness approximation buttons</SPAN></A></LI>
<LI class="toclevel-3 tocsection-14"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Other_alertness_graph_buttons"><SPAN class=tocnumber>2.5.2</SPAN> <SPAN class=toctext>Other alertness graph buttons</SPAN></A></LI>
<LI class="toclevel-3 tocsection-15"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Homeostatic_alertness_parameters"><SPAN class=tocnumber>2.5.3</SPAN> <SPAN class=toctext>Homeostatic alertness parameters</SPAN></A></LI></UL></LI>
<LI class="toclevel-2 tocsection-16"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Napping"><SPAN class=tocnumber>2.6</SPAN> <SPAN class=toctext>Napping</SPAN></A></LI>
<LI class="toclevel-2 tocsection-17"><A href="https://help.supermemo.org/wiki/Sleep_Chart#REM"><SPAN class=tocnumber>2.7</SPAN> <SPAN class=toctext>REM</SPAN></A></LI>
<LI class="toclevel-2 tocsection-18"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Sleep_block_length_distribution"><SPAN class=tocnumber>2.8</SPAN> <SPAN class=toctext>Sleep block length distribution</SPAN></A></LI>
<LI class="toclevel-2 tocsection-19"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Periodogram"><SPAN class=tocnumber>2.9</SPAN> <SPAN class=toctext>Periodogram</SPAN></A></LI>
<LI class="toclevel-2 tocsection-20"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Learning"><SPAN class=tocnumber>2.10</SPAN> <SPAN class=toctext>Learning</SPAN></A></LI>
<LI class="toclevel-2 tocsection-21"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Memory_consolidation"><SPAN class=tocnumber>2.11</SPAN> <SPAN class=toctext>Memory consolidation</SPAN></A> 
<UL>
<LI class="toclevel-3 tocsection-22"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Correlation_between_recall_and_consolidation"><SPAN class=tocnumber>2.11.1</SPAN> <SPAN class=toctext>Correlation between recall and consolidation</SPAN></A></LI>
<LI class="toclevel-3 tocsection-23"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Good_learning_days"><SPAN class=tocnumber>2.11.2</SPAN> <SPAN class=toctext>Good learning days</SPAN></A></LI></UL></LI></UL></LI>
<LI class="toclevel-1 tocsection-24"><A href="https://help.supermemo.org/wiki/Sleep_Chart#SleepChart_menu"><SPAN class=tocnumber>3</SPAN> <SPAN class=toctext>SleepChart menu</SPAN></A></LI>
<LI class="toclevel-1 tocsection-25"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Two-component_sleep_model"><SPAN class=tocnumber>4</SPAN> <SPAN class=toctext>Two-component sleep model</SPAN></A></LI>
<LI class="toclevel-1 tocsection-26"><A href="https://help.supermemo.org/wiki/Sleep_Chart#FAQ"><SPAN class=tocnumber>5</SPAN> <SPAN class=toctext>FAQ</SPAN></A> 
<UL>
<LI class="toclevel-2 tocsection-27"><A href="https://help.supermemo.org/wiki/Sleep_Chart#You_can_abandon_SleepChart"><SPAN class=tocnumber>5.1</SPAN> <SPAN class=toctext>You can abandon SleepChart</SPAN></A></LI>
<LI class="toclevel-2 tocsection-28"><A href="https://help.supermemo.org/wiki/Sleep_Chart#You_need_to_copy_sleep_timeline_when_reinstalling_SuperMemo"><SPAN class=tocnumber>5.2</SPAN> <SPAN class=toctext>You need to copy sleep timeline when reinstalling SuperMemo</SPAN></A></LI>
<LI class="toclevel-2 tocsection-29"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Gaps_in_Timeline"><SPAN class=tocnumber>5.3</SPAN> <SPAN class=toctext>Gaps in Timeline</SPAN></A></LI>
<LI class="toclevel-2 tocsection-30"><A href="https://help.supermemo.org/wiki/Sleep_Chart#Should_I_log_light_sleep"><SPAN class=tocnumber>5.4</SPAN> <SPAN class=toctext>Should I log light sleep</SPAN></A></LI></UL></LI></UL></DIV>
<H2><SPAN id=Introduction class=mw-headline>Introduction</SPAN></H2>
<P>Sleep is vital for learning. To sleep well and to learn well, you need to understand your own circadian rhythm. <B>Sleep Chart</B> in SuperMemo was designed to assist you in that task. It can help you optimize the timing of sleep as well as to optimize the timing of your learning. You can inspect the timeline of learning that is generated automatically. Your sleep data must be logged manually in the <B>Sleep Chart</B>. Collecting your sleep data can be useful in understanding the link between sleep and learning. </P>
<P>At minimum skill level, you can use <B>Sleep Chart</B> for basic visual inspection of your favorite learning and sleep hours. However, more advanced functions such as optimizing the time for learning or the time for sleep require advanced analysis and understanding of circadian rhythms. Currently, the toolset for analysing the impact of sleep on learning is very limited. However, if you start logging your sleep data today, you will be able to use future, more advanced versions of SuperMemo to study and understand your sleep and learning. </P>
<P>You can access <B>Sleep Chart</B> with: </P>
<OL>
<LI><B><A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu">Toolkit</A>&nbsp;: Sleep Chart</B> on the <A title="Main menu" href="https://help.supermemo.org/wiki/Main_menu">main menu</A>,</LI>
<LI><A title="SuperMemo Commander" href="https://help.supermemo.org/wiki/SuperMemo_Commander">SuperMemo Commander</A>, or</LI>
<LI>by just pressing <I>F12.</I></LI></OL>
<DIV class=center>
<P><A title="SuperMemo: Toolkit&nbsp;: Sleep Chart&nbsp;: Timeline displaying repetitions blocks of the current collection (in red) and sleep blocks (in blue)" class=image href="https://help.supermemo.org/wiki/File:Sleep_and_learning_timeline.jpg"><img alt="SuperMemo: Toolkit&nbsp;: Sleep Chart&nbsp;: Timeline displaying repetitions blocks of the current collection (in red) and sleep blocks (in blue)" src="https://help.supermemo.org/images/thumb/7/7a/Sleep_and_learning_timeline.jpg/800px-Sleep_and_learning_timeline.jpg" width=800 height=591 srcset="/images/thumb/7/7a/Sleep_and_learning_timeline.jpg/1200px-Sleep_and_learning_timeline.jpg 1.5x, /images/7/7a/Sleep_and_learning_timeline.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Sleep and learning timeline. Sleep blocks are marked in <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue</SPAN>. Learning blocks in <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red</SPAN>. Total learning time on individual days is displayed on the right. The currently selected sleep block turns <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: yellow">yellow</SPAN>. Its length is displayed at the bottom. A sleep block whose color bleeds from <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue</SPAN> into <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: magenta">pink</SPAN> denotes interrupted sleep (e.g. with an alarm clock). A sleep block with the color changing from <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: #000">black</SPAN> to <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue</SPAN> marks a delayed sleep episode (e.g. caused by watching a late tennis match).</I> </P></BLOCKQUOTE>
<P><A title="SuperMemo: Sleep and learning timeline in the Dense view used to visualize long-term trends" class=image href="https://help.supermemo.org/wiki/File:Sleep_and_learning_timeline_(Dense_view).jpg"><img alt="SuperMemo: Sleep and learning timeline in the Dense view used to visualize long-term trends" src="https://help.supermemo.org/images/thumb/1/17/Sleep_and_learning_timeline_%28Dense_view%29.jpg/800px-Sleep_and_learning_timeline_%28Dense_view%29.jpg" width=800 height=434 srcset="/images/thumb/1/17/Sleep_and_learning_timeline_%28Dense_view%29.jpg/1200px-Sleep_and_learning_timeline_%28Dense_view%29.jpg 1.5x, /images/1/17/Sleep_and_learning_timeline_%28Dense_view%29.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Sleep and learning timeline in the <B>Dense</B> view used to visualize long-term trends.</I> </P></BLOCKQUOTE></DIV>
<H3><SPAN id=Repetitions_timeline class=mw-headline>Repetitions timeline</SPAN></H3>
<P>The timeline of repetitions is collected automatically and is separate for each <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="0">collection</A>. Each time your make repetitions with SuperMemo, the learning block is added to the timeline (displayed in <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red</SPAN>). </P>
<H3><SPAN id=Sleep_timeline class=mw-headline>Sleep timeline</SPAN></H3>
<P>The timeline of sleep must be logged manually. There is only one sleep timeline in SuperMemo (unlike repetition timelines that are separate for individual <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="1">collections</A>). If you move SuperMemo between computers, remember to move your sleep timeline as well. The timeline is stored in the <I>[SLEEP]</I> subfolder of the SuperMemo folder as <I>sleep.tim </I>(e.g. <I>d:\sm17\sleep\sleep.tim</I>). This file's name and location cannot be customized. This file is compatible with SleepChart and can be opened and edited in that application independent of SuperMemo. </P>
<P>To log a block of sleep, click the beginning of the block (sleep start) and then click the end of the block (sleep end). You can also start from clicking the end of sleep first. Sleep blocks above 22 hours are disallowed. Sleep blocks cannot overlap with repetitions timeline (you cannot learn with SuperMemo and be asleep at the same time). If you have already collected your sleep data in <A class="external text" href="http://www.super-memory.com/articles/sleepchart.htm">SleepChart</A>, you can import this data with <B>File&nbsp;: Import&nbsp;: SleepChart file</B>. You can also import data from a spreadsheet in the CSV format. If you import files from SleepChart, you can test for sleep and learning overlaps with <B>File&nbsp;: Verify&nbsp;: Block overlaps</B>. Protection from block overlaps is an important advantage of using SuperMemo over SleepChart, in which it was very easy to fall out of phase in logging data (e.g. by failing to fill out a single day and noticing that only a month later). You can mark blocks of forcefully delayed sleep, as well as mark blocks cut short with an alarm clock or other factors. Please note that you can get best analytical results if you do not artificially regulate sleep (e.g. with an alarm clock, sleeping pills, etc.). Applied models will not fully account for artificial intervention. Last but not least, natural sleep is what you should aim for in learning as well as for the sake of maximum health and well-being. Natural free-running sleep will maximize your fun in life! </P>
<H2><SPAN id=Timeline_graphs class=mw-headline>Timeline graphs</SPAN></H2>
<P>Currently you can use 11 analytical graphs in <B>Sleep Chart</B>. This set is likely to grow in future releases of SuperMemo as more gets to be known about information that can be extracted from correlations found in sleep&amp;learning data. If you deem the presented analytical power as insufficient today, it should not stop you from collecting sleep data. Start today! Every data point can contribute to valuable conclusions in the future. </P>
<H3><SPAN id=Timeline class=mw-headline>Timeline</SPAN></H3>
<P>Timeline displays repetitions blocks of the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="2">collection</A> (in <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red</SPAN>) and sleep blocks (in <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue</SPAN>). Dates and total repetition time are displayed on the right. Sleep blocks can be consolidated with <B>Consolidate</B> button on the toolbar. For example, if you woke up for 5-10 min. in the night, consolidation will make SuperMemo treat the entire night block as a single entity (short awakenings are a frequent occurrence, even if we are not aware of them, and have little impact on learning). Sleep optimization data can be displayed in this graph. Most importantly, two independent models are used to predict middle-of-the-night points as well as the expected optimum retirement and awakening times. Those approximations may be helpful in optimizing sleep in people who work shifts or sleep in irregular hours for various reasons. For example, after a week of irregular sleep, it may be difficult to determine the optimum retirement hour that is likely to produce best quality sleep. Going to sleep too early might result in premature awakening (which may often ruin the night sleep entirely). Going to sleep too late may result in short night sleep, sleep deprivation, and reduced alertness on the following day. Predicting optimum sleep time on the basis of sleep history is inexact science, and two models used may produce different outcomes. <B>Important!</B> Your natural instinct should always take precedence over mathematical models. Moreover, best results in sleep optimization are accomplished in free-running sleep. If you use an alarm clock, or force yourself awake through the night, or take sleeping pills, the models may not adequately account for the chaotic change that is occurring in your sleep control systems. </P>
<P>It is impossible to provide a sure&amp;simple way of interpreting the following graphs. Only rough guidelines are provided. For more detailed interpretation, send your data to <I>sleep2016(AT)supermemo(DOT)org</I>. Your data will be used to improve future analytics. If possible, you will also receive personal help in interpreting your results. </P>
<DIV class=center>
<P><A title="SuperMemo: Sleep and repetitions timeline displaying repetitions blocks of the current collection (in red) and sleep blocks (in blue) with recomputed circadian approximations on the current data" class=image href="https://help.supermemo.org/wiki/File:Sleep_and_learning_timeline_with_optimization_data.jpg"><img alt="SuperMemo: Sleep and repetitions timeline displaying repetitions blocks of the current collection (in red) and sleep blocks (in blue) with recomputed circadian approximations on the current data" src="https://help.supermemo.org/images/thumb/e/ef/Sleep_and_learning_timeline_with_optimization_data.jpg/800px-Sleep_and_learning_timeline_with_optimization_data.jpg" width=800 height=549 srcset="/images/e/ef/Sleep_and_learning_timeline_with_optimization_data.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Sleep and repetitions timeline displaying repetitions blocks of the current <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Collection" oldtitle="Glossary:Collection" data-hasqtip="3">collection</A> (in <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red</SPAN>) and sleep blocks (in <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue</SPAN>) with recomputed circadian approximations on the current data. <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">Blue</SPAN> and <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red</SPAN> continuous lines are predictions of optimum sleep time using the SleepChart model (based on sleep statistics). <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: yellow">Yellow continuous line</SPAN> shows the prediction of the maximum of circadian sleepiness (circadian middle-of-the-night peak) using a phase response curve model. Note that, theoretically, the yellow line should roughly fall into the middle between blue and red lines. However, when a disruption of the sleep pattern is severe, those lines might diverge testifying to the fact that it is very hard to build models that fully match the chaotic behavior of the sleep control system subjected to a major perturbation. <SPAN style="BORDER-TOP: red 2px solid; BORDER-RIGHT: red 2px solid; BORDER-BOTTOM: red 2px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; BORDER-LEFT: red 2px solid; PADDING-RIGHT: 3px; BACKGROUND-COLOR: cyan">Aqua dots</SPAN> point to the predicted daytime dip in alertness (i.e. the time when a nap might be most productive).</I> </P></BLOCKQUOTE></DIV>
<H3><SPAN id=Circadian class=mw-headline>Circadian</SPAN></H3>
<P>The circadian graph in SleepChart can help you better understand your sleep patterns, as well as to visualize the degree of cycle instability (i.e. how difficult it is for your sleep-wake cycle to fit into 24 hours). You will need a few months of data before the graph becomes meaningful. In addition, subjective night approximation lines in the sleep log are subject to substantial <A class="external text" href="http://en.wikipedia.org/wiki/Hysterisis">hysteresis</A>. If your lifestyle changes dramatically (e.g. as a result of a therapy), you may need a few weeks for the approximation lines to align properly with data. The circadian graph may then be more difficult to interpret. In such cases, you can use <B>From the first day</B> and <B>To the last day</B> options to demarcate the period of interest. This will limit the analysis to a selected period characterized by a selected lifestyle. </P>
<DIV class=center>
<P><A title="SuperMemo: Circadian graph plotting your favorite sleep times as counted from natural awakening (blue homeostatic line), as well as the resulting average sleep length produced by various retirement hours (red circadian line). The slanting green line separates the graph into the areas of phase advanced (right) and phase delays (left). The line is determined by points in the graph where the waking time (horizontal axis) added to the sleep time (left vertical axis) equals to 24.0 hours. The place where the green breakeven line crosses the red sleep length line determines the optimum balanced sleep cycle of 24 hours." class=image href="https://help.supermemo.org/wiki/File:Circadian.jpg"><img alt="SuperMemo: Circadian graph plotting your favorite sleep times as counted from natural awakening (blue homeostatic line), as well as the resulting average sleep length produced by various retirement hours (red circadian line). The slanting green line separates the graph into the areas of phase advanced (right) and phase delays (left). The line is determined by points in the graph where the waking time (horizontal axis) added to the sleep time (left vertical axis) equals to 24.0 hours. The place where the green breakeven line crosses the red sleep length line determines the optimum balanced sleep cycle of 24 hours." src="https://help.supermemo.org/images/thumb/e/e8/Circadian.jpg/800px-Circadian.jpg" width=800 height=551 srcset="/images/e/e8/Circadian.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Circadian and homeostatic sleepiness. Circadian graph plotting your favorite sleep times as counted from natural awakening (<SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue homeostatic line</SPAN>), as well as the resulting average sleep length produced by various retirement hours (<SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red circadian line</SPAN>). The <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: green">slanting green line</SPAN> separates the graph into the areas of phase advanced (right) and phase delays (left). The line is determined by points in the graph where the waking time (horizontal axis) added to the sleep time (left vertical axis) equals to 24.0 hours. The place where the <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: green">green breakeven line</SPAN> crosses the <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red sleep length line</SPAN> determines the optimum balanced sleep cycle of 24 hours. The greater the angle between the <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: green">green</SPAN> and <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red</SPAN> lines, the harder it is to balance sleep and fit it into the 24h cycle of the rotating earth. In the presented example, the longest sleep occurs after a 17-hour day, the best adjusted cycle happens after a 19-hour day, while the usual waking day lasts around 20 hours.</I> <I></I></P></BLOCKQUOTE></DIV>
<H4><SPAN id=Sleep_initiation class=mw-headline>Sleep initiation</SPAN></H4>
<P><B><SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">Blue line</SPAN> shows the preferred time to fall asleep</B>. It corresponds with sleep propensity derived from the number of sleep blocks falling into a given hour of the waking day, where zero on the horizontal axis refers to the hour of waking up. Percentage of sleep episodes initiated at any given time is displayed on the right vertical axis. The blue line roughly expresses your "tiredness of wakefulness". It also expresses your ability to fall asleep. Your own optimum bedtime hour is your personal characteristic as it differs between people. For most people the optimum bedtime falls into the range of 16-20 hours from waking. In the example, the most favored bed time occurs in the 18th hour of waking. </P>
<H4><SPAN id=Sleep_maintenance class=mw-headline>Sleep maintenance</SPAN></H4>
<P><B><SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">Red line</SPAN> shows the average length of sleep</B>. This line is a rough reflection of the ability to maintain sleep, i.e. the longest sleep episodes occur during the subjective night. The average length of sleep is displayed on the left vertical axis. The graph will tell you that even if you are able to initiate sleep during the day, it will never last long. In most cases of regular sleepers, only after 11-14 hours of waking does the length of initiated sleep start increasing. Note that the sleep length graph is slightly phase shifted in reference to the preferred sleep initiation time due to the fact that long sleep is mostly achieved by initiating sleep early. </P>
<H4><SPAN id=Optimizing_bedtime class=mw-headline>Optimizing bedtime</SPAN></H4>
<P>If you are trying to determine your optimum bedtime, find the evening peak in the <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue curve</SPAN> and choose nearby points that produce sufficiently long sleep (<SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red curve</SPAN> high enough). In addition, pay attention to the fact that your wake and sleep time should add up to 24 hours, otherwise you will experience phase shifts. </P>
<P>Some people take naps during the day. Others don't. In nappers, the <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue curve</SPAN> should also point to the maximum mid-day alertness dip. Short nap time may actually be a sign of good nap timing as long as the nap is not taken too early in reference to the <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue curve</SPAN>. Non-nappers will also experience a peak of sleepiness around the 7th hour even though their <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue curve</SPAN> will not show as a prominent bulge. </P>
<P>If the graph shows that your optimum nap time falls into the 8th hour, and you wake up at 6 am, you should take a break at around 14:00 (2 pm) and look for a secluded place for a few minutes of rest. You could also plan your lunch at around 13:00-13:30 to complete a perfect setting for a siesta. </P>
<H3><SPAN id=Learning_circadian_cycle class=mw-headline>Learning circadian cycle</SPAN></H3>
<P>If you learn "on demand" (as opposed to planned learning in a specific time of day), you can see the circadian plot of your learning analogous to the SleepChart plot. This shows you when you like to learn and for how long. </P>
<DIV class=center>
<P><A title='SleepChart: Learning circadian cycle. The exemplary picture proves that morning is the best time to learn with a "second (circadian) wind" in the evening. The morning learning time is short and sharp with longer individual learning blocks, while the evening time spans over a longer period but shows gradually decreasing drop in the "power to learn" (2h average in the morning, 1h average in the 12th hour, down to 5-10 min. at the end of the day).' class=image href="https://help.supermemo.org/wiki/File:Learning_circadian_cycle.jpg"><img alt='SleepChart: Learning circadian cycle. The exemplary picture proves that morning is the best time to learn with a "second (circadian) wind" in the evening. The morning learning time is short and sharp with longer individual learning blocks, while the evening time spans over a longer period but shows gradually decreasing drop in the "power to learn" (2h average in the morning, 1h average in the 12th hour, down to 5-10 min. at the end of the day).' src="https://help.supermemo.org/images/thumb/5/52/Learning_circadian_cycle.jpg/800px-Learning_circadian_cycle.jpg" width=800 height=595 srcset="/images/thumb/5/52/Learning_circadian_cycle.jpg/1200px-Learning_circadian_cycle.jpg 1.5x, /images/5/52/Learning_circadian_cycle.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Learning circadian cycle. The exemplary picture proves that morning is the best time to learn with a "second (circadian) wind" in the evening (<SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue line</SPAN>). The morning learning time is short and sharp with longer individual learning blocks, while the evening time spans over a longer period but shows gradually decreasing drop in the "power to learn" (2h average in the morning, 1h average in the 12th hour, down to 5-10 min. at the end of the day)(<SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red line</SPAN>). The rapid increase in the length of blocks after 21sth hour (<SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red line</SPAN>) represents the days of "early rising with extra learning power". Even though those early learning blocks are long, they do not occur often (as indicated by low <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue line</SPAN>, which represent "frequency of learning" at that particular time).</I></P></BLOCKQUOTE></DIV>
<H3><SPAN id=Phase_shift class=mw-headline>Phase shift</SPAN></H3>
<P>The phase shift graph may be used by people in free running sleep suffering from ASPS or DSPS. This graph shows the degree of phase-shift as well as its dependence on the time of day. The graph can be used to see the expected bedtime given a specific natural waking time: </P>
<DIV class=center>
<P><A title="Phase shift graph shows the degree of phase-shift as well as its dependence on the time of day and can be used to see the expected bedtime given a specific natural waking time" class=image href="https://help.supermemo.org/wiki/File:Phase_shift.jpg"><img alt="Phase shift graph shows the degree of phase-shift as well as its dependence on the time of day and can be used to see the expected bedtime given a specific natural waking time" src="https://help.supermemo.org/images/thumb/3/35/Phase_shift.jpg/800px-Phase_shift.jpg" width=800 height=519 srcset="/images/3/35/Phase_shift.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> <B>Phase shift</B> graph displaying the degree of phase-shift (<A class="external text" href="https://supermemo.guru/wiki/Advanced_Sleep_Phase_Syndrome_(ASPS)">ASPS</A> or <A class="external text" href="https://supermemo.guru/wiki/Delayed_Sleep_Phase_Syndrome_(DSPS)">DSPS</A>) as well as its dependence on the time of the day and can be used to see the expected bedtime given a specific natural waking time. <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">Blue line</SPAN> shows the bedtime (vertical axis) for days with a given waking hour (horizontal axis). <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">Red line</SPAN> shows the next day's waking hours (which are shifted by 1-2 hours in DSPS). <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: fuchsia">Fuchsia</SPAN> and <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: silver">gray</SPAN> lines indicate the siesta period. Even though the <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red waking line</SPAN> begins at the origin of the graph, it shows a substantial phase shift at later hours (DSPS). From the presented exemplary graph one can read that for the waking time equal to 7 am (horizontal axis), the expected time to go to bed, as indicated by the <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue line</SPAN>, is 1 am (vertical axis), while optimum siesta time occurs between 15:00 and 16:00. However, if the wake time is 11 am, the bedtime is likely to come only at 5 am the next day.</I> </P></BLOCKQUOTE></DIV>
<P><B>Remember!</B> Each individual will have a his or her own unique graph. Moreover, the graph will look differently if it is taken at times of work or at times of summer vacation. It will be affected by stresses at work and at home. It may even change when you move from one house to another, or when you change the climate zone. The graph will accurately reflect your rhythm only if you adhere to free running sleep. If you use an alarm clock, this graph will be meaningless! </P>
<H3><SPAN id=Alertness class=mw-headline>Alertness</SPAN></H3>
<P>In healthy individuals who are not sleep deprived and who sleep in the correct phase, the best learning results are obtained early in the morning. This easily reproducible observation was an incentive to introduce two options in SuperMemo that help users of the program study their alertness throughout the learning day. The term <I>alertness</I>, in SuperMemo, is used interchangeably to describe two different measures of cognitive function: </P>
<OL>
<LI>inverse of sleep propensity (or sleep drive) as derived from the <A href="https://help.supermemo.org/wiki/Sleep_Chart#Two-component_model_of_sleep_in_SleepChart">two component model</A>, and</LI>
<LI>the average grade in learning with SuperMemo which corresponds with memory recall.</LI></OL>
<P>Both expressions of alertness are closely correlated. SuperMemo measures alertness as well as attempts to predict changes in alertness in two different time frames intended to separate the homeostatic and circadian components of sleep propensity. Both approaches require a sleep log for the measurements and for the predictions to be possible. To demonstrate the homeostatic changes to alertness, SuperMemo measures the learning performance since the last sleep episode. To demonstrate the circadian changes to alertness, SuperMemo measures the learning performance in reference to the circadian time (i.e. time measured since the optimum natural waking hour) in periods that may or may not include intervening sleep episodes. As it can be seen in the enclosed pictures, it is not possible to fully deconvolve the impact of homeostatic and circadian sleep propensity on learning. Homeostatic graphs will always include a small circadian bump related to post-siesta learning, while circadian graphs will be affected by sleep habits that are closely correlated with the circadian cycle, esp. in free running sleep. </P>
<P>If you have already collected your sleep data with <A class="external text" href="http://www.super-memory.com/articles/sleepchart.htm">SleepChart</A>, you can see your wake-recall correlations with the newest SuperMemo. Note that only repetitions executed with SuperMemo 13.0 (2006) or later will be included in the graphs as earlier SuperMemos did not store precise time of repetitions in repetition history. </P>
<P>You can see how fast your alertness, recall and grades drop during the day by inspecting the <B>Alertness (H)</B> graph in SuperMemo. In this graph, you can see the time that has passed since the last sleep block, and how your recall changes in waking: </P>
<DIV class=center>
<P><A title="SuperMemo: Toolkit&nbsp;: Sleep Chart&nbsp;: Alertness (H) graph makes it possible to visually inspect how recall decreases during a waking day" class=image href="https://help.supermemo.org/wiki/File:Alertness_homeostatic.jpg"><img alt="SuperMemo: Toolkit&nbsp;: Sleep Chart&nbsp;: Alertness (H) graph makes it possible to visually inspect how recall decreases during a waking day" src="https://help.supermemo.org/images/thumb/4/40/Alertness_homeostatic.jpg/800px-Alertness_homeostatic.jpg" width=800 height=547 srcset="/images/thumb/4/40/Alertness_homeostatic.jpg/1200px-Alertness_homeostatic.jpg 1.5x, /images/4/40/Alertness_homeostatic.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> <B><A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu">Toolkit</A>&nbsp;: <A class="mw-selflink selflink">Sleep Chart</A>&nbsp;: Alertness (H)</B> graph makes it possible for you to visually inspect how recall (and <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:Grade" oldtitle="Glossary:Grade" data-hasqtip="4">grades</A>) decrease during the waking day. It also shows the impact of circadian factors with grades slightly lower immediately after waking and slightly higher after the mid-day dip in the 9th hour. The <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue dots</SPAN> are recall data illustrating decline in performance during a waking day from 87.5% at waking to 81.5% at midday nadir (size of the circles corresponds with the number of repetitions collected, where minimum 50 repetitions are needed to paint a circle in this particular graph). The <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: yellow">yellow line</SPAN> is the estimated homeostatic alertness derived from the sleep log data. The <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: aqua">aqua line</SPAN> represents the circadian alertness estimate derived from the same sleep log data. Recall is a resultant of the impact of both sleep-drive processes: homeostatic (<SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: yellow">yellow</SPAN>) and circadian (<SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: aqua">aqua</SPAN>). 0.1 (hours) (at the bottom) is the minimum sleep block length taken into consideration. 101,230 repetitions cases were taken to plot the graph. The <B>Deviation</B> parameter displayed at the top tells you how well the chosen approximation curve fits the data (in the picture: negatively exponential recall curve). The lesser the deviation, the better the fit. The deviation is computed as a square root of the average of squared differences (as used in the method of least squares). Depressed <B>Use R</B> will use grade-R correlations for an average student to estimate recall (R derived from the <A title="" class=glossaryEntryLink href="https://help.supermemo.org/wiki/Glossary:DSR_model" oldtitle="Glossary:DSR model" data-hasqtip="5">DSR model</A> is not used here, as on the <B>Alertness (C)</B> tab, due to the slowness of the computation). Those correlated R figures may differ from actual recall</I> </P></BLOCKQUOTE></DIV>
<P>In <B>Alertness (H)</B>, the minimum length of a sleep episode in consideration is determined by <B>Min. sleep block (h)</B> box (0.2 hours, or 12 min. is the default minimum). Shorter sleep blocks are disregarded in plotting this graph. Homeostatic alertness half-life (in hours) tells you when your learning capacity drops by half after waking. You can modify this parameter to look for a better curve fit in your case (the <B>Model</B> button must be depressed). See <B>Deviation</B> to evaluate the fit. This half-life can differ between individuals. Notably, it is very short in narcoleptics, and very long in natural non-nappers. </P>
<P>The circadian changes in alertness can be seen in the <B>Alertness (C)</B> graph, which plots alertness throughout the day in reference to the circadian time measured from the actual waking time or from the optimum natural waking time: </P>
<DIV class=center>
<P><A title="Alertness (C) graph showing the powerfully biphasic nature of the human circadian cycle." class=image href="https://help.supermemo.org/wiki/File:Alertness_circadian.jpg"><img alt="Alertness (C) graph showing the powerfully biphasic nature of the human circadian cycle." src="https://help.supermemo.org/images/thumb/d/d6/Alertness_circadian.jpg/800px-Alertness_circadian.jpg" width=800 height=496 srcset="/images/thumb/d/d6/Alertness_circadian.jpg/1200px-Alertness_circadian.jpg 1.5x, /images/d/d6/Alertness_circadian.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> <B><A title="Toolkit menu" href="https://help.supermemo.org/wiki/Toolkit_menu">Toolkit</A>&nbsp;: <A class="mw-selflink selflink">Sleep Chart</A>&nbsp;: Alertness (C)</B> graph showing the powerfully biphasic nature of the human circadian cycle. The horizontal axis shows the circadian time, i.e. the time that elapses from phase 0, i.e. the predicted "end of the night" time (if <B>Model</B> is depressed). The prediction comes from the circadian model employed in SleepChart, and is derived from the sleep log data. The <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: aqua">aqua line</SPAN> is the circadian alertness estimate derived from the same sleep log data using the two component model of sleep propensity developed for the purpose of sleep optimization in SuperMemo (inspired by similar work by Alexander A. Borbely and Peter Achermann). The cumulative alertness estimate, represented by the <SPAN style="COLOR: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red line</SPAN>, is the resultant of the status of the two components of sleep propensity: the homeostatic component and the circadian component. The <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">blue dots</SPAN> are recall data taken from the learning process in SuperMemo that correlate well with overall alertness. They clearly demonstrate the biphasic performance during a waking day from 89% in the morning to 80.5% at midday nadir, 85% at evening peak, and 80% before sleep (size of the circles corresponds with repetitions collected; mimimum 54 repetitions needed to paint a circle for this size of the data set). 102,045 repetitions were taken to produce the graph. Depressed <B>Use R</B> will use R estimates from the DRS model and compute recall gain in comparison with baseline</I> </P></BLOCKQUOTE></DIV>
<H4><SPAN id=Alertness_approximation_buttons class=mw-headline>Alertness approximation buttons</SPAN></H4>
<UL>
<LI><B>Homeostatic</B> - approximation of the homeostatic alertness (inverse of the homeostatic sleep drive). Depending on the status of the&nbsp;<B>Model</B> button, the approximation is either a theoretical negatively exponential curve that provides the best fit to the alertness data, or is taken from the two-processes model providing best fit to the sleep log data.</LI>
<LI><B>Circadian</B> - approximation of the circadian alertness (inverse of the circadian sleep drive). Depending on the status of the <B>Model </B>button, the approximation is adjusted for the actual waking time or for the predicted optimum waking time taken from the two-processes sleep model. Depending on the status of the <B>Exp FI</B> button, the graph is also adjusted for the theoretical association between grades and recall (as opposed to only fail vs. success measurement).</LI>
<LI><B>Alertness</B> - resultant alertness that combines homeostatic and circadian alertness (inverse of the modelled sleep drive). The formula used to combine the two components of alertness has been derived heuristically to provide a good fit to sleep log and recall data.</LI>
<LI><B>Wake</B> - waking time proportion at a given point in circadian time (this is a straight line in the homeostatic graph as all points in the graph are plotted after the last registered sleep episode). The waking proportion is not to scale as all approximation graphs are stretched between minimum and maximum levels for better graph clarity.</LI></UL>
<H4><SPAN id=Other_alertness_graph_buttons class=mw-headline>Other alertness graph buttons</SPAN></H4>
<UL>
<LI><B>Model</B> - switch between actual waking time and the modelled predicted optimum waking time taken from the two-processes model. This button also switches to the negatively exponential approximation of the wake-vs-recall curve (as opposed to the curve taken from the two-processes sleep model).</LI>
<LI><B>Exp FI</B> - use expected forgetting index estimations to differentiate between grades in the learning process (when this button is depressed, only fail and pass grades are taken as recall 0 and 1).</LI>
<LI><B>Excel</B> - export data to Excel.</LI></UL>
<H4><SPAN id=Homeostatic_alertness_parameters class=mw-headline>Homeostatic alertness parameters</SPAN></H4>
<P>When displaying the homeostatic alertness, you can adjust two parameters (bottom of the graph): </P>
<UL>
<LI>minimum length of sleep blocks considered (in hours). All sleep episodes lasting less than the said parameter will be ignored in the graph.</LI>
<LI>homeostatic alertness halflife (in hours). This number tells you when your learning capacity drops by half after waking. You can modify this parameter to look for a better curve fit (<B>Model</B> must be depressed). See <B>Deviation</B> to evaluate the fit. This halflife can differ between individuals. Notably, it is very short in narcoleptics, and very long in natural non-nappers.</LI></UL>
<H3><SPAN id=Napping class=mw-headline>Napping</SPAN></H3>
<P>This graph lets you know how much time you need to compensate with naps if your night time gets shortened. </P>
<DIV class=center>
<P><A title="Correlation between the duration of nighttime core sleep and the total duration of naps" class=image href="https://help.supermemo.org/wiki/File:Napping_vs_core_sleep.jpg"><img alt="Correlation between the duration of nighttime core sleep and the total duration of naps" src="https://help.supermemo.org/images/thumb/7/70/Napping_vs_core_sleep.jpg/800px-Napping_vs_core_sleep.jpg" width=800 height=501 srcset="/images/7/70/Napping_vs_core_sleep.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Optimum nap duration. When the correlation between the duration of nighttime core sleep and the total duration of naps is investigated, a rather non-linear relationship emerges. In the presented example, a negatively exponential function provides far better fit to data than a linear function. However, in the most studied range corresponding with the nighttime sleep ranging from 4 to 8 hours, a nearly linear relationship can be observed where each hour of lost night sleep requires 20 min. of replacement nap time. This shows than napping has a powerful compensatory power.</I></P></BLOCKQUOTE></DIV>
<H3><SPAN id=REM class=mw-headline>REM</SPAN></H3>
<P>This tab is included in SuperMemo for research purposes only. Using circadian phase misalignment in nighttime sleep blocks, SleepChart attempts to make heuristic guesses on the possible sleep architecture, incl. the proportion of REM sleep achieved. This can then be correlated with the quality of learning on the following day. SuperMemo REM heuristic has not been properly validated. If you use different REM measurement methods (e.g. based on nighttime mobility), you may obtain different results. In particular, polysomnographic measurements are the best way to get data on the proportion of REM in night sleep. </P>
<H3><SPAN id=Sleep_block_length_distribution class=mw-headline>Sleep block length distribution</SPAN></H3>
<P>NREM-REM sleep cycles take roughly 90 min. A popular myth says that the length of a healthy night-time sleep episode will therefore always be a multiple of 90 min. Another myth says that it is ok to interrupt sleep after a multiple of 90 min. A variant of both myths says that sleep is supposed to last a multiple of a period that is specific to a given individual. </P>
<P>SleepChart displays the distribution of the length of all sleep episodes. That distribution can be used to invalidate the claim that sleep blocks cluster in multiples of 90 min. </P>
<DIV class=center>
<P><A title="SleepChart: The sleep block length distribution of a monophasic sleeper" class=image href="https://help.supermemo.org/wiki/File:Sleep_block_length_distribution_(monophasic_sleeper).gif"><img alt="SleepChart: The sleep block length distribution of a monophasic sleeper" src="https://help.supermemo.org/images/thumb/d/d6/Sleep_block_length_distribution_%28monophasic_sleeper%29.gif/800px-Sleep_block_length_distribution_%28monophasic_sleeper%29.gif" width=800 height=490 srcset="/images/d/d6/Sleep_block_length_distribution_%28monophasic_sleeper%29.gif 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Sleep block length distribution in a monophasic sleeper. In the presented example, the graph indeed shows clusters at: 1, 2, 3, 3.5, 4, 5, 6, 7, 8, 9, and 10 hours. However, upon closer scrutiny, this clustering comes only from inaccurate logging by the subject (it is easier to mark 3.0 hour block than 2.95 hour block). There is no 90 min. trend discernible, however, one might be tempted to notice a multiple of 60 minutes.</I></P></BLOCKQUOTE></DIV>
<DIV class=center>
<P><A title="SleepChart: The sleep block length distribution of a biphasic sleeper (semi-log scale)" class=image href="https://help.supermemo.org/wiki/File:Sleep_block_length_distribution_(semi-log_scale)_(biphasic_sleeper).jpg"><img alt="SleepChart: The sleep block length distribution of a biphasic sleeper (semi-log scale)" src="https://help.supermemo.org/images/thumb/e/e1/Sleep_block_length_distribution_%28semi-log_scale%29_%28biphasic_sleeper%29.jpg/800px-Sleep_block_length_distribution_%28semi-log_scale%29_%28biphasic_sleeper%29.jpg" width=800 height=406 srcset="/images/e/e1/Sleep_block_length_distribution_%28semi-log_scale%29_%28biphasic_sleeper%29.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Sleep block length distribution in a biphasic sleeper. This graph uses a semi-log scale, which is better for visualizing short sleep blocks of a habitual napper. In this case, a biphasic sleeper shows only one significant cluster at 7 hours of sleep. This cluster was again caused by imprecise logging.</I></P></BLOCKQUOTE></DIV>
<DIV class=center>
<P><A title="A sleep block distribution of a regular 7-hours-per-night monophasic sleeper. There are a few peaks discernible, however, no regular sleep length multiple. In particular, no peaks around the expected 5.5 and 8.5 hours." class=image href="https://help.supermemo.org/wiki/File:Sleep_block_length_distribution_(7h_per_night_monophasic_sleeper).jpg"><img alt="A sleep block distribution of a regular 7-hours-per-night monophasic sleeper. There are a few peaks discernible, however, no regular sleep length multiple. In particular, no peaks around the expected 5.5 and 8.5 hours." src="https://help.supermemo.org/images/thumb/0/06/Sleep_block_length_distribution_%287h_per_night_monophasic_sleeper%29.jpg/800px-Sleep_block_length_distribution_%287h_per_night_monophasic_sleeper%29.jpg" width=800 height=559 srcset="/images/0/06/Sleep_block_length_distribution_%287h_per_night_monophasic_sleeper%29.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Sleep block length distribution in a regular 7-hours-per-night monophasic sleeper. There are a few peaks discernible, however, no regular sleep length multiple. In particular, no peaks around the expected 5.5 and 8.5 hours.</I></P></BLOCKQUOTE></DIV>
<H3><SPAN id=Periodogram class=mw-headline>Periodogram</SPAN></H3>
<P>This graph helps you detect the frequencies that underlie your sleep cycles (circadian cycles and ultradian cycles). </P>
<DIV class=center>
<P><A title="SleepChart: Examplary spectrogram shows a sleep with a prevailing frequency corresponding with a period of 24.454 hours (i.e. 27 minutes more than a 24 h day-night cycle). There is also a cluster of periods around 12.1-12.8 hours (those are reflected by a midday circadian low time suitable for siesta naps)" class=image href="https://help.supermemo.org/wiki/File:Periodogram.jpg"><img alt="SleepChart: Examplary spectrogram shows a sleep with a prevailing frequency corresponding with a period of 24.454 hours (i.e. 27 minutes more than a 24 h day-night cycle). There is also a cluster of periods around 12.1-12.8 hours (those are reflected by a midday circadian low time suitable for siesta naps)" src="https://help.supermemo.org/images/thumb/6/69/Periodogram.jpg/800px-Periodogram.jpg" width=800 height=595 srcset="/images/thumb/6/69/Periodogram.jpg/1200px-Periodogram.jpg 1.5x, /images/6/69/Periodogram.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Examplary spectrogram shows a sleep with a prevailing frequency corresponding with a period of 24.454 hours (i.e. 27 minutes more than a 24 h day-night cycle). There is also a cluster of periods around 12.1-12.8 hours (those are reflected by a midday circadian low time suitable for siesta naps)</I></P></BLOCKQUOTE></DIV>
<H3><SPAN id=Learning class=mw-headline>Learning</SPAN></H3>
<P>This graph lets you see the correlation between the amount of learning and your sleep needs (the correlation may surprise you as it often happens that on a good day you learn more while you sleep less). </P>
<H3><SPAN id=Memory_consolidation class=mw-headline>Memory consolidation</SPAN></H3>
<P>The decline in the ability to consolidate memories during the waking day follows a curve that mirrors the decline in the ability to recall things from memory! As the day goes on, the ability to store facts in memory declines. Short naps seem to restore the memory consolidation power to baseline. As much as recall, consolidation seems to be inversely correlated with the homeostatic drive to sleep. </P>
<P>The conclusion is that in free running sleep (i.e. primarily in the absence of an alarm clock), <B>we can get best learning results if we learn early in the morning</B>. The same holds for exams. The recall and exam results will be best if the exam is held in the morning even though some time for pre-exam cramming may skew the outcome. </P>
<H4><SPAN id=Correlation_between_recall_and_consolidation class=mw-headline>Correlation between recall and consolidation</SPAN></H4>
<P>The fact that both recall and consolidation curves seem to follow a very similar course during a waking day seems to indicate that they both may depend on the same underlying mechanism. This conclusion is amplified by the fact that recall is a passive process, while consolidation is an active process of forming new or reconsolidating old memories. We can hypothesize that the underlying mechanism is therefore not molecular. The decline in recall and consolidation might simply be caused by a decline in operational efficiency of the neural networks involved in learning. That efficiency, expressed as alertness (see: <A href="https://help.supermemo.org/wiki/Sleep_Chart#Alertness">Alertness in SuperMemo</A>), depends on both homeostatic and circadian components of the sleep drive. The homeostatic component determines an overall decline in network efficiency over the course of a waking day, while the circadian component allows of a small bump in the second half of the waking day, presumably due to a neurohormonal impact of the circadian cycle on the overall function of the central nervous system. </P>
<H4><SPAN id=Good_learning_days class=mw-headline>Good learning days</SPAN></H4>
<P>The correlation between recall and consolidation can also be seen in abstraction from the circadian time. If the overall recall and consolidation data are taken from individual days of learning process, they correlate pretty well too. </P>
<P>In SuperMemo, you can see that learning days that are good for recall are also good for memory consolidation. Recall is expressed as a fraction of correct answers on a given day. Consolidation is expressed as a fraction of correct answers on the day of the next repetition that follows the one on the day for which the consolidation is measured. </P>
<P>We can conclude that good learning days are equally good for recall as they are for consolidation. A more general conclusion is that successful recall is essential for consolidation of memories. </P>
<DIV class=center>
<P><A title="Exemplary graph showing how good memory recall improves memory consolidation." class=image href="https://help.supermemo.org/wiki/File:Recall_vs_consolidation_(SleepChart).jpg"><img alt="Exemplary graph showing how good memory recall improves memory consolidation." src="https://help.supermemo.org/images/thumb/5/55/Recall_vs_consolidation_%28SleepChart%29.jpg/800px-Recall_vs_consolidation_%28SleepChart%29.jpg" width=800 height=482 srcset="/images/5/55/Recall_vs_consolidation_%28SleepChart%29.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Exemplary graph showing how good memory recall improves memory consolidation. The relationship between recall and consolidation is nearly linear. The graph was plotted using over 800,000 repetitions in SuperMemo, with 538,000 of these contributing their data to the consolidation estimates. Recall levels with fewer than 3000 data points have been omitted from the graph. The <B>Deviation</B> parameter says how well the linear fit matches the data (the less the deviation, the better the fit). The deviation is computed as a square root of the average of squared differences between the approximation and the data.</I></P></BLOCKQUOTE></DIV>
<DIV class=center>
<P><A title="Exemplary graph showing the average recall for days producing a given level of memory consolidation." class=image href="https://help.supermemo.org/wiki/File:Consolidation_vs_recall_(SleepChart).jpg"><img alt="Exemplary graph showing the average recall for days producing a given level of memory consolidation." src="https://help.supermemo.org/images/thumb/8/8c/Consolidation_vs_recall_%28SleepChart%29.jpg/800px-Consolidation_vs_recall_%28SleepChart%29.jpg" width=800 height=483 srcset="/images/8/8c/Consolidation_vs_recall_%28SleepChart%29.jpg 1.5x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> Exemplary graph showing the average recall for days producing a given level of memory consolidation. The relationship between consolidation and recall is nearly linear. The graph was plotted using over 800,000 repetitions in SuperMemo. Consolidation levels with fewer than 3,000 data points have been omitted from the graph. Lowered recall for consolidation of 100% comes from the fact that this consolidation level is overrepresented by small sample days where lucky perfect recall in just a few items may result in perfect consolidation reading without actually saying anything about the recall on the day the consolidating repetition took place. Sufficiently large number of such cases will let consolidation category of 100% pass the 3,000 data points outlier limit set for this graph, and result in a recall level that is much closer to the average level.</I></P></BLOCKQUOTE></DIV>
<H2><SPAN id=SleepChart_menu class=mw-headline>SleepChart menu</SPAN></H2>
<P>The main menu of SleepChart provides a few commands for timeline file management and statistics. </P>
<UL>
<LI><B>File</B> 
<UL>
<LI><B>New</B> - create a new sleep/timeline file</LI>
<LI><B>Open</B> - open a SleepChart file</LI>
<LI><B>Save</B> - save the current timeline file</LI>
<LI><B>Save as</B> - save the current timeline file under a new name</LI>
<LI><B>Import</B> 
<UL>
<LI><B>SleepChart file</B> - import a timeline file to become a default SleepChart file</LI>
<LI><B>Excel file</B> - import sleep data stored as CSV</LI>
<LI><B>Superimpose</B> - display another SleepChart file super-imposed on the current file</LI></UL></LI>
<LI><B>Export</B> 
<UL>
<LI><B>Sleep length data</B> - export sleep length data as CSV, and report the number of missing day records in the file</LI>
<LI><B>Periodogram data</B> - export data for Fourier analysis of sleep spectra</LI>
<LI><B>Recursive PRC</B> - export recursive PRC data for the analysis of sleep phase shifts</LI></UL></LI>
<LI><B>Verify</B> 
<UL>
<LI><B>Repetition history</B> - compare the sleep file with repetition history to seek discrepancies (e.g. files taken from different individuals)</LI>
<LI><B>Block overlaps</B> - check of sleep block data overlap due to human error</LI></UL></LI></UL></LI>
<LI><B>Edit&nbsp;: Go to day</B> - go to a specific day in data</LI>
<LI><B>Options</B> 
<UL>
<LI><B>Age</B> 
<UL>
<LI><B>Baby</B> - interpret data taken from a little baby before the circadian cycle develops (first 6-10 months of life)</LI>
<LI><B>Child</B> - interpret data taken from children aged 1-3</LI>
<LI><B>Adult</B> - default adult analysis of the circadian cycle (when using data that mix child and adult modes, the scope of analysis can be limited with <B>From</B> and <B>To</B> options on the <B>Circadian</B> tab)</LI></UL></LI>
<LI><B>Statistics</B> - choose the default statistic displayed on the right of the sleep log</LI>
<LI><B>Consolidation</B> - choose the display form for the memory effect graph</LI></UL></LI></UL>
<H2><SPAN id=Two-component_sleep_model class=mw-headline>Two-component sleep model</SPAN></H2>
<P>SuperMemo uses a two-component sleep model inspired by the publications of Alexander A. Borb&#233;ly and Peter Achermann. Unlike other models, SuperMemo uses user's sleep data to predict the homeostatic and circadian status of overall sleep propensity. This model is helpful in choosing the optimum time for learning on a given day (given a particular history of sleep). It can also help planning the optimum bedtime in cases where the sleep pattern is highly irregular. The model does not predicate on the timing and duration of NREM and REM sleep episodes. </P>
<P>The model is tuned to fit typical SleepChart data logs. However, there are individual genetic differences that affect the length of the circadian cycle, steepness of the homeostatic decline in alertness, sleep length preferences, sleep architecture, spectral properties of sleep, fragmentation of sleep, etc. This model is limited in accounting for these variables. If you are sleepy against the simulations based on the model, you can probably trust your own instincts better. If you feel alert against the simulations based on the model, you can certainly get down to learning and ignore predictions of the model. Moreover, sleep patterns are a good measure of your sleep control systems only if they are not artificially disturbed (e.g. by forcefully delaying sleep, using alarm clock, using medication, etc.). In other words, if you are not free running your sleep, the presented model may fail to map your circadian rhythms correctly. You can mark blocks as artificially shortened or delayed (<B>Forced awakening</B> and <B>Delayed retirement</B> on the context menu available with a right-click). However, marked blocks will have a limited effect as there is no way of knowing the degree of the cut into the sleeping patterns, and, consequently, knowing the resulting perturbation in the sleep control system produced by artificially modified sleep. </P>
<P>In Borb&#233;ly model, the timing of sleep is determined by the points in which the curves representing the homeostatic and circadian processes cross. SuperMemo uses a simpler, but more intuitive approach, in which both components of sleepiness are integrated into an overall alertness level (<SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">red line</SPAN> in the graph). <B>The advantage of that approach is the possibility of instant feedback from an actual learning process</B>, where the level of memory recall is supposed to correlate directly with the level of alertness determined by the model. The formula for integrating the two components of sleep into overall alertness was chosen heuristically with the help of alertness data gathered in SuperMemo. The purpose of the integration was to achieve the best possible match of the predicted alertness in the model with the average recall level in SuperMemo. As it has been shown earlier, both homeostatic sleepiness and circadian sleepiness affect the grades in SuperMemo, however, only a combined effect of both components provides a good match with the changes of recall for different combinations of homeostatic and circadian sleepiness. In the model used in SuperMemo, sleep is initiated when the overall alertness drops below a certain level. Sleep may thus be initiated by both components of sleepiness independently, but the timing and duration of sleep will differ for various combinations of changes in the homeostatic and circadian sleep propensity. Despite using a different approach to determining the sleep onset, predictions of the model fit the actual sleep log data pretty well in free running condition in cases studied. </P>
<P>To see the predictions of the model for your own sleep data for any given day, make sure you have your sleep log filled out for recent days in SleepChart, and shift-click the day in question in the sleep log. </P>
<DIV class=center>
<P><A title="The predictions of the two-component sleep model about the homeostatic and circadian status of your alertness" class=image href="https://help.supermemo.org/wiki/File:Sleep_propensity.jpg"><img alt="The predictions of the two-component sleep model about the homeostatic and circadian status of your alertness" src="https://help.supermemo.org/images/thumb/1/1a/Sleep_propensity.jpg/800px-Sleep_propensity.jpg" width=800 height=290 srcset="/images/thumb/1/1a/Sleep_propensity.jpg/1200px-Sleep_propensity.jpg 1.5x, /images/1/1a/Sleep_propensity.jpg 2x"></A> </P>
<BLOCKQUOTE>
<P><I><B>Figure:</B> The predictions of the <A class="external text" href="https://supermemo.guru/wiki/Two-process_model_of_sleep_regulation">two-component sleep model</A> about the homeostatic and circadian status of your alertness. The horizontal axis represents time. <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: blue">Blue blocks</SPAN> show the actual sleep episodes. <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: aqua">Aqua line</SPAN> shows the 24h circadian sleep drive with a mid-day siesta hump. <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: green">Green line</SPAN> is an inverse of the homeostatic sleep drive and can be interpreted as homeostatic alertness, which declines exponentially during wakefulness and is quickly restored by slow-wave sleep (for simplicity, as in Borbely model, the entire sleep block is assumed to have a contribution proportional to its length, as the SleepChart model does not account for sleep stages). <SPAN style="PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: yellow">Yellow vertical lines</SPAN> show the prediction of the circadian bathyphase (circadian middle-of-the-night peak). Bathyphase computations are done with the help of a phase response curve model (as opposed to a statistical model used in earlier versions of SleepChart). <SPAN style="COLOR: white; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND-COLOR: red">Red line</SPAN> shows the resultant alertness (peaks are best for learning, valleys are best for sleep). For example, Alertness on Oct 1, 2008 at 7:43 was predicted to be at 59% of the maximum but would keep increasing fast in the first 2 hours of wakefulness (a typical symptom of a night sleep that is terminated too early). The picture shows two peaks in alertness on Oct 1, 2008, at 9 am and at 7 pm. Those periods would likely be best suited for learning on that day.</I> </P></BLOCKQUOTE></DIV>
<P>To see a more accurate presentation of your own homeostatic and circadian alertness in SuperMemo, see the <B><A href="https://help.supermemo.org/wiki/Sleep_Chart#Alertness">Alertness</A></B> tab in SleepChart. </P>
<H2><SPAN id=FAQ class=mw-headline>FAQ</SPAN></H2>
<H3><SPAN id=You_can_abandon_SleepChart class=mw-headline>You can abandon SleepChart</SPAN></H3>
<P><B>Question</B> </P>
<P>I used to log my sleep into SleepChart. Once this file is imported to SuperMemo, should I abandon the SleepChart file and log sleep details directly into SuperMemo? </P>
<P><B>Answer</B> </P>
<P>Yes. All SleepChart functionality has been included in SuperMemo. You can quickly get <B>Sleep Chart</B> with <I>F12</I>. However, there is full compatibility at the file level, and you can always go back to SleepChart in the future, or introduce sleep blocks using SleepChart if it is more convenient (and does not lead to confusion). All you need to remember is to use the file at the right location: <I>SuperMemoFolder/sleep/sleep.tim</I>. SuperMemo will always use the file at this location only. </P>
<HR>

<H3><SPAN id=You_need_to_copy_sleep_timeline_when_reinstalling_SuperMemo class=mw-headline>You need to copy sleep timeline when reinstalling SuperMemo</SPAN></H3>
<P><B>Question</B> </P>
<P>I installed a new version of SuperMemo and copied my collections into that installation. However, my sleep timeline disappeared. </P>
<P><B>Answer</B> </P>
<P>In addition to copying your collections, you will need to copy the following file: <I>&lt;SuperMemoFolder&gt;\sleep\sleep.tim</I>. This file must be placed in the <I>\sleep</I> folder in the new installation. </P>
<HR>

<H3><SPAN id=Gaps_in_Timeline class=mw-headline>Gaps in Timeline</SPAN></H3>
<P><B>Question</B> </P>
<P>I had been meticulously recording my sleep for about 6 months until I lost track for a couple of weeks and then began recording my sleep once more. How are such gaps in SleepChart treated? Can anything be done afterwards to minimise the damage to the data? </P>
<P><B>Answer</B> </P>
<P>Currently, SuperMemo has very weak protections against missing data. If you use your data to study sleep cycles, you could try to roughly estimate the sleep hours for the period and fill in the approximate data. However, it is hard to say how this will affect sleep&amp;learning correlations. Even a small change could produce a major difference in graphs. You could backup <I>sleep.tim</I> file, fill in the approximations and peek at the <B>Alertness</B> graph. If it has not been disturbed much, you might leave the approximated data and hope that with the inflow of new sleep and learning data, the damage will be diluted. Hopefully, overtime, SuperMemo will add mechanisms to better cope with missing sleep data. However, if you want to understand your own sleep and memory, you would do best by just being religiously systematic with logging in your sleep blocks. </P>
<HR>

<H3><SPAN id=Should_I_log_light_sleep class=mw-headline>Should I log light sleep</SPAN></H3>
<P><B>Question</B> </P>
<P>Hello, should log the time from when you get into bed or try to estimate the time at which you actually fall asleep? I sometimes take up two hours to truly fall asleep even if I am tired. And if I spent an hour on my bed in a kind of light sleep but conscious (or meditating), should I log that in? Or should I just try to truly sleep when I am in my bed? </P>
<P><B>Answer</B> </P>
<P>As SleepChart does not provide for differentiating between sleep stages (this would require some advanced measurement technology), you can use <I>conscious mind</I> as the sole indicator. Light sleep with loss of consciousness should mark as blue=sleep, while tossing and turning or meditation without the loss of conscious thinking should mark as white=wake. If you happen to guess you had short moments of sleep (1-2 min.), you could mark these as short vertical blue sleep lines. Whether you are interested in optimizing sleep (e.g. when to go to sleep) or in viewing your learning performance in waking time, SuperMemo shall cope ok with a degree of imprecision in logging sleep in situations like the one described. </P></DIV></DIV>
<DIV class=visualClear></DIV></DIV></DIV>
<DIV id=mw-navigation>
<H2>Navigation menu</H2>
<DIV id=mw-head>
<DIV role=navigation id=p-personal aria-labelledby=p-personal-label>
<UL>
<LI id=pt-createaccount><A title="You are encouraged to create an account and log in; however, it is not mandatory" href="https://help.supermemo.org/index.php?title=Special:CreateAccount&amp;returnto=Sleep+Chart">Create account</A></LI>
<LI id=pt-login><A title="You are encouraged to log in; however, it is not mandatory [Alt+Shift+o]" accessKey=o href="https://help.supermemo.org/index.php?title=Special:UserLogin&amp;returnto=Sleep+Chart">Log in</A></LI></UL></DIV>
<DIV id=left-navigation>
<DIV role=navigation id=p-namespaces class=vectorTabs aria-labelledby=p-namespaces-label>
<UL>
<LI id=ca-abc><SPAN><A href="https://help.supermemo.org/wiki/Introduction" target=_self>ABC</A></SPAN></LI>
<LI id=ca-youtube><SPAN><A href="https://www.youtube.com/channel/UCqmYtieCc3liSTYxLwk_MLw/videos?sort=p" target=_blank>Demos</A></SPAN></LI>
<LI id=ca-hints-and-tips><SPAN><A href="https://help.supermemo.org/wiki/Hints%26Tips" target=_self>Hints&amp;Tips</A></SPAN></LI>
<LI id=ca-ref><SPAN><A href="https://help.supermemo.org/wiki/Menus,_buttons,_dialogs,_etc." target=_self>Reference</A></SPAN></LI>
<LI id=ca-overviews><SPAN><A href="https://help.supermemo.org/wiki/Overviews" target=_self>Overviews</A></SPAN></LI>
<LI id=ca-buy><SPAN><A href="https://super-memo.com/supermemo18.html" target=_blank>Buy</A></SPAN></LI>
<LI id=ca-support><SPAN><A href="https://help.supermemo.org/wiki/Technical_support" target=_self>Support</A></SPAN></LI></UL></DIV></DIV>
<DIV id=right-navigation>
<DIV role=navigation id=p-views class=vectorTabs aria-labelledby=p-views-label>
<UL>
<LI id=ca-view class="collapsible selected"><SPAN><A href="https://help.supermemo.org/wiki/Sleep_Chart">Read</A></SPAN></LI>
<LI id=ca-viewsource class=collapsible><SPAN><A title="This page is protected.&#13;&#10;You can view its source [Alt+Shift+e]" accessKey=e href="https://help.supermemo.org/index.php?title=Sleep_Chart&amp;action=edit">View source</A></SPAN></LI>
<LI id=ca-history class=collapsible><SPAN><A title="Past revisions of this page [Alt+Shift+h]" accessKey=h href="https://help.supermemo.org/index.php?title=Sleep_Chart&amp;action=history">View history</A></SPAN></LI></UL></DIV>
<DIV role=search id=p-search>
<H3><LABEL for=searchInput>Search</LABEL> </H3>

<DIV id=simpleSearch></DIV></DIV></DIV></DIV></DIV>
<DIV id=mw-navigation>
<DIV id=mw-panel>
<DIV role=banner id=p-logo><A title="Visit the main page" class=mw-wiki-logo href="https://help.supermemo.org/wiki/Main_Page"></A></DIV>
<DIV role=navigation id=p-navigation class=portal aria-labelledby=p-navigation-label>
<DIV class=body>
<UL>
<LI id=n-SuperMemoPedia><A href="https://supermemopedia.com/wiki/Main_Page">SuperMemoPedia</A></LI>
<LI id=n-SuperMemo-Guru><A href="https://supermemo.guru/wiki/SuperMemo_Guru">SuperMemo Guru</A></LI>
<LI id=n-recentchanges><A title="A list of recent changes in the wiki [Alt+Shift+r]" accessKey=r href="https://help.supermemo.org/wiki/Special:RecentChanges">Recent changes</A></LI>
<LI id=n-randompage><A title="Load a random page [Alt+Shift+x]" accessKey=x href="https://help.supermemo.org/wiki/Special:Random">Random page</A></LI></UL></DIV></DIV>
<DIV role=navigation id=p-tb class=portal aria-labelledby=p-tb-label>
<H3 id=p-tb-label>Tools</H3>
<DIV class=body>
<UL>
<LI id=t-whatlinkshere><A title="A list of all wiki pages that link here [Alt+Shift+j]" accessKey=j href="https://help.supermemo.org/wiki/Special:WhatLinksHere/Sleep_Chart">What links here</A></LI>
<LI id=t-recentchangeslinked><A title="Recent changes in pages linked from this page [Alt+Shift+k]" accessKey=k href="https://help.supermemo.org/wiki/Special:RecentChangesLinked/Sleep_Chart" rel=nofollow>Related changes</A></LI>
<LI id=t-specialpages><A title="A list of all special pages [Alt+Shift+q]" accessKey=q href="https://help.supermemo.org/wiki/Special:SpecialPages">Special pages</A></LI>
<LI id=t-print><A title="Printable version of this page [Alt+Shift+p]" accessKey=p href="https://help.supermemo.org/index.php?title=Sleep_Chart&amp;printable=yes" rel=alternate>Printable version</A></LI>
<LI id=t-permalink><A title="Permanent link to this revision of the page" href="https://help.supermemo.org/index.php?title=Sleep_Chart&amp;oldid=10956">Permanent link</A></LI>
<LI id=t-info><A title="More information about this page" href="https://help.supermemo.org/index.php?title=Sleep_Chart&amp;action=info">Page information</A></LI></UL></DIV></DIV></DIV></DIV>
<DIV role=contentinfo id=footer>
<UL id=footer-info>
<LI id=footer-info-lastmod>This page was last edited on 31 January 2021, at 11:04.</LI></UL></DIV>