<strong><font color="blue"> : </font></strong><H5 id=_version_history><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_version_history"></A>Version History</H5>
<DIV class=ulist>
<UL>
<LI>
<P>Revision 1, 2020-05-04 (Andres Rodriguez)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Initial draft</P></LI></UL></DIV></LI>
<LI>
<P>Revision 2, 2021-01-21 (Ryan Pavlik)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Document mapping for <CODE>XrSwapchainUsageFlags</CODE></P></LI></UL></DIV></LI></UL></DIV></DIV></DIV></DIV>
<DIV class=sect2>