<strong><font color="blue"> : </font></strong><H4 id=object-debug-annotation><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#object-debug-annotation"></A>12.25.1. Object Debug Annotation</H4>
<DIV class=paragraph>
<P>It can be useful for an application to provide its own content relative to a specific OpenXR handle.</P></DIV>
<DIV class=sect4>