<strong><font color="blue"> : </font></strong><H5 id=object-naming><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#object-naming"></A>Object Naming</H5>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSetDebugUtilsObjectNameEXT">xrSetDebugUtilsObjectNameEXT</A> allows application developers to associate user-defined information with OpenXR handles.</P></DIV>
<DIV class=paragraph>
<P>This is useful when paired with the callback that you register when creating an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> object. When properly used, debug messages will contain not only the corresponding object handle, but the associated object name as well.</P></DIV>
<DIV class=paragraph>
<P>An application can change the name associated with an object simply by calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSetDebugUtilsObjectNameEXT">xrSetDebugUtilsObjectNameEXT</A> again with a new string. If the objectName member of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A> structure is an empty string, then any previously set name is removed.</P></DIV></DIV></DIV>
<DIV class=sect3>