<strong><font color="blue"> : </font></strong><H4 id=session-labels><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#session-labels"></A>12.25.4. Session Labels</H4>
<DIV class=paragraph>
<P>All OpenXR work is performed inside of an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A>. There are times that it helps to label areas in your OpenXR session to allow easier debugging. This can be especially true if your application creates more than one session. There are two kinds of labels provided in this extension:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Region labels</P></LI>
<LI>
<P>Individual labels</P></LI></UL></DIV>
<DIV class=paragraph>
<P>To begin identifying a region using a debug label inside a session, you may use the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A> function. Calls to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A> may be nested allowing you to identify smaller and smaller labeled regions within your code. Using this, you can build a "call-stack" of sorts with labels since any logging callback will contain the list of all active session label regions.</P></DIV>
<DIV class=paragraph>
<P>To end the last session label region that was begun, you <STRONG class=purple>must</STRONG> call <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionEndDebugUtilsLabelRegionEXT">xrSessionEndDebugUtilsLabelRegionEXT</A>. Each <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A> <STRONG class=purple>must</STRONG> have a matching <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionEndDebugUtilsLabelRegionEXT">xrSessionEndDebugUtilsLabelRegionEXT</A>. All of a session&#8217;s label region&#8217;s <STRONG class=purple>must</STRONG> be closed by the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroySession">xrDestroySession</A> function is called for the given <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A>.</P></DIV>
<DIV class=paragraph>
<P>An individual debug label may be inserted at any time using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionInsertDebugUtilsLabelEXT">xrSessionInsertDebugUtilsLabelEXT</A>. The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionInsertDebugUtilsLabelEXT">xrSessionInsertDebugUtilsLabelEXT</A> is used to indicate a particular location within the execution of the application&#8217;s session functions. The next call to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionInsertDebugUtilsLabelEXT">xrSessionInsertDebugUtilsLabelEXT</A>, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A>, or <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionEndDebugUtilsLabelRegionEXT">xrSessionEndDebugUtilsLabelRegionEXT</A> overrides this value.</P></DIV>
<DIV class=paragraph>
<P><STRONG>New Object Types</STRONG></P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessengerEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XR_DEFINE_HANDLE(XrDebugUtilsMessengerEXT)</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> represents a callback function and associated filters registered with the runtime.</P></DIV></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>New Flag Types</STRONG></P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessageSeverityFlagsEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef XrFlags64 XrDebugUtilsMessageSeverityFlagsEXT;</CODE></PRE></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessageSeverityFlagBitsEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">// Flag bits for XrDebugUtilsMessageSeverityFlagsEXT
static const XrDebugUtilsMessageSeverityFlagsEXT XR_DEBUG_UTILS_MESSAGE_SEVERITY_VERBOSE_BIT_EXT = 0x00000001;
static const XrDebugUtilsMessageSeverityFlagsEXT XR_DEBUG_UTILS_MESSAGE_SEVERITY_INFO_BIT_EXT = 0x00000010;
static const XrDebugUtilsMessageSeverityFlagsEXT XR_DEBUG_UTILS_MESSAGE_SEVERITY_WARNING_BIT_EXT = 0x00000100;
static const XrDebugUtilsMessageSeverityFlagsEXT XR_DEBUG_UTILS_MESSAGE_SEVERITY_ERROR_BIT_EXT = 0x00001000;</CODE></PRE></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessageTypeFlagsEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef XrFlags64 XrDebugUtilsMessageTypeFlagsEXT;</CODE></PRE></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessageTypeFlagBitsEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">// Flag bits for XrDebugUtilsMessageTypeFlagsEXT
static const XrDebugUtilsMessageTypeFlagsEXT XR_DEBUG_UTILS_MESSAGE_TYPE_GENERAL_BIT_EXT = 0x00000001;
static const XrDebugUtilsMessageTypeFlagsEXT XR_DEBUG_UTILS_MESSAGE_TYPE_VALIDATION_BIT_EXT = 0x00000002;
static const XrDebugUtilsMessageTypeFlagsEXT XR_DEBUG_UTILS_MESSAGE_TYPE_PERFORMANCE_BIT_EXT = 0x00000004;
static const XrDebugUtilsMessageTypeFlagsEXT XR_DEBUG_UTILS_MESSAGE_TYPE_CONFORMANCE_BIT_EXT = 0x00000008;</CODE></PRE></DIV></DIV></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>New Enum Constants</STRONG></P></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> enumeration is extended with:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_TYPE_DEBUG_UTILS_OBJECT_NAME_INFO_EXT</CODE></P></LI>
<LI>
<P><CODE>XR_TYPE_DEBUG_UTILS_MESSENGER_CALLBACK_DATA_EXT</CODE></P></LI>
<LI>
<P><CODE>XR_TYPE_DEBUG_UTILS_MESSENGER_CREATE_INFO_EXT</CODE></P></LI>
<LI>
<P><CODE>XR_TYPE_DEBUG_UTILS_LABEL_EXT</CODE></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>New Enums</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Structures</STRONG></P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsObjectNameInfoEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrDebugUtilsObjectNameInfoEXT {
    XrStructureType    type;
    const void*        next;
    XrObjectType       objectType;
    uint64_t           objectHandle;
    const char*        objectName;
} XrDebugUtilsObjectNameInfoEXT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR or this extension.</P></LI>
<LI>
<P><CODE>objectType</CODE> is an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A> specifying the type of the object to be named.</P></LI>
<LI>
<P><CODE>objectHandle</CODE> is the object to be named.</P></LI>
<LI>
<P><CODE>objectName</CODE> is a <CODE>NULL</CODE> terminated UTF-8 string specifying the name to apply to objectHandle.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>If <CODE>objectType</CODE> is <CODE>XR_OBJECT_TYPE_UNKNOWN</CODE>, <CODE>objectHandle</CODE> <STRONG class=purple>must</STRONG> not be <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_HANDLE">XR_NULL_HANDLE</A></P></LI>
<LI>
<P>If <CODE>objectType</CODE> is not <CODE>XR_OBJECT_TYPE_UNKNOWN</CODE>, <CODE>objectHandle</CODE> <STRONG class=purple>must</STRONG> be <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_HANDLE">XR_NULL_HANDLE</A> or an OpenXR handle of the type associated with <CODE>objectType</CODE></P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrDebugUtilsObjectNameInfoEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsObjectNameInfoEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsObjectNameInfoEXT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsObjectNameInfoEXT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_DEBUG_UTILS_OBJECT_NAME_INFO_EXT</CODE></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsObjectNameInfoEXT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsObjectNameInfoEXT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsObjectNameInfoEXT-objectType-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsObjectNameInfoEXT-objectType-parameter"></A><CODE>objectType</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A> value</P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsObjectNameInfoEXT-objectName-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsObjectNameInfoEXT-objectName-parameter"></A>If <CODE>objectName</CODE> is not <CODE>NULL</CODE>, <CODE>objectName</CODE> <STRONG class=purple>must</STRONG> be a null-terminated UTF-8 string</P></LI></UL></DIV></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsLabelEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrDebugUtilsLabelEXT {
    XrStructureType    type;
    const void*        next;
    const char*        labelName;
} XrDebugUtilsLabelEXT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR or this extension.</P></LI>
<LI>
<P><CODE>labelName</CODE> is a <CODE>NULL</CODE> terminated UTF-8 string specifying the label name.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrDebugUtilsLabelEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsLabelEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsLabelEXT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsLabelEXT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_DEBUG_UTILS_LABEL_EXT</CODE></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsLabelEXT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsLabelEXT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsLabelEXT-labelName-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsLabelEXT-labelName-parameter"></A><CODE>labelName</CODE> <STRONG class=purple>must</STRONG> be a null-terminated UTF-8 string</P></LI></UL></DIV></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessengerCallbackDataEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrDebugUtilsMessengerCallbackDataEXT {
    XrStructureType                   type;
    const void*                       next;
    const char*                       messageId;
    const char*                       functionName;
    const char*                       message;
    uint32_t                          objectCount;
    XrDebugUtilsObjectNameInfoEXT*    objects;
    uint32_t                          sessionLabelCount;
    XrDebugUtilsLabelEXT*             sessionLabels;
} XrDebugUtilsMessengerCallbackDataEXT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR or this extension.</P></LI>
<LI>
<P><CODE>messageId</CODE> is a <CODE>NULL</CODE> terminated string that identifies the message in a unique way. If the callback is triggered by a validation layer, this string corresponds the Valid Usage ID (VUID) that can be used to jump to the appropriate location in the OpenXR specification. This value <STRONG class=purple>may</STRONG> be <CODE>NULL</CODE> if no unique message identifier is associated with the message.</P></LI>
<LI>
<P><CODE>functionName</CODE> is a <CODE>NULL</CODE> terminated string that identifies the OpenXR function that was executing at the time the message callback was triggered. This value <STRONG class=purple>may</STRONG> be <CODE>NULL</CODE> in cases where it is difficult to determine the originating OpenXR function.</P></LI>
<LI>
<P><CODE>message</CODE> is a <CODE>NULL</CODE> terminated string detailing the trigger conditions.</P></LI>
<LI>
<P><CODE>objectCount</CODE> is a count of items contained in the <CODE>objects</CODE> array. This may be <CODE>0</CODE>.</P></LI>
<LI>
<P><CODE>objects</CODE> is a pointer to an array of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A> objects related to the detected issue. The array is roughly in order or importance, but the 0th element is always guaranteed to be the most important object for this message.</P></LI>
<LI>
<P><CODE>sessionLabelCount</CODE> is a count of items contained in the <CODE>sessionLabels</CODE> array. This may be <CODE>0</CODE>.</P></LI>
<LI>
<P><CODE>sessionLabels</CODE> is a pointer to an array of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A> objects related to the detected issue. The array is roughly in order or importance, but the 0th element is always guaranteed to be the most important object for this message.</P></LI>
<LI>
<P><CODE>sessionLabels</CODE> is NULL or a pointer to an array of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A> active in the current <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> at the time the callback was triggered. Refer to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#session-labels">Session Labels</A> for more information.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCallbackDataEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCallbackDataEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCallbackDataEXT">XrDebugUtilsMessengerCallbackDataEXT</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCallbackDataEXT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCallbackDataEXT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_DEBUG_UTILS_MESSENGER_CALLBACK_DATA_EXT</CODE></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCallbackDataEXT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCallbackDataEXT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCallbackDataEXT-messageId-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCallbackDataEXT-messageId-parameter"></A><CODE>messageId</CODE> <STRONG class=purple>must</STRONG> be a null-terminated UTF-8 string</P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCallbackDataEXT-functionName-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCallbackDataEXT-functionName-parameter"></A><CODE>functionName</CODE> <STRONG class=purple>must</STRONG> be a null-terminated UTF-8 string</P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCallbackDataEXT-message-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCallbackDataEXT-message-parameter"></A><CODE>message</CODE> <STRONG class=purple>must</STRONG> be a null-terminated UTF-8 string</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>An <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCallbackDataEXT">XrDebugUtilsMessengerCallbackDataEXT</A> is a messenger object that handles passing along debug messages to a provided debug callback.</P></DIV>
<DIV class="admonitionblock note">
<TABLE>
<TBODY>
<TR>
<TD class=icon><I title=Note class="fa icon-note"></I></TD>
<TD class=content>
<DIV class=title>Note</DIV>
<DIV class=paragraph>
<P>This structure should only be considered valid during the lifetime of the triggered callback.</P></DIV></TD></TR></TBODY></TABLE></DIV>
<DIV class=paragraph>
<P>The labels listed inside <CODE>sessionLabels</CODE> are organized in time order, with the most recently generated label appearing first, and the oldest label appearing last.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrDebugUtilsMessengerCreateInfoEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrDebugUtilsMessengerCreateInfoEXT {
    XrStructureType                         type;
    const void*                             next;
    XrDebugUtilsMessageSeverityFlagsEXT     messageSeverities;
    XrDebugUtilsMessageTypeFlagsEXT         messageTypes;
    PFN_xrDebugUtilsMessengerCallbackEXT    userCallback;
    void*                                   userData;
} XrDebugUtilsMessengerCreateInfoEXT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR or this extension.</P></LI>
<LI>
<P><CODE>messageSeverities</CODE> is a bitmask of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageSeverityFlagBitsEXT">XrDebugUtilsMessageSeverityFlagBitsEXT</A> specifying which severity of event(s) that will cause this callback to be called.</P></LI>
<LI>
<P><CODE>messageTypes</CODE> is a combination of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagBitsEXT">XrDebugUtilsMessageTypeFlagBitsEXT</A> specifying which type of event(s) will cause this callback to be called.</P></LI>
<LI>
<P><CODE>userCallback</CODE> is the application defined callback function to call.</P></LI>
<LI>
<P><CODE>userData</CODE> is arbitrary user data to be passed to the callback.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>userCallback</CODE> <STRONG class=purple>must</STRONG> be a valid PFN_xrDebugUtilsMessengerCallbackEXT</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_DEBUG_UTILS_MESSENGER_CREATE_INFO_EXT</CODE></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-messageSeverities-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-messageSeverities-parameter"></A><CODE>messageSeverities</CODE> <STRONG class=purple>must</STRONG> be a valid combination of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageSeverityFlagBitsEXT">XrDebugUtilsMessageSeverityFlagBitsEXT</A> values</P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-messageSeverities-requiredbitmask href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-messageSeverities-requiredbitmask"></A><CODE>messageSeverities</CODE> <STRONG class=purple>must</STRONG> not be <CODE>0</CODE></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-messageTypes-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-messageTypes-parameter"></A><CODE>messageTypes</CODE> <STRONG class=purple>must</STRONG> be a valid combination of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagBitsEXT">XrDebugUtilsMessageTypeFlagBitsEXT</A> values</P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-messageTypes-requiredbitmask href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-messageTypes-requiredbitmask"></A><CODE>messageTypes</CODE> <STRONG class=purple>must</STRONG> not be <CODE>0</CODE></P></LI>
<LI>
<P><A id=VUID-XrDebugUtilsMessengerCreateInfoEXT-userCallback-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrDebugUtilsMessengerCreateInfoEXT-userCallback-parameter"></A><CODE>userCallback</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#PFN_xrDebugUtilsMessengerCallbackEXT">PFN_xrDebugUtilsMessengerCallbackEXT</A> value</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>For each <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> that is created the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A>::<CODE>messageSeverities</CODE> and <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A>::<CODE>messageTypes</CODE> determine when that <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A>::<CODE>userCallback</CODE> is called. The process to determine if the user&#8217;s userCallback is triggered when an event occurs is as follows:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>The runtime will perform a bitwise AND of the event&#8217;s <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageSeverityFlagBitsEXT">XrDebugUtilsMessageSeverityFlagBitsEXT</A> with the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A>::<CODE>messageSeverities</CODE> provided during creation of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> object.</P></LI>
<LI>
<P>If this results in <CODE>0</CODE>, the message is skipped.</P></LI>
<LI>
<P>The runtime will perform bitwise AND of the event&#8217;s <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagBitsEXT">XrDebugUtilsMessageTypeFlagBitsEXT</A> with the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A>::<CODE>messageTypes</CODE> provided during the creation of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> object.</P></LI>
<LI>
<P>If this results in <CODE>0</CODE>, the message is skipped.</P></LI>
<LI>
<P>If the message of the current event is not skipped, the callback will be called with the message.</P></LI></UL></DIV>
<DIV class=paragraph>
<P>The callback will come directly from the component that detected the event, unless some other layer intercepts the calls for its own purposes (filter them in a different way, log to a system error log, etc.).</P></DIV></DIV></DIV>
<DIV class=paragraph>
<P>An application <STRONG class=purple>can</STRONG> receive multiple callbacks if multiple <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> objects are created. A callback will always be executed in the same thread as the originating OpenXR call.</P></DIV>
<DIV class="admonitionblock note">
<TABLE>
<TBODY>
<TR>
<TD class=icon><I title=Note class="fa icon-note"></I></TD>
<TD class=content>
<DIV class=title>Note</DIV>
<DIV class=paragraph>
<P>A callback <STRONG class=purple>can</STRONG> be called from multiple threads simultaneously if the application is making OpenXR calls from multiple threads.</P></DIV></TD></TR></TBODY></TABLE></DIV>
<DIV class=paragraph>
<P><STRONG>New Functions</STRONG></P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrSetDebugUtilsObjectNameEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrSetDebugUtilsObjectNameEXT(
    XrInstance                                  instance,
    const XrDebugUtilsObjectNameInfoEXT*        nameInfo);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> that the object was created under.</P></LI>
<LI>
<P><CODE>nameInfo</CODE> is a pointer to an instance of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A> structure specifying the parameters of the name to set on the object.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>In the structure pointed to by <CODE>nameInfo</CODE>, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A>::<CODE>objectType</CODE> <STRONG class=purple>must</STRONG> not be <CODE>XR_OBJECT_TYPE_UNKNOWN</CODE></P></LI>
<LI>
<P>In the structure pointed to by <CODE>nameInfo</CODE>, <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A>::<CODE>objectHandle</CODE> <STRONG class=purple>must</STRONG> not be <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_HANDLE">XR_NULL_HANDLE</A></P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrSetDebugUtilsObjectNameEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSetDebugUtilsObjectNameEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSetDebugUtilsObjectNameEXT">xrSetDebugUtilsObjectNameEXT</A></P></LI>
<LI>
<P><A id=VUID-xrSetDebugUtilsObjectNameEXT-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSetDebugUtilsObjectNameEXT-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrSetDebugUtilsObjectNameEXT-nameInfo-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSetDebugUtilsObjectNameEXT-nameInfo-parameter"></A><CODE>nameInfo</CODE> <STRONG class=purple>must</STRONG> be a pointer to a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A> structure</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Thread Safety</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Access to the <CODE>objectHandle</CODE> member of the <CODE>nameInfo</CODE> parameter <STRONG class=purple>must</STRONG> be externally synchronized</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_OUT_OF_MEMORY</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>Applications <STRONG class=purple>may</STRONG> change the name associated with an object simply by calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSetDebugUtilsObjectNameEXT">xrSetDebugUtilsObjectNameEXT</A> again with a new string. If <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A>::<CODE>objectName</CODE> is an empty string, then any previously set name is removed.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrCreateDebugUtilsMessengerEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrCreateDebugUtilsMessengerEXT(
    XrInstance                                  instance,
    const XrDebugUtilsMessengerCreateInfoEXT*   createInfo,
    XrDebugUtilsMessengerEXT*                   messenger);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is the instance the messenger will be used with.</P></LI>
<LI>
<P><CODE>createInfo</CODE> points to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A> structure, which contains the callback pointer as well as defines the conditions under which this messenger will trigger the callback.</P></LI>
<LI>
<P><CODE>messenger</CODE> is a pointer to which the created <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> object is returned.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrCreateDebugUtilsMessengerEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrCreateDebugUtilsMessengerEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateDebugUtilsMessengerEXT">xrCreateDebugUtilsMessengerEXT</A></P></LI>
<LI>
<P><A id=VUID-xrCreateDebugUtilsMessengerEXT-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrCreateDebugUtilsMessengerEXT-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrCreateDebugUtilsMessengerEXT-createInfo-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrCreateDebugUtilsMessengerEXT-createInfo-parameter"></A><CODE>createInfo</CODE> <STRONG class=purple>must</STRONG> be a pointer to a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A> structure</P></LI>
<LI>
<P><A id=VUID-xrCreateDebugUtilsMessengerEXT-messenger-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrCreateDebugUtilsMessengerEXT-messenger-parameter"></A><CODE>messenger</CODE> <STRONG class=purple>must</STRONG> be a pointer to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> handle</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Thread Safety</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Access to <CODE>instance</CODE>, and any child handles, <STRONG class=purple>must</STRONG> be externally synchronized</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_OUT_OF_MEMORY</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_LIMIT_REACHED</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>The application <STRONG class=purple>must</STRONG> ensure that <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateDebugUtilsMessengerEXT">xrCreateDebugUtilsMessengerEXT</A> is not executed in parallel with any OpenXR function that is also called with <CODE>instance</CODE> or child of <CODE>instance</CODE>.</P></DIV>
<DIV class=paragraph>
<P>When an event of interest occurs a debug messenger calls its <CODE>createInfo</CODE>-&gt;<CODE>userCallback</CODE> with a debug message from the producer of the event. Additionally, the debug messenger <STRONG class=purple>must</STRONG> filter out any debug messages that the application&#8217;s callback is not interested in based on <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A> flags, as described below.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrDestroyDebugUtilsMessengerEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrDestroyDebugUtilsMessengerEXT(
    XrDebugUtilsMessengerEXT                    messenger);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>messenger</CODE> the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> object to destroy. <CODE>messenger</CODE> is an externally synchronized object and <STRONG class=purple>must</STRONG> not be used on more than one thread at a time. This means that <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroyDebugUtilsMessengerEXT">xrDestroyDebugUtilsMessengerEXT</A> <STRONG class=purple>must</STRONG> not be called when a callback is active.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrDestroyDebugUtilsMessengerEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrDestroyDebugUtilsMessengerEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroyDebugUtilsMessengerEXT">xrDestroyDebugUtilsMessengerEXT</A></P></LI>
<LI>
<P><A id=VUID-xrDestroyDebugUtilsMessengerEXT-messenger-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrDestroyDebugUtilsMessengerEXT-messenger-parameter"></A><CODE>messenger</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> handle</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Thread Safety</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Access to <CODE>messenger</CODE> <STRONG class=purple>must</STRONG> be externally synchronized</P></LI>
<LI>
<P>Access to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> used to create <CODE>messenger</CODE>, and all of its child handles <STRONG class=purple>must</STRONG> be externally synchronized</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>The application <STRONG class=purple>must</STRONG> ensure that <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroyDebugUtilsMessengerEXT">xrDestroyDebugUtilsMessengerEXT</A> is not executed in parallel with any OpenXR function that is also called with the <CODE>instance</CODE> or child of <CODE>instance</CODE> that it was created with.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrSubmitDebugUtilsMessageEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult                                    xrSubmitDebugUtilsMessageEXT(
    XrInstance                                  instance,
    XrDebugUtilsMessageSeverityFlagsEXT         messageSeverity,
    XrDebugUtilsMessageTypeFlagsEXT             messageTypes,
    const XrDebugUtilsMessengerCallbackDataEXT* callbackData);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>instance</CODE> is the debug stream&#8217;s <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A>.</P></LI>
<LI>
<P><CODE>messageSeverity</CODE> is a single bit value of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageSeverityFlagsEXT">XrDebugUtilsMessageSeverityFlagsEXT</A> severity of this event/message.</P></LI>
<LI>
<P><CODE>messageTypes</CODE> is an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagsEXT">XrDebugUtilsMessageTypeFlagsEXT</A> bitmask of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagBitsEXT">XrDebugUtilsMessageTypeFlagBitsEXT</A> specifying which types of event to identify this message with.</P></LI>
<LI>
<P><CODE>callbackData</CODE> contains all the callback related data in the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCallbackDataEXT">XrDebugUtilsMessengerCallbackDataEXT</A> structure.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>For each structure in <CODE>objects</CODE> found in <CODE>callbackData</CODE>, the value of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsObjectNameInfoEXT">XrDebugUtilsObjectNameInfoEXT</A>::<CODE>objectType</CODE> <STRONG class=purple>must</STRONG> not be <CODE>XR_OBJECT_TYPE_UNKNOWN</CODE></P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSubmitDebugUtilsMessageEXT">xrSubmitDebugUtilsMessageEXT</A></P></LI>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-instance-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-instance-parameter"></A><CODE>instance</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstance">XrInstance</A> handle</P></LI>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-messageSeverity-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-messageSeverity-parameter"></A><CODE>messageSeverity</CODE> <STRONG class=purple>must</STRONG> be a valid combination of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageSeverityFlagBitsEXT">XrDebugUtilsMessageSeverityFlagBitsEXT</A> values</P></LI>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-messageSeverity-requiredbitmask href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-messageSeverity-requiredbitmask"></A><CODE>messageSeverity</CODE> <STRONG class=purple>must</STRONG> not be <CODE>0</CODE></P></LI>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-messageTypes-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-messageTypes-parameter"></A><CODE>messageTypes</CODE> <STRONG class=purple>must</STRONG> be a valid combination of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagBitsEXT">XrDebugUtilsMessageTypeFlagBitsEXT</A> values</P></LI>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-messageTypes-requiredbitmask href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-messageTypes-requiredbitmask"></A><CODE>messageTypes</CODE> <STRONG class=purple>must</STRONG> not be <CODE>0</CODE></P></LI>
<LI>
<P><A id=VUID-xrSubmitDebugUtilsMessageEXT-callbackData-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSubmitDebugUtilsMessageEXT-callbackData-parameter"></A><CODE>callbackData</CODE> <STRONG class=purple>must</STRONG> be a pointer to a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCallbackDataEXT">XrDebugUtilsMessengerCallbackDataEXT</A> structure</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>The application <STRONG class=purple>can</STRONG> also produce a debug message, and submit it into the OpenXR messaging system.</P></DIV>
<DIV class=paragraph>
<P>The call will propagate through the layers and generate callback(s) as indicated by the message&#8217;s flags. The parameters are passed on to the callback in addition to the userData value that was defined at the time the messenger was created.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrSessionBeginDebugUtilsLabelRegionEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrSessionBeginDebugUtilsLabelRegionEXT(
    XrSession                                   session,
    const XrDebugUtilsLabelEXT*                 labelInfo);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>session</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> that a label region should be associated with.</P></LI>
<LI>
<P><CODE>labelInfo</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A> containing the label information for the region that should be begun.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrSessionBeginDebugUtilsLabelRegionEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionBeginDebugUtilsLabelRegionEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A></P></LI>
<LI>
<P><A id=VUID-xrSessionBeginDebugUtilsLabelRegionEXT-session-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionBeginDebugUtilsLabelRegionEXT-session-parameter"></A><CODE>session</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> handle</P></LI>
<LI>
<P><A id=VUID-xrSessionBeginDebugUtilsLabelRegionEXT-labelInfo-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionBeginDebugUtilsLabelRegionEXT-labelInfo-parameter"></A><CODE>labelInfo</CODE> <STRONG class=purple>must</STRONG> be a pointer to a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A> structure</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI>
<LI>
<P><CODE>XR_SESSION_LOSS_PENDING</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SESSION_LOST</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A> function begins a label region within <CODE>session</CODE>.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrSessionEndDebugUtilsLabelRegionEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrSessionEndDebugUtilsLabelRegionEXT(
    XrSession                                   session);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>session</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> that a label region should be associated with.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionEndDebugUtilsLabelRegionEXT">xrSessionEndDebugUtilsLabelRegionEXT</A> <STRONG class=purple>must</STRONG> be called only after a matching <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A>.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrSessionEndDebugUtilsLabelRegionEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionEndDebugUtilsLabelRegionEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionEndDebugUtilsLabelRegionEXT">xrSessionEndDebugUtilsLabelRegionEXT</A></P></LI>
<LI>
<P><A id=VUID-xrSessionEndDebugUtilsLabelRegionEXT-session-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionEndDebugUtilsLabelRegionEXT-session-parameter"></A><CODE>session</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> handle</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI>
<LI>
<P><CODE>XR_SESSION_LOSS_PENDING</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SESSION_LOST</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>This function ends the last label region begun with the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A> function within the same <CODE>session</CODE>.</P></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=xrSessionInsertDebugUtilsLabelEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrSessionInsertDebugUtilsLabelEXT(
    XrSession                                   session,
    const XrDebugUtilsLabelEXT*                 labelInfo);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>session</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> that a label region should be associated with.</P></LI>
<LI>
<P><CODE>labelInfo</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A> containing the label information for the region that should be begun.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrSessionInsertDebugUtilsLabelEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionInsertDebugUtilsLabelEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_debug_utils">XR_EXT_debug_utils</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionInsertDebugUtilsLabelEXT">xrSessionInsertDebugUtilsLabelEXT</A></P></LI>
<LI>
<P><A id=VUID-xrSessionInsertDebugUtilsLabelEXT-session-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionInsertDebugUtilsLabelEXT-session-parameter"></A><CODE>session</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSession">XrSession</A> handle</P></LI>
<LI>
<P><A id=VUID-xrSessionInsertDebugUtilsLabelEXT-labelInfo-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrSessionInsertDebugUtilsLabelEXT-labelInfo-parameter"></A><CODE>labelInfo</CODE> <STRONG class=purple>must</STRONG> be a pointer to a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsLabelEXT">XrDebugUtilsLabelEXT</A> structure</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI>
<LI>
<P><CODE>XR_SESSION_LOSS_PENDING</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SESSION_LOST</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionInsertDebugUtilsLabelEXT">xrSessionInsertDebugUtilsLabelEXT</A> function inserts an individual label within <CODE>session</CODE>. The individual labels are useful for different reasons based on the type of debugging scenario. When used with something active like a profiler or debugger, it identifies a single point of time. When used with logging, the individual label identifies that a particular location has been passed at the point the log message is triggered. Because of this usage, individual labels only exist in a log until the next call to any of the label functions:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionEndDebugUtilsLabelRegionEXT">xrSessionEndDebugUtilsLabelRegionEXT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionInsertDebugUtilsLabelEXT">xrSessionInsertDebugUtilsLabelEXT</A></P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>New Function Pointers</STRONG></P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=PFN_xrDebugUtilsMessengerCallbackEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef XrBool32 (XRAPI_PTR *PFN_xrDebugUtilsMessengerCallbackEXT)(
            XrDebugUtilsMessageSeverityFlagsEXT              messageSeverity,
            XrDebugUtilsMessageTypeFlagsEXT                  messageTypes,
            const XrDebugUtilsMessengerCallbackDataEXT*      callbackData,
            void*                                            userData);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>messageSeverity</CODE> indicates the single bit value of <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageSeverityFlagsEXT">XrDebugUtilsMessageSeverityFlagsEXT</A> that triggered this callback.</P></LI>
<LI>
<P><CODE>messageTypes</CODE> indicates the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessageTypeFlagsEXT">XrDebugUtilsMessageTypeFlagsEXT</A> specifying which types of event triggered this callback.</P></LI>
<LI>
<P><CODE>callbackData</CODE> contains all the callback related data in the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCallbackDataEXT">XrDebugUtilsMessengerCallbackDataEXT</A> structure.</P></LI>
<LI>
<P><CODE>userData</CODE> is the user data provided when the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerEXT">XrDebugUtilsMessengerEXT</A> was created.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>The callback <STRONG class=purple>must</STRONG> not call <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroyDebugUtilsMessengerEXT">xrDestroyDebugUtilsMessengerEXT</A>.</P></DIV>
<DIV class=paragraph>
<P>The callback returns an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrBool32"><CODE>XrBool32</CODE></A> that indicates to the calling layer the application&#8217;s desire to abort the call. A value of <CODE>XR_TRUE</CODE> indicates that the application wants to abort this call. If the application returns <CODE>XR_FALSE</CODE>, the function <STRONG class=purple>must</STRONG> not be aborted. Applications <STRONG class=purple>should</STRONG> always return <CODE>XR_FALSE</CODE> so that they see the same behavior with and without validation layers enabled.</P></DIV>
<DIV class=paragraph>
<P>If the application returns <CODE>XR_TRUE</CODE> from its callback and the OpenXR call being aborted returns an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrResult">XrResult</A>, the layer will return <CODE>XR_ERROR_VALIDATION_FAILURE</CODE>.</P></DIV>
<DIV class=paragraph>
<P>The object pointed to by <CODE>callbackData</CODE> (and any pointers in it recursively) <STRONG class=purple>must</STRONG> be valid during the lifetime of the triggered callback. It <STRONG class=purple>may</STRONG> become invalid afterwards.</P></DIV></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>Examples</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>Example 1</STRONG></P></DIV>
<DIV class=paragraph>
<P>XR_EXT_debug_utils allows an application to register multiple callbacks with any OpenXR component wishing to report debug information. Some callbacks may log the information to a file, others may cause a debug break point or other application defined behavior. An application <STRONG class=purple>can</STRONG> register callbacks even when no validation layers are enabled, but they will only be called for loader and, if implemented, driver events.</P></DIV>
<DIV class=paragraph>
<P>To capture events that occur while creating or destroying an instance an application <STRONG class=purple>can</STRONG> link an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrDebugUtilsMessengerCreateInfoEXT">XrDebugUtilsMessengerCreateInfoEXT</A> structure to the next element of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrInstanceCreateInfo">XrInstanceCreateInfo</A> structure given to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateInstance">xrCreateInstance</A>. This callback is only valid for the duration of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateInstance">xrCreateInstance</A> and the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroyInstance">xrDestroyInstance</A> call. Use <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateDebugUtilsMessengerEXT">xrCreateDebugUtilsMessengerEXT</A> to create persistent callback objects.</P></DIV>
<DIV class=paragraph>
<P>Example uses: Create three callback objects. One will log errors and warnings to the debug console using Windows <CODE>OutputDebugString</CODE>. The second will cause the debugger to break at that callback when an error happens and the third will log warnings to stdout.</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">    extern XrInstance instance;  // previously initialized

    // Must call extension functions through a function pointer:
    PFN_xrCreateDebugUtilsMessengerEXT pfnCreateDebugUtilsMessengerEXT;
    CHK_XR(xrGetInstanceProcAddr(instance, "xrCreateDebugUtilsMessengerEXT",
                                 reinterpret_cast&lt;PFN_xrVoidFunction*&gt;(
                                     &amp;pfnCreateDebugUtilsMessengerEXT)));

    PFN_xrDestroyDebugUtilsMessengerEXT pfnDestroyDebugUtilsMessengerEXT;
    CHK_XR(xrGetInstanceProcAddr(instance, "xrDestroyDebugUtilsMessengerEXT",
                                 reinterpret_cast&lt;PFN_xrVoidFunction*&gt;(
                                     &amp;pfnDestroyDebugUtilsMessengerEXT)));

    XrDebugUtilsMessengerCreateInfoEXT callback1 = {
        XR_TYPE_DEBUG_UTILS_MESSENGER_CREATE_INFO_EXT,   // type
        NULL,                                            // next
        XR_DEBUG_UTILS_MESSAGE_SEVERITY_ERROR_BIT_EXT |  // messageSeverities
            XR_DEBUG_UTILS_MESSAGE_SEVERITY_WARNING_BIT_EXT,
        XR_DEBUG_UTILS_MESSAGE_TYPE_GENERAL_BIT_EXT |  // messageTypes
            XR_DEBUG_UTILS_MESSAGE_TYPE_VALIDATION_BIT_EXT,
        myOutputDebugString,  // userCallback
        NULL                  // userData
    };
    XrDebugUtilsMessengerEXT messenger1 = XR_NULL_HANDLE;
    CHK_XR(pfnCreateDebugUtilsMessengerEXT(instance, &amp;callback1, &amp;messenger1));

    callback1.messageSeverities = XR_DEBUG_UTILS_MESSAGE_SEVERITY_ERROR_BIT_EXT;
    callback1.userCallback = myDebugBreak;
    callback1.userData = NULL;
    XrDebugUtilsMessengerEXT messenger2 = XR_NULL_HANDLE;
    CHK_XR(pfnCreateDebugUtilsMessengerEXT(instance, &amp;callback1, &amp;messenger2));

    XrDebugUtilsMessengerCreateInfoEXT callback3 = {
        XR_TYPE_DEBUG_UTILS_MESSENGER_CREATE_INFO_EXT,    // type
        NULL,                                             // next
        XR_DEBUG_UTILS_MESSAGE_SEVERITY_WARNING_BIT_EXT,  // messageSeverities
        XR_DEBUG_UTILS_MESSAGE_TYPE_GENERAL_BIT_EXT |     // messageTypes
            XR_DEBUG_UTILS_MESSAGE_TYPE_VALIDATION_BIT_EXT,
        myStdOutLogger,  // userCallback
        NULL             // userData
    };
    XrDebugUtilsMessengerEXT messenger3 = XR_NULL_HANDLE;
    CHK_XR(pfnCreateDebugUtilsMessengerEXT(instance, &amp;callback3, &amp;messenger3));

    // ...

    // Remove callbacks when cleaning up
    pfnDestroyDebugUtilsMessengerEXT(messenger1);
    pfnDestroyDebugUtilsMessengerEXT(messenger2);
    pfnDestroyDebugUtilsMessengerEXT(messenger3);</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>Example 2</STRONG></P></DIV>
<DIV class=paragraph>
<P>Associate a name with an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpace">XrSpace</A>, for easier debugging in external tools or with validation layers that can print a friendly name when referring to objects in error messages.</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">    extern XrInstance instance;  // previously initialized
    extern XrSpace space;        // previously initialized

    // Must call extension functions through a function pointer:
    PFN_xrSetDebugUtilsObjectNameEXT pfnSetDebugUtilsObjectNameEXT;
    CHK_XR(xrGetInstanceProcAddr(instance, "xrSetDebugUtilsObjectNameEXT",
                                 reinterpret_cast&lt;PFN_xrVoidFunction*&gt;(
                                     &amp;pfnSetDebugUtilsObjectNameEXT)));

    // Set a name on the space
    const XrDebugUtilsObjectNameInfoEXT spaceNameInfo = {
        XR_TYPE_DEBUG_UTILS_OBJECT_NAME_INFO_EXT,  // type
        NULL,                                      // next
        XR_OBJECT_TYPE_SPACE,                      // objectType
        (uint64_t)space,                           // objectHandle
        "My Object-Specific Space",                // objectName
    };

    pfnSetDebugUtilsObjectNameEXT(instance, &amp;spaceNameInfo);

    // A subsequent error might print:
    //   Space "My Object-Specific Space" (0xc0dec0dedeadbeef) is used
    //   with an XrSession that is not it's parent.</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>Example 3</STRONG></P></DIV>
<DIV class=paragraph>
<P>Labeling the workload with naming information so that any form of analysis can display a more usable visualization of where actions occur in the lifetime of a session.</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">    extern XrInstance instance;  // previously initialized
    extern XrSession session;    // previously initialized

    // Must call extension functions through a function pointer:

    PFN_xrSessionBeginDebugUtilsLabelRegionEXT pfnSessionBeginDebugUtilsLabelRegionEXT;
    CHK_XR(xrGetInstanceProcAddr(instance, "xrSessionBeginDebugUtilsLabelRegionEXT",
                                 reinterpret_cast&lt;PFN_xrVoidFunction*&gt;(
                                     &amp;pfnSessionBeginDebugUtilsLabelRegionEXT)));

    PFN_xrSessionEndDebugUtilsLabelRegionEXT pfnSessionEndDebugUtilsLabelRegionEXT;
    CHK_XR(xrGetInstanceProcAddr(instance, "xrSessionEndDebugUtilsLabelRegionEXT",
                                 reinterpret_cast&lt;PFN_xrVoidFunction*&gt;(
                                     &amp;pfnSessionEndDebugUtilsLabelRegionEXT)));

    PFN_xrSessionInsertDebugUtilsLabelEXT pfnSessionInsertDebugUtilsLabelEXT;
    CHK_XR(xrGetInstanceProcAddr(instance, "xrSessionInsertDebugUtilsLabelEXT",
                                 reinterpret_cast&lt;PFN_xrVoidFunction*&gt;(
                                     &amp;pfnSessionInsertDebugUtilsLabelEXT)));

    XrSessionBeginInfo session_begin_info = {
        XR_TYPE_SESSION_BEGIN_INFO,
        nullptr,
        XR_VIEW_CONFIGURATION_TYPE_PRIMARY_STEREO
    };
    xrBeginSession(session, &amp;session_begin_info);

    const XrDebugUtilsLabelEXT session_active_region_label = {
        XR_TYPE_DEBUG_UTILS_LABEL_EXT,  // type
        NULL,                           // next
        "Session active",               // labelName
    };

    // Start an annotated region of calls under the 'Session Active' name
    pfnSessionBeginDebugUtilsLabelRegionEXT(session, &amp;session_active_region_label);

    // Brackets added for clarity
    {
        XrDebugUtilsLabelEXT individual_label = {
            XR_TYPE_DEBUG_UTILS_LABEL_EXT,  // type
            NULL,                           // next
            "WaitFrame",                    // labelName
        };

        const char wait_frame_label[] = "WaitFrame";
        individual_label.labelName = wait_frame_label;
        pfnSessionInsertDebugUtilsLabelEXT(session, &amp;individual_label);
        XrFrameWaitInfo wait_frame_info;  // initialization omitted for readability
        XrFrameState frame_state = {XR_TYPE_FRAME_STATE, nullptr};
        xrWaitFrame(session, &amp;wait_frame_info, &amp;frame_state);

        // Do stuff 1

        const XrDebugUtilsLabelEXT session_frame_region_label = {
            XR_TYPE_DEBUG_UTILS_LABEL_EXT,  // type
            NULL,                           // next
            "Session Frame 123",            // labelName
        };

        // Start an annotated region of calls under the 'Session Frame 123' name
        pfnSessionBeginDebugUtilsLabelRegionEXT(session, &amp;session_frame_region_label);

        // Brackets added for clarity
        {

            const char begin_frame_label[] = "BeginFrame";
            individual_label.labelName = begin_frame_label;
            pfnSessionInsertDebugUtilsLabelEXT(session, &amp;individual_label);

            XrFrameBeginInfo begin_frame_info;  // initialization omitted for readability
            xrBeginFrame(session, &amp;begin_frame_info);

            // Do stuff 2

            const char end_frame_label[] = "EndFrame";
            individual_label.labelName = end_frame_label;
            pfnSessionInsertDebugUtilsLabelEXT(session, &amp;individual_label);

            XrFrameEndInfo end_frame_info;  // initialization omitted for readability
            xrEndFrame(session, &amp;end_frame_info);
        }

        // End the session/begun region started above
        // (in this case it's the "Session Frame 123" label)
        pfnSessionEndDebugUtilsLabelRegionEXT(session);
    }

    // End the session/begun region started above
    // (in this case it's the "Session Active" label)
    pfnSessionEndDebugUtilsLabelRegionEXT(session);</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P>In the above example, if an error occurred in the <CODE>// Do stuff 1</CODE> section, then your debug utils callback would contain the following data in its <CODE>sessionLabels</CODE> array:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>[0]</CODE> = <CODE>individual_label</CODE> with <CODE>labelName</CODE> = "WaitFrame"</P></LI>
<LI>
<P><CODE>[1]</CODE> = <CODE>session_active_region_label</CODE> with <CODE>labelName</CODE> = "Session active"</P></LI></UL></DIV>
<DIV class=paragraph>
<P>However, if an error occurred in the <CODE>// Do stuff 2</CODE> section, then your debug utils callback would contain the following data in its <CODE>sessionLabels</CODE> array:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>[0]</CODE> = <CODE>individual_label</CODE> with <CODE>labelName</CODE> = "BeginFrame"</P></LI>
<LI>
<P><CODE>[1]</CODE> = <CODE>session_frame_region_label</CODE> with <CODE>labelName</CODE> = "Session Frame 123"</P></LI>
<LI>
<P><CODE>[2]</CODE> = <CODE>session_active_region_label</CODE> with <CODE>labelName</CODE> = "Session active"</P></LI></UL></DIV>
<DIV class=paragraph>
<P>You&#8217;ll notice that "WaitFrame" is no longer available as soon as the next call to another function like <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSessionBeginDebugUtilsLabelRegionEXT">xrSessionBeginDebugUtilsLabelRegionEXT</A>.</P></DIV>
<DIV class=paragraph>
<P><STRONG>Issues</STRONG></P></DIV>
<DIV class=paragraph>
<P>None</P></DIV>
<DIV class=paragraph>
<P><STRONG>Version History</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Revision 1, 2018-02-19 (Mark Young / Karl Schultz)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Initial draft, based on VK_EXT_debug_utils.</P></LI></UL></DIV></LI>
<LI>
<P>Revision 2, 2018-11-16 (Mark Young)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Clean up some language based on changes going into the Vulkan VK_EXT_debug_utils extension by Peter Kraus (aka @krOoze).</P></LI>
<LI>
<P>Added session labels</P></LI></UL></DIV></LI>
<LI>
<P>Revision 3, 2019-07-19 (Ryan Pavlik)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Update examples.</P></LI>
<LI>
<P>Improve formatting.</P></LI></UL></DIV></LI>
<LI>
<P>Revision 4, 2021-04-04 (Ryan Pavlik)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Fix missing error code.</P></LI>
<LI>
<P>Improve formatting.</P></LI></UL></DIV></LI></UL></DIV></DIV></DIV>
<DIV class=sect2>