<strong><font color="blue"> : </font></strong><H4 id=_eye_tracker><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_eye_tracker"></A>12.27.1. Eye tracker</H4>
<DIV class=paragraph>
<P>An eye tracker is a sensory device that tracks eyes and accurately maps what the user is looking at. The main purpose of this extension is to provide accurate and precise eye gaze for the application.</P></DIV>
<DIV class=paragraph>
<P>Eye tracking data can be sensitive personal information and is closely linked to personal privacy and integrity. It is strongly recommended that applications that store or transfer eye tracking data always ask the user for active and specific acceptance to do so.</P></DIV>
<DIV class=paragraph>
<P>If a runtime supports a permission system to control application access to the eye tracker, then the runtime <STRONG class=purple>must</STRONG> set the <CODE>isActive</CODE> field to <CODE>XR_FALSE</CODE> on the supplied <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrActionStatePose">XrActionStatePose</A> structure, and <STRONG class=purple>must</STRONG> clear <CODE>XR_SPACE_LOCATION_POSITION_TRACKED_BIT</CODE>, <CODE>XR_SPACE_LOCATION_POSITION_VALID_BIT</CODE>, <CODE>XR_SPACE_LOCATION_ORIENTATION_TRACKED_BIT</CODE> and <CODE>XR_SPACE_LOCATION_ORIENTATION_VALID_BIT</CODE> when locating using the tracked space until the application has been allowed access to the eye tracker. When the application access has been allowed, the runtime <STRONG class=purple>may</STRONG> set <CODE>isActive</CODE> on the supplied <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrActionStatePose">XrActionStatePose</A> structure to <CODE>XR_TRUE</CODE> and <STRONG class=purple>may</STRONG> set <CODE>XR_SPACE_LOCATION_POSITION_TRACKED_BIT</CODE>, <CODE>XR_SPACE_LOCATION_POSITION_VALID_BIT</CODE> <CODE>XR_SPACE_LOCATION_ORIENTATION_TRACKED_BIT</CODE> and <CODE>XR_SPACE_LOCATION_ORIENTATION_VALID_BIT</CODE> when locating using the tracked space.</P></DIV></DIV>
<DIV class=sect3>
<H4 id=_device_enumeration><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_device_enumeration"></A>12.27.2. Device enumeration</H4>
<DIV class=paragraph>
<P>When the eye gaze input extension is enabled an application <STRONG class=purple>may</STRONG> pass in a <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemEyeGazeInteractionPropertiesEXT">XrSystemEyeGazeInteractionPropertiesEXT</A> structure in next chain structure when calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSystemProperties">xrGetSystemProperties</A> to acquire information about the connected eye tracker.</P></DIV>
<DIV class=paragraph>
<P>The runtime <STRONG class=purple>must</STRONG> populate the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemEyeGazeInteractionPropertiesEXT">XrSystemEyeGazeInteractionPropertiesEXT</A> structure with the relevant information to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemProperties">XrSystemProperties</A> returned by the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSystemProperties">xrGetSystemProperties</A> call.</P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrSystemEyeGazeInteractionPropertiesEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrSystemEyeGazeInteractionPropertiesEXT {
    XrStructureType    type;
    void*              next;
    XrBool32           supportsEyeGazeInteraction;
} XrSystemEyeGazeInteractionPropertiesEXT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR or this extension.</P></LI>
<LI>
<P><CODE>supportsEyeGazeInteraction</CODE> the runtime <STRONG class=purple>must</STRONG> set this value to <CODE>XR_TRUE</CODE> when eye gaze sufficient for use cases such as aiming or targeting is supported by the current device, otherwise the runtime <STRONG class=purple>must</STRONG> set this to <CODE>XR_FALSE</CODE>.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrSystemEyeGazeInteractionPropertiesEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSystemEyeGazeInteractionPropertiesEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_eye_gaze_interaction">XR_EXT_eye_gaze_interaction</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSystemEyeGazeInteractionPropertiesEXT">XrSystemEyeGazeInteractionPropertiesEXT</A></P></LI>
<LI>
<P><A id=VUID-XrSystemEyeGazeInteractionPropertiesEXT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSystemEyeGazeInteractionPropertiesEXT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_SYSTEM_EYE_GAZE_INTERACTION_PROPERTIES_EXT</CODE></P></LI>
<LI>
<P><A id=VUID-XrSystemEyeGazeInteractionPropertiesEXT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSystemEyeGazeInteractionPropertiesEXT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI></UL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_eye_gaze_input><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_eye_gaze_input"></A>12.27.3. Eye gaze input</H4>
<DIV class=paragraph>
<P>This extension exposes a new interaction profile path <EM>/interaction_profiles/ext/eye_gaze_interaction</EM> that is valid for the user path</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><EM>/user/eyes_ext</EM></P></LI></UL></DIV>
<DIV class=paragraph>
<P>for supported input source</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><EM>&#8230;/input/gaze_ext/pose</EM></P></LI></UL></DIV>
<DIV class=paragraph>
<P>The eye gaze pose is natively oriented with +Y up, +X to the right, and -Z forward and not gravity-aligned, similar to the <CODE>XR_REFERENCE_SPACE_TYPE_VIEW</CODE>. The eye gaze pose may originate from a point positioned between the user&#8217;s eyes. At any point of time both the position and direction of the eye pose is tracked or untracked. This means that the runtime <STRONG class=purple>must</STRONG> set both <CODE>XR_SPACE_LOCATION_POSITION_TRACKED_BIT</CODE> and <CODE>XR_SPACE_LOCATION_ORIENTATION_TRACKED_BIT</CODE> or clear both <CODE>XR_SPACE_LOCATION_POSITION_TRACKED_BIT</CODE> and <CODE>XR_SPACE_LOCATION_ORIENTATION_TRACKED_BIT</CODE>.</P></DIV>
<DIV class=paragraph>
<P>One particularity for eye trackers compared to most other spatial input is that the runtime may not have the capability to predict or interpolate eye gaze poses. Runtimes that cannot predict or interpolate eye gaze poses <STRONG class=purple>must</STRONG> clamp the gaze pose requested in the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrLocateSpace">xrLocateSpace</A> call to the value nearest to <CODE>time</CODE> requested in the call. To allow for an application to reason about high accuracy eye tracking, the application <STRONG class=purple>can</STRONG> chain in an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrEyeGazeSampleTimeEXT">XrEyeGazeSampleTimeEXT</A> to the next pointer of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpaceLocation">XrSpaceLocation</A> structure passed into the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrLocateSpace">xrLocateSpace</A> call. The runtime <STRONG class=purple>must</STRONG> set <CODE>time</CODE> in the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrEyeGazeSampleTimeEXT">XrEyeGazeSampleTimeEXT</A> structure to the clamped, predicted or interpolated time. The application <STRONG class=purple>should</STRONG> inspect the <CODE>time</CODE> field to understand when in time the pose is expressed. The <CODE>time</CODE> field <STRONG class=purple>may</STRONG> be in the future if a runtime can predict gaze poses. The runtime <STRONG class=purple>must</STRONG> set the <CODE>time</CODE> field to 0 if the sample time is not available.</P></DIV>
<DIV class=paragraph>
<P>When the runtime provides a nominal eye gaze pose, the <CODE>XR_SPACE_LOCATION_POSITION_TRACKED_BIT</CODE> <STRONG class=purple>must</STRONG> be set if the eye otherwise has a fully-tracked pose relative to the other space. A runtime <STRONG class=purple>can</STRONG> provide a sub-nominal eye-gaze pose but <STRONG class=purple>must</STRONG> then clear the <CODE>XR_SPACE_LOCATION_POSITION_TRACKED_BIT</CODE>. An application can expect that a nominal eye gaze pose can be used for use cases such as aiming or targeting, while a sub-nominal eye gaze pose has degraded performance and should not be relied on for all input scenarios. Applications should be very careful when using sub-nominal eye gaze pose, since the behavior can vary considerably for different users and manufacturers, and some manufacturers <STRONG class=purple>may</STRONG> not provide sub-nominal eye gaze pose at all.</P></DIV>
<DIV class=paragraph>
<P>With current technology, some eye trackers <STRONG class=purple>may</STRONG> need to undergo an explicit calibration routine to provide a nominal accurate and precise eye gaze pose. If the eye tracker is in an uncalibrated state when the first call to <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrSyncActions">xrSyncActions</A> is made with an eye gaze action enabled, then the runtime <STRONG class=purple>should</STRONG> request eye tracker calibration from the user if it has not yet been requested.</P></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV id=XrEyeGazeSampleTimeEXT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrEyeGazeSampleTimeEXT {
    XrStructureType    type;
    void*              next;
    XrTime             time;
} XrEyeGazeSampleTimeEXT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain. No such structures are defined in core OpenXR or this extension.</P></LI>
<LI>
<P><CODE>time</CODE> is when in time the eye gaze pose is expressed.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrEyeGazeSampleTimeEXT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrEyeGazeSampleTimeEXT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_EXT_eye_gaze_interaction">XR_EXT_eye_gaze_interaction</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrEyeGazeSampleTimeEXT">XrEyeGazeSampleTimeEXT</A></P></LI>
<LI>
<P><A id=VUID-XrEyeGazeSampleTimeEXT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrEyeGazeSampleTimeEXT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_EYE_GAZE_SAMPLE_TIME_EXT</CODE></P></LI>
<LI>
<P><A id=VUID-XrEyeGazeSampleTimeEXT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrEyeGazeSampleTimeEXT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI></UL></DIV></DIV></DIV></DIV></DIV></DIV>
<DIV class=sect3>
<H4 id=_sample_code><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_sample_code"></A>12.27.4. Sample code</H4>
<DIV class=paragraph>
<P>The following example code shows how to bind the eye pose to the action system.</P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">extern XrInstance instance;
extern XrSession session;
extern XrPosef pose_identity;

// Create action set
XrActionSetCreateInfo actionSetInfo{XR_TYPE_ACTION_SET_CREATE_INFO};
strcpy(actionSetInfo.actionSetName, "gameplay");
strcpy(actionSetInfo.localizedActionSetName, "Gameplay");
actionSetInfo.priority = 0;
XrActionSet gameplayActionSet;
CHK_XR(xrCreateActionSet(instance, &amp;actionSetInfo, &amp;gameplayActionSet));

// Create user intent action
XrActionCreateInfo actionInfo{XR_TYPE_ACTION_CREATE_INFO};
strcpy(actionInfo.actionName, "user_intent");
actionInfo.actionType = XR_ACTION_TYPE_POSE_INPUT;
strcpy(actionInfo.localizedActionName, "User Intent");
XrAction userIntentAction;
CHK_XR(xrCreateAction(gameplayActionSet, &amp;actionInfo, &amp;userIntentAction));

// Create suggested bindings
XrPath eyeGazeInteractionProfilePath;
CHK_XR(xrStringToPath(instance, "/interaction_profiles/ext/eye_gaze_interaction", &amp;eyeGazeInteractionProfilePath));

XrPath gazePosePath;
CHK_XR(xrStringToPath(instance, "/user/eyes_ext/input/gaze_ext/pose", &amp;gazePosePath));

XrActionSuggestedBinding bindings;
bindings.action = userIntentAction;
bindings.binding = gazePosePath;

XrInteractionProfileSuggestedBinding suggestedBindings{XR_TYPE_INTERACTION_PROFILE_SUGGESTED_BINDING};
suggestedBindings.interactionProfile = eyeGazeInteractionProfilePath;
suggestedBindings.suggestedBindings = &amp;bindings;
suggestedBindings.countSuggestedBindings = 1;
CHK_XR(xrSuggestInteractionProfileBindings(instance, &amp;suggestedBindings));

XrSessionActionSetsAttachInfo attachInfo{XR_TYPE_SESSION_ACTION_SETS_ATTACH_INFO};
attachInfo.countActionSets = 1;
attachInfo.actionSets = &amp;gameplayActionSet;
CHK_XR(xrAttachSessionActionSets(session, &amp;attachInfo));

XrActionSpaceCreateInfo createActionSpaceInfo{XR_TYPE_ACTION_SPACE_CREATE_INFO};
createActionSpaceInfo.action = userIntentAction;
createActionSpaceInfo.poseInActionSpace = pose_identity;
XrSpace gazeActionSpace;
CHK_XR(xrCreateActionSpace(session, &amp;createActionSpaceInfo, &amp;gazeActionSpace));

XrReferenceSpaceCreateInfo createReferenceSpaceInfo{XR_TYPE_REFERENCE_SPACE_CREATE_INFO};
createReferenceSpaceInfo.referenceSpaceType = XR_REFERENCE_SPACE_TYPE_LOCAL;
createReferenceSpaceInfo.poseInReferenceSpace = pose_identity;
XrSpace localReferenceSpace;
CHK_XR(xrCreateReferenceSpace(session, &amp;createReferenceSpaceInfo, &amp;localReferenceSpace));

while(true)
{
  XrActiveActionSet activeActionSet{gameplayActionSet, XR_NULL_PATH};
  XrTime time;

  XrActionsSyncInfo syncInfo{XR_TYPE_ACTIONS_SYNC_INFO};
  syncInfo.countActiveActionSets = 1;
  syncInfo.activeActionSets = &amp;activeActionSet;
  CHK_XR(xrSyncActions(session, &amp;syncInfo));

  XrActionStatePose actionStatePose{XR_TYPE_ACTION_STATE_POSE};
  XrActionStateGetInfo getActionStateInfo{XR_TYPE_ACTION_STATE_GET_INFO};
  getActionStateInfo.action = userIntentAction;
  CHK_XR(xrGetActionStatePose(session, &amp;getActionStateInfo, &amp;actionStatePose));

  if(actionStatePose.isActive){
    XrEyeGazeSampleTimeEXT eyeGazeSampleTime{XR_TYPE_EYE_GAZE_SAMPLE_TIME_EXT};
    XrSpaceLocation gazeLocation{XR_TYPE_SPACE_LOCATION, &amp;eyeGazeSampleTime};
    CHK_XR(xrLocateSpace(gazeActionSpace, localReferenceSpace, time, &amp;gazeLocation));

    // Do things
  }
}</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>Version History</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Revision 1, 2020-02-20 (Denny R&#246;nngren)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Initial version</P></LI></UL></DIV></LI>
<LI>
<P>Revision 2, 2022-05-27 (Bryce Hutchings)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Remove error-prone <CODE>XrEyeGazeSampleTimeEXT</CODE> validation requirement</P></LI></UL></DIV></LI></UL></DIV></DIV></DIV>
<DIV class=sect2>