<DIV class=component-article-header>
<H1 class=article-title>Horizontal Line Options in LaTeX </H1>
<DIV class=component-article-byline style="MAX-WIDTH: 728px">
<DIV class=byline-info>
<DIV class="byline-wrapper ui-label d-flex">LaTeX offers a wealth of possibilities when it comes to typesetting and formatting a document. It is especially useful when you're dealing with math, but it also boasts applications far beyond that. The price you pay in comparison to other word processing and typesetting software is for the increased complexity, but if you want your document to look the best it can, LaTeX more than worth it. As long as you're willing to learn a little when you want to do something like draw a horizontal line in LaTeX, you can do pretty much anything you need to with the system.</DIV></DIV></DIV></DIV>
<DIV class=article-content-wrapper>
<DIV class=article-sections-container>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class="component-article-section-heading article-section-content">
<H2 id=rule-command-in-latex>\rule Command in LaTeX </H2></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P><SPAN class=extract>When you want to create a horizontal line in LaTeX of any length and thickness, the \rule command is the easiest one to use. Simply type <STRONG>\rule{length}{thickness}</STRONG> with your chosen line length and thickness in the place of the two placeholder words in the example. You need to specify the unit you're using when you do this (for example, cm or pt), but if you do that, you can create a horizontal line to suit your purposes using this command.</SPAN></P></DIV>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P>If you want the line raised above (or lowered below) the neutral location, you can include an optional argument in square brackets right after the "\rule" for the "raise-height." To increase the vertical position, use a positive value; to decrease it, use a negative one. For this and the main length and thickness arguments of the \rule command, it's best to try out a few options and see which is best for your purposes.</P></DIV>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class="component-article-section-heading article-section-content">
<H2 id=hline-in-latex>\hline in LaTeX </H2></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P>The \hline command is often said to be the simplest way to create a horizontal line, and in a sense, this is certainly true because you enter <STRONG>\hline</STRONG> with no need for arguments or anything else. However, this command specifically relates to tables in LaTeX, so you can only use it as part of a table. The command draws a line that is the same width as the table.</P></DIV>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P>You can also enter two successive \hline commands if you want two lines with a small space separating them.</P></DIV>
<DIV class="component-article-section-heading article-section-content">
<H2 id=line-command-in-latex>\line Command in LaTeX </H2></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P>The \line command is more versatile than the previous options in that you can set a slope for the line you draw, and with a specific choice, you can use it to draw horizontal lines too. Type <STRONG>\line(x-slope,y-slope){length}</STRONG> with the <EM>x</EM>-slope, <EM>y</EM>-slope and length you want in place of the placeholder words. For a horizontal line, you want "(1,0)" for the first part, so you get a line with a unit slope in the <EM>x</EM>-direction and no slope whatsoever in the <EM>y</EM>-direction. Again, make sure you include units for the length so that LaTeX knows what you want.</P></DIV>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class="component-article-section-heading article-section-content">
<H2 id=hrulefill-command-in-latex>\hrulefill Command in LaTeX </H2></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P>The LaTeX hrule command that's the closest thing to a horizontal line is <STRONG>\hrulefill</STRONG>. This command produces a line with "rubber length," which means that the length varies depending on what it shares a line with. This is particularly useful for contents pages, where you may want the title for a chapter and the page on the same line but separated by a horizontal line and so the page numbers are right-aligned in the final document. This is ideal for filling the variable lengths caused by chapter titles without having to fine-tune the length using the rule command, for instance.</P></DIV>
<DIV class=component-article-section-inline-ad></DIV>
<DIV class="component-article-section-heading article-section-content">
<H2 id=dotfill-command-in-latex>\dotfill Command in LaTeX </H2></DIV>
<DIV class="component-article-section-content ui-body article-section-content">
<P>If you want the same functionality as \hrulefill except with dots instead of a straight horizontal line, you can use <STRONG>\dotfill</STRONG>. This works in exactly the same way in that the length is variable. Some people prefer this style for contents pages.</P></DIV></ARTICLE></DIV></DIV>