<strong><font color="blue"> : </font></strong><H5 id=_get_spatial_graph_node_binding_properties><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#_get_spatial_graph_node_binding_properties"></A>Get spatial graph node binding properties</H5>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>The <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSpatialGraphNodeBindingPropertiesMSFT">xrGetSpatialGraphNodeBindingPropertiesMSFT</A> function retrieves the spatial graph node GUID and the pose in the node space from an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingMSFT">XrSpatialGraphNodeBindingMSFT</A> handle.</P></DIV>
<DIV id=xrGetSpatialGraphNodeBindingPropertiesMSFT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">XrResult xrGetSpatialGraphNodeBindingPropertiesMSFT(
    XrSpatialGraphNodeBindingMSFT               nodeBinding,
    const XrSpatialGraphNodeBindingPropertiesGetInfoMSFT* getInfo,
    XrSpatialGraphNodeBindingPropertiesMSFT*    properties);</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Parameter Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>nodeBinding</CODE> is an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingMSFT">XrSpatialGraphNodeBindingMSFT</A> previously created by <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrTryCreateSpatialGraphStaticNodeBindingMSFT">xrTryCreateSpatialGraphStaticNodeBindingMSFT</A>.</P></LI>
<LI>
<P><CODE>getInfo</CODE> is a pointer to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesGetInfoMSFT">XrSpatialGraphNodeBindingPropertiesGetInfoMSFT</A> input structure.</P></LI>
<LI>
<P><CODE>properties</CODE> is a pointer to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesMSFT">XrSpatialGraphNodeBindingPropertiesMSFT</A> output structure.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MSFT_spatial_graph_bridge">XR_MSFT_spatial_graph_bridge</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to calling <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSpatialGraphNodeBindingPropertiesMSFT">xrGetSpatialGraphNodeBindingPropertiesMSFT</A></P></LI>
<LI>
<P><A id=VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-nodeBinding-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-nodeBinding-parameter"></A><CODE>nodeBinding</CODE> <STRONG class=purple>must</STRONG> be a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingMSFT">XrSpatialGraphNodeBindingMSFT</A> handle</P></LI>
<LI>
<P><A id=VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-getInfo-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-getInfo-parameter"></A>If <CODE>getInfo</CODE> is not <CODE>NULL</CODE>, <CODE>getInfo</CODE> <STRONG class=purple>must</STRONG> be a pointer to a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesGetInfoMSFT">XrSpatialGraphNodeBindingPropertiesGetInfoMSFT</A> structure</P></LI>
<LI>
<P><A id=VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-properties-parameter href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-xrGetSpatialGraphNodeBindingPropertiesMSFT-properties-parameter"></A><CODE>properties</CODE> <STRONG class=purple>must</STRONG> be a pointer to an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesMSFT">XrSpatialGraphNodeBindingPropertiesMSFT</A> structure</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Return Codes</DIV>
<DIV class=dlist>
<DL>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-successcodes">Success</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_SUCCESS</CODE></P></LI>
<LI>
<P><CODE>XR_SESSION_LOSS_PENDING</CODE></P></LI></UL></DIV></DD>
<DT class=hdlist1><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#fundamentals-errorcodes">Failure</A></DT>
<DD>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_ERROR_FUNCTION_UNSUPPORTED</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_VALIDATION_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_RUNTIME_FAILURE</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_HANDLE_INVALID</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_INSTANCE_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_SESSION_LOST</CODE></P></LI>
<LI>
<P><CODE>XR_ERROR_OUT_OF_MEMORY</CODE></P></LI></UL></DIV></DD></DL></DIV></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesGetInfoMSFT">XrSpatialGraphNodeBindingPropertiesGetInfoMSFT</A> is an input structure for <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSpatialGraphNodeBindingPropertiesMSFT">xrGetSpatialGraphNodeBindingPropertiesMSFT</A>.</P></DIV>
<DIV id=XrSpatialGraphNodeBindingPropertiesGetInfoMSFT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrSpatialGraphNodeBindingPropertiesGetInfoMSFT {
    XrStructureType    type;
    const void*        next;
} XrSpatialGraphNodeBindingPropertiesGetInfoMSFT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrSpatialGraphNodeBindingPropertiesGetInfoMSFT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSpatialGraphNodeBindingPropertiesGetInfoMSFT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MSFT_spatial_graph_bridge">XR_MSFT_spatial_graph_bridge</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesGetInfoMSFT">XrSpatialGraphNodeBindingPropertiesGetInfoMSFT</A></P></LI>
<LI>
<P><A id=VUID-XrSpatialGraphNodeBindingPropertiesGetInfoMSFT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSpatialGraphNodeBindingPropertiesGetInfoMSFT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_SPATIAL_GRAPH_NODE_BINDING_PROPERTIES_GET_INFO_MSFT</CODE></P></LI>
<LI>
<P><A id=VUID-XrSpatialGraphNodeBindingPropertiesGetInfoMSFT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSpatialGraphNodeBindingPropertiesGetInfoMSFT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI></UL></DIV></DIV></DIV></DIV></DIV>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesMSFT">XrSpatialGraphNodeBindingPropertiesMSFT</A> is an output structure for <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSpatialGraphNodeBindingPropertiesMSFT">xrGetSpatialGraphNodeBindingPropertiesMSFT</A>.</P></DIV>
<DIV id=XrSpatialGraphNodeBindingPropertiesMSFT class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef struct XrSpatialGraphNodeBindingPropertiesMSFT {
    XrStructureType    type;
    void*              next;
    uint8_t            nodeId[XR_GUID_SIZE_MSFT];
    XrPosef            poseInNodeSpace;
} XrSpatialGraphNodeBindingPropertiesMSFT;</CODE></PRE></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Member Descriptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>type</CODE> is the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> of this structure.</P></LI>
<LI>
<P><CODE>next</CODE> is <CODE>NULL</CODE> or a pointer to the next structure in a structure chain.</P></LI>
<LI>
<P><CODE>nodeId</CODE> is a global unique identifier (a.k.a. GUID or 16 byte array), representing the spatial graph node.</P></LI>
<LI>
<P><CODE>poseInNodeSpace</CODE> is an <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrPosef">XrPosef</A> defining the pose in the underlying node&#8217;s space.</P></LI></UL></DIV></DIV></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Valid Usage (Implicit)</DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A id=VUID-XrSpatialGraphNodeBindingPropertiesMSFT-extension-notenabled href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSpatialGraphNodeBindingPropertiesMSFT-extension-notenabled"></A>The <CODE><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_MSFT_spatial_graph_bridge">XR_MSFT_spatial_graph_bridge</A></CODE> extension <STRONG class=purple>must</STRONG> be enabled prior to using <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesMSFT">XrSpatialGraphNodeBindingPropertiesMSFT</A></P></LI>
<LI>
<P><A id=VUID-XrSpatialGraphNodeBindingPropertiesMSFT-type-type href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSpatialGraphNodeBindingPropertiesMSFT-type-type"></A><CODE>type</CODE> <STRONG class=purple>must</STRONG> be <CODE>XR_TYPE_SPATIAL_GRAPH_NODE_BINDING_PROPERTIES_MSFT</CODE></P></LI>
<LI>
<P><A id=VUID-XrSpatialGraphNodeBindingPropertiesMSFT-next-next href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#VUID-XrSpatialGraphNodeBindingPropertiesMSFT-next-next"></A><CODE>next</CODE> <STRONG class=purple>must</STRONG> be <CODE>NULL</CODE> or a valid pointer to the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains">next structure in a structure chain</A></P></LI></UL></DIV></DIV></DIV></DIV></DIV>
<DIV class=paragraph>
<P><STRONG>New Object Types</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingMSFT">XrSpatialGraphNodeBindingMSFT</A></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>New Flag Types</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>New Enum Constants</STRONG></P></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrObjectType">XrObjectType</A> enumeration is extended with:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_OBJECT_TYPE_SPATIAL_GRAPH_NODE_BINDING_MSFT</CODE></P></LI></UL></DIV>
<DIV class=paragraph>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> enumeration is extended with:</P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><CODE>XR_TYPE_SPATIAL_GRAPH_NODE_SPACE_CREATE_INFO_MSFT</CODE></P></LI>
<LI>
<P><CODE>XR_TYPE_SPATIAL_GRAPH_STATIC_NODE_BINDING_CREATE_INFO_MSFT</CODE></P></LI>
<LI>
<P><CODE>XR_TYPE_SPATIAL_GRAPH_NODE_BINDING_PROPERTIES_GET_INFO_MSFT</CODE></P></LI>
<LI>
<P><CODE>XR_TYPE_SPATIAL_GRAPH_NODE_BINDING_PROPERTIES_MSFT</CODE></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>New Enums</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeTypeMSFT">XrSpatialGraphNodeTypeMSFT</A></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>New Structures</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeSpaceCreateInfoMSFT">XrSpatialGraphNodeSpaceCreateInfoMSFT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphStaticNodeBindingCreateInfoMSFT">XrSpatialGraphStaticNodeBindingCreateInfoMSFT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesGetInfoMSFT">XrSpatialGraphNodeBindingPropertiesGetInfoMSFT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrSpatialGraphNodeBindingPropertiesMSFT">XrSpatialGraphNodeBindingPropertiesMSFT</A></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>New Functions</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrTryCreateSpatialGraphStaticNodeBindingMSFT">xrTryCreateSpatialGraphStaticNodeBindingMSFT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrDestroySpatialGraphNodeBindingMSFT">xrDestroySpatialGraphNodeBindingMSFT</A></P></LI>
<LI>
<P><A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrGetSpatialGraphNodeBindingPropertiesMSFT">xrGetSpatialGraphNodeBindingPropertiesMSFT</A></P></LI></UL></DIV>
<DIV class=paragraph>
<P><STRONG>Issues</STRONG></P></DIV>
<DIV class=paragraph>
<P><STRONG>Version History</STRONG></P></DIV>
<DIV class=ulist>
<UL>
<LI>
<P>Revision 1, 2019-10-31 (Yin LI)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Initial extension description</P></LI></UL></DIV></LI>
<LI>
<P>Revision 2, 2022-01-13 (Darryl Gough)</P>
<DIV class=ulist>
<UL>
<LI>
<P>Added Spatial Graph Node Binding handle.</P></LI></UL></DIV></LI></UL></DIV></DIV></DIV></DIV>
<DIV class=sect2>