﻿<span style="font-weight:0">The intercepts of a graph are points at which the graph crosses the axes. The x-intercept is the point at which the
<br/>graph crosses the x-axis. At this point, the y-coordinate is zero. The y-intercept is the point at which the graph crosses
<br/>the y-axis. At this point, the x-coordinate is zero.</span>
<span />