<strong><font color="blue"> : </font></strong><H5 id=valid-usage-for-object-handles><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-object-handles"></A>Valid Usage for Object Handles</H5>
<DIV class=paragraph>
<P>Any input parameter to a function that is an object handle <STRONG class=purple>must</STRONG> be a valid object handle, unless otherwise specified. An object handle is valid if and only if:</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Object Handle Validity Conditions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>it has been created or allocated by a previous, successful call to the API,</P></LI>
<LI>
<P>it has not been destroyed by a previous call to the API, and</P></LI>
<LI>
<P>its parent handle is also valid.</P></LI></UL></DIV></DIV></DIV>
<DIV class=paragraph>
<P>There are contexts in which an object handle is <STRONG class=purple>optional</STRONG> or otherwise unspecified. In those cases, the API uses <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XR_NULL_HANDLE">XR_NULL_HANDLE</A>, which has the integer value <CODE>0</CODE>.</P></DIV></DIV>
<DIV class=sect4>
<H5 id=valid-usage-for-pointers><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-pointers"></A>Valid Usage for Pointers</H5>
<DIV class=paragraph>
<P>Any parameter that is a pointer <STRONG class=purple>must</STRONG> be a valid pointer when the specification indicates that the runtime uses the pointer. A pointer is valid if and only if it points at memory containing values of the number and type(s) expected by the function, and all fundamental types accessed through the pointer (e.g. as elements of an array or as members of a structure) satisfy the alignment requirements of the host processor.</P></DIV></DIV>
<DIV class=sect4>
<H5 id=valid-usage-for-enumerated-types><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-enumerated-types"></A>Valid Usage for Enumerated Types</H5>
<DIV class=paragraph>
<P>Any parameter of an enumerated type <STRONG class=purple>must</STRONG> be a valid enumerant for that type. An enumerant is valid if and only if the enumerant is defined as part of the enumerated type in question.</P></DIV></DIV>
<DIV class=sect4>
<H5 id=valid-usage-for-flags><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-flags"></A>Valid Usage for Flags</H5>
<DIV class=openblock>
<DIV class=content>
<DIV class=paragraph>
<P>A collection of flags is represented by a bitmask using the type <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrFlags64"><CODE>XrFlags64</CODE></A>:</P></DIV>
<DIV id=XrFlags64 class=paragraph>
<P></P></DIV>
<DIV class=listingblock>
<DIV class=content><PRE class="prettyprint highlight"><CODE data-lang="c++">typedef uint64_t XrFlags64;</CODE></PRE></DIV></DIV>
<DIV class=paragraph>
<P>Bitmasks are passed to many functions and structures to compactly represent options and are stored in memory defined by the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrFlags64"><CODE>XrFlags64</CODE></A> type. But the API does not use the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrFlags64"><CODE>XrFlags64</CODE></A> type directly. Instead, a <CODE>Xr*Flags</CODE> type is used which is an alias of the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrFlags64"><CODE>XrFlags64</CODE></A> type. The API also defines a set of constant bit definitions used to set the bitmasks.</P></DIV></DIV></DIV>
<DIV class=paragraph>
<P>Any <CODE>Xr*Flags</CODE> member or parameter used in the API <STRONG class=purple>must</STRONG> be a valid combination of bit flags. A valid combination is either zero or the bitwise <CODE>OR</CODE> of valid bit flags. A bit flag is valid if and only if:</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Bit Flag Validity</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>The bit flag is one of the constant bit definitions defined by the same <CODE>Xr*Flags</CODE> type as the <CODE>Xr*Flags</CODE> member or parameter. Valid flag values may also be defined by extensions.</P></LI>
<LI>
<P>The flag is allowed in the context in which it is being used. For example, in some cases, certain bit flags or combinations of bit flags are mutually exclusive.</P></LI></UL></DIV></DIV></DIV></DIV>
<DIV class=sect4>
<H5 id=valid-usage-for-structure-types><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-types"></A>Valid Usage for Structure Types</H5>
<DIV class=paragraph>
<P>Any parameter that is a structure containing a <CODE>type</CODE> member <STRONG class=purple>must</STRONG> have a value of <CODE>type</CODE> which is a valid <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#XrStructureType">XrStructureType</A> value matching the type of the structure. As a general rule, the name of this value is obtained by taking the structure name, stripping the leading <CODE>Xr</CODE>, prefixing each capital letter with an underscore, converting the entire resulting string to upper case, and prefixing it with <CODE>XR_TYPE_</CODE>.</P></DIV>
<DIV class=paragraph>
<P>The only exceptions to this rule are API and Operating System names which are converted in a way that produces a more readable value:</P></DIV>
<DIV class=sidebarblock>
<DIV class=content>
<DIV class=title>Structure Type Format Exceptions</DIV>
<DIV class=ulist>
<UL>
<LI>
<P>OpenGL &#8658; _OPENGL</P></LI>
<LI>
<P>OpenGLES &#8658; _OPENGL_ES</P></LI>
<LI>
<P>EGL &#8658; _EGL</P></LI>
<LI>
<P>D3D &#8658; _D3D</P></LI>
<LI>
<P>VULKAN &#8658; _VULKAN</P></LI></UL></DIV></DIV></DIV></DIV>
<DIV class=sect4>
<H5 id=valid-usage-for-structure-pointer-chains><A class=anchor href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#valid-usage-for-structure-pointer-chains"></A>Valid Usage for Structure Pointer Chains</H5>
<DIV class=paragraph>
<P>Any structure containing a <CODE>void*</CODE> <CODE>next</CODE> member <STRONG class=purple>must</STRONG> have a value of <CODE>next</CODE> that is either <CODE>NULL</CODE>, or points to a valid structure that also contains <CODE>type</CODE> and <CODE>next</CODE> member values. The set of structures connected by <CODE>next</CODE> pointers is referred to as a <CODE>next</CODE> chain.</P></DIV>
<DIV class=paragraph>
<P>In order to use a structure type defined by an extension in a <CODE>next</CODE> chain, the proper extension <STRONG class=purple>must</STRONG> have been previously enabled during <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#xrCreateInstance">xrCreateInstance</A>. A runtime <STRONG class=purple>must</STRONG> ignore all unrecognized structures in a <CODE>next</CODE> chain, including those associated with an extension that has not been enabled.</P></DIV>
<DIV class=paragraph>
<P>Some structures for use in a chain are described in the core OpenXR specification and are mentioned in the Member Descriptions. Any structure described in this document intended for use in a chain is mentioned in a "See also" list in the implicit valid usage of the structure they chain to. Most chained structures are associated with extensions, and are described in the base OpenXR Specification under the <A href="https://registry.khronos.org/OpenXR/specs/1.0/html/xrspec.html#extension-appendices-list">List of Extensions</A>. Vendor-specific extensions <STRONG class=purple>may</STRONG> be found there as well, or <STRONG class=purple>may</STRONG> only be available from the vendor&#8217;s website or internal document repositories.</P></DIV>
<DIV class=paragraph>
<P>Unless otherwise specified: Chained structs which are output structs <STRONG class=purple>may</STRONG> be modified by the runtime with the exception of the type and next fields. Upon return from any function, all type and next fields in the chain <STRONG class=purple>must</STRONG> be unmodified.</P></DIV>
<DIV class=sect5>