﻿<h2>Learn Japanese: A Ridiculously Detailed Guide</h2><br/>
<div id="readability-page-1" class="page"><div>
<main><blockquote>
  <p>I want to learn Japanese!</p>
</blockquote>

<p>If you follow the instructions in this over the top, step-by-step guide, you will reach your goal of Japanese fluency.</p>

<p>However, this journey is going to take a lot of effort and hard work on your part. Anyone who tells you learning a language is going to be easy is either misinformed or trying to sell you something. And eventually, after the honeymoon phase of learning wears off, progress feels slower. You burn out. Sh*t hits the fan. If you've ever tried learning something new, you know exactly what I'm talking about.</p>

<p>Instead, you need to do things the hard way (i.e. the correct way) right from the start.</p>

<blockquote>
  <p>Just because we're doing it right doesn't mean it has to be inefficient.</p>
</blockquote>

<p>This method for learning Japanese starts at the very beginning. I assume you have zero knowledge of the Japanese language and guide you through each step. I'll cover reading, writing, speaking, and listening. And we explain <em>what</em> you should use, when, and why.</p>

<p>This should be everything you need to progress, that way you don't use all of that fresh enthusiasm you're feeling on planning how to learn, and instead spend it on actual learning.</p>

<p>Make like those famous shoes and just do it.</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/japanese-books-133289ba.jpg" alt="Learning to read hiragana">
</figure>

<p>Our goal is to reach Japanese fluency as directly as possible. Unlike a teacher or a textbook, we have the freedom to be ruthless in the path we take to get there.</p>

<p>There are no tests or quizzes to take. You don't have to move at the speed of the slowest learner in your group. All you need to do is follow each step, do the work, and progress.</p>

<p>Just keep in mind that because of this, some steps may seem counterintuitive. They may even seem slow compared to other methods, but everything has been carefully selected to get you to the finish line faster and more efficiently. We'll talk more about that later.</p>

<p><strong>A bit of housekeeping first:</strong> This is a living document, meaning it will be updated from time to time. Check back, <a href="https://www.tofugu.com/newsletter/">subscribe to our email list</a>, or follow us on <a href="https://twitter.com/tofugu">Twitter</a> to know when these updates happen. And, if you already have experience with Japanese, I still recommend you give it a read. There's a good chance you'll find something important to help you on your own Japanese language journey.</p>

<h2 id="table-of-contents">Table of Contents</h2>
<ul id="markdown-toc">
  <li><a href="#zero-knowledge-of-japanese" id="markdown-toc-zero-knowledge-of-japanese">Zero Knowledge of Japanese</a>    <ul>
      <li><a href="#learn-to-read-hiragana" id="markdown-toc-learn-to-read-hiragana">Learn to Read Hiragana</a></li>
      <li><a href="#basic-japanese-pronunciation" id="markdown-toc-basic-japanese-pronunciation">Basic Japanese Pronunciation</a></li>
      <li><a href="#learning-to-type-hiragana-in-japanese" id="markdown-toc-learning-to-type-hiragana-in-japanese">Learning to Type Hiragana in Japanese</a></li>
      <li><a href="#understanding-the-concept-of-kanji" id="markdown-toc-understanding-the-concept-of-kanji">Understanding the Concept of "Kanji"</a></li>
      <li><a href="#beginning-kanji--stockpiling-kanji-knowledge" id="markdown-toc-beginning-kanji--stockpiling-kanji-knowledge">Beginning Kanji &amp; Stockpiling Kanji Knowledge</a></li>
      <li><a href="#learn-to-read-katakana" id="markdown-toc-learn-to-read-katakana">Learn to Read Katakana</a></li>
      <li><a href="#learning-to-type-katakana" id="markdown-toc-learning-to-type-katakana">Learning to Type Katakana</a></li>
      <li><a href="#learning-to-type-kanji" id="markdown-toc-learning-to-type-kanji">Learning to Type Kanji</a></li>
    </ul>
  </li>
  <li><a href="#the-beginner-of-japanese" id="markdown-toc-the-beginner-of-japanese">The Beginner of Japanese</a>    <ul>
      <li><a href="#using-a-spaced-repetition-system-for-vocabulary" id="markdown-toc-using-a-spaced-repetition-system-for-vocabulary">Using a Spaced Repetition System For Vocabulary</a>        <ul>
          <li><a href="#collecting-vocabulary" id="markdown-toc-collecting-vocabulary">1. Collecting Vocabulary</a></li>
          <li><a href="#processing" id="markdown-toc-processing">2. Processing</a></li>
          <li><a href="#adding-the-words-to-your-srs" id="markdown-toc-adding-the-words-to-your-srs">3. Adding the Words to Your SRS</a></li>
        </ul>
      </li>
      <li><a href="#beginning-japanese-grammar" id="markdown-toc-beginning-japanese-grammar">Beginning Japanese Grammar</a></li>
      <li><a href="#a-beginners-japanese-textbook--program" id="markdown-toc-a-beginners-japanese-textbook--program">A Beginner's Japanese Textbook / Program</a></li>
      <li><a href="#answering-your-japanese-language-questions" id="markdown-toc-answering-your-japanese-language-questions">Answering Your Japanese Language Questions</a></li>
      <li><a href="#alternative-learning-japanese-grammar-on-your-own" id="markdown-toc-alternative-learning-japanese-grammar-on-your-own">Alternative: Learning Japanese Grammar On Your Own</a>        <ul>
          <li><a href="#order-of-learning" id="markdown-toc-order-of-learning">Order of Learning</a></li>
          <li><a href="#fact-checking--cross-referencing" id="markdown-toc-fact-checking--cross-referencing">Fact Checking / Cross Referencing</a></li>
          <li><a href="#do-the-work" id="markdown-toc-do-the-work">Do the Work</a></li>
          <li><a href="#sometimes-youll-just-get-stuck" id="markdown-toc-sometimes-youll-just-get-stuck">Sometimes, You'll Just Get Stuck</a></li>
        </ul>
      </li>
      <li><a href="#optional-finding-a-japanese-language-tutor" id="markdown-toc-optional-finding-a-japanese-language-tutor">Optional: Finding A Japanese Language Tutor</a></li>
      <li><a href="#suggested-books-and-resources" id="markdown-toc-suggested-books-and-resources">Suggested Books and Resources</a></li>
    </ul>
  </li>
  <li><a href="#intermediate-level-japanese" id="markdown-toc-intermediate-level-japanese">Intermediate Level Japanese</a></li>
</ul>



<p>Welcome to learning Japanese! This section is for the true beginner. You know little-to-no Japanese. Maybe a "konnichiwa" here and a "baka" there. These first steps you take are especially important because they're going to set a foundation you can build off of.</p>

<p>The more deliberate your steps, the easier everything that follows will be.</p>

<p>Carefully completing this section is going to be necessary if you want to avoid the thing that takes down most learners: the intermediate wall. Instead, take your time on these foundational steps. What feels slow now is actually speed later on.</p>

<h2 id="learn-to-read-hiragana">Learn to Read Hiragana</h2>

<p><strong>Estimated Time:</strong> 1 day to 1 week</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/reading-hiragana-dc667116.jpg" alt="Learning to read hiragana">
</figure>

<p>Hiragana is Japan's version of the alphabet. It is one of three Japanese writing systems you need to learn to be able to read. The other two are katakana and kanji, but hiragana is where everything starts.</p>

<p>The ability to read hiragana is going to be a prerequisite for most beginner Japanese textbooks and resources. It's the first thing you learn in a traditional classroom. Surprisingly, I agree with everyone else. This is a good place to start.</p>

<p>Most Japanese classrooms spend an entire month learning how to read and write hiragana. That's too long! Instead of writing out each hiragana character over and over to memorize them, use the guide below and you may be reading hiragana later tonight. It uses mnemonics and worksheets that are designed to help you learn and be able to recall hiragana faster than you thought possible.</p>

<blockquote>
  <p>Do it: <strong><em><a href="https://www.tofugu.com/japanese/learn-hiragana/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Learn How to Read Hiragana</a></em></strong></p>
</blockquote>

<p>It's important to note that this guide is going to teach you how to <em>read</em> hiragana and not how to <em>write</em> it. This has a purpose! While it is important to learn how to hand write Japanese eventually, right now it will slow you down immensely with very little payoff. Typing covers 99% of modern day writing so you will learn how to <em>type</em> hiragana (and katakana and kanji) instead.</p>

<p>This, in combination with mnemonics and worksheets, will allow you to learn how to read hiragana in a day or two instead of a month.</p>

<blockquote>
  <p>Remember: You're not in a class. You don't have to move at the speed of the slowest 10%. <a href="https://sivers.org/kimo">There is no speed limit</a>.</p>
</blockquote>

<p>In order to complete this section and move on, you need to get to the point where you can read all of the hiragana. Even if you're slow, as long as you can recall each character, as well as the contractions, without cheating, that's enough. You're about to get plenty of practice and your reading speed will naturally increase over time as you move on.</p>

<p><strong>Note:</strong> Read "Japanese Pronunciation, Part 1" (below) before you start learning hiragana.</p>

<h2 id="basic-japanese-pronunciation">Basic Japanese Pronunciation</h2>

<p><strong>Estimated Time:</strong> n/a</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/basic-japanese-pronunciation-bcabbba3.jpg" alt="Learning to read hiragana">
</figure>

<p>Good pronunciation starts with hiragana. While hiragana alone won't teach you everything, it is the key to understanding how and why Japanese words sound the way they do. It will also help you get the foundation you need for a native-sounding accent. At the very least, hiragana will get you 80% of the way there.</p>

<p>For the remaining 20%, we wrote a guide covering the basics of Japanese pronunciation. Before you begin learning how to read hiragana, you should read up to the "Japanese Sounds and Your Mouth" section.</p>

<p>Once you've finished learning how to read hiragana, go though that section again, but this time read about "Important Differences" as well. This section will cover all of the sounds that don't exist in English, giving you a head start. Make sure you can pronounce all of the hiragana characters correctly before moving on.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/japanese-pronunciation/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Basic Japanese Pronunciation Guide</a></em></strong></p>
</blockquote>

<p>With pronunciation, it's best to put the time and work in now, at the beginning. Don't ignore it because it's hard. When things get more difficult, it's very important that you've spent time speaking and hearing these sounds so that you can learn about all the differences and exceptions headed your way.</p>

<p>Okay, now go ahead and get back to <a href="https://www.tofugu.com/japanese/learn-hiragana/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">learning how to read hiragana</a>. Get to the point where you can read and recall everything, then move on to the next section.</p>

<h2 id="learning-to-type-hiragana-in-japanese">Learning to Type Hiragana in Japanese</h2>

<p><strong>Estimated Time:</strong> 1-2 days (or less)<br>
<strong>Prerequisite:</strong> Able to read hiragana</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/typing-hiragana-bfaa6da5.jpg" alt="Learning to read hiragana">
</figure>

<p>Now that you can read and pronounce hiragana (remember, slowly is okay!) it's time to learn how to type it on your computer or smartphone.</p>

<p>First, you need to install a Japanese keyboard. Luckily, you don't have to buy a special piece of hardware or computer to do this thanks to a type of software called an IME (input method editor). You can add an IME onto almost any kind of computer, phone, or operating system. Just follow the instructions in this guide to add them to your devices:</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/how-to-install-japanese-keyboard/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">How to Install a Japanese Keyboard</a></em></strong></p>
</blockquote>

<p>After you&rsquo;re done installing, it&rsquo;s time to learn how to actually type. Use the following guide, and only focus on the hiragana portion (since that&rsquo;s all you know how to read right now):</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/how-to-type-in-japanese/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese#how-to-use-this-guide">How to Type in Japanese</a></em></strong></p>
</blockquote>

<p>Assuming you are able to read hiragana, typing in hiragana is surprisingly straightforward. Once you feel confident in your typing abilities, including trickier things like contractions, small tsu, and dakuten, move on to the next section. It's time to talk about the elephant in every Japanese learner's room: kanji.</p>

<h2 id="understanding-the-concept-of-kanji">Understanding the Concept of "Kanji"</h2>

<p><strong>Estimated Time:</strong> n/a</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/what-is-kanji-b939e1ad.jpg" alt="Learning to read hiragana">
</figure>

<p>In our Japanese learning method, you're going to learn to read kanji characters very early. As soon as you can read and type hiragana it's time to start tackling kanji.</p>

<p>Here is our reasoning:</p>

<ol>
  <li>
    <p>The most difficult thing about learning Japanese is kanji. At least, that's what people say. But trying to save it or brush it off until later isn't going to help you learn Japanese. Almost everything uses kanji, making it one of the most important aspects of learning this language. Your learning quality of life will drop drastically if you choose to ignore it.</p>
  </li>
  <li>
    <p>A lot of a beginner&rsquo;s time when using a textbook is spent looking up kanji and vocabulary. This takes your focus away from the grammar you're trying to learn and makes progression slow and frustrating. Learning (some) kanji and vocabulary first makes learning grammar a lot faster and, more importantly, easier. Think of it this way: you're losing a little time now to save a ton of time later.</p>
  </li>
  <li>
    <p>Kanji leads to vocabulary, vocabulary aids communication, and grammar is like the glue that holds vocabulary together. Without vocabulary there's nothing for the grammar glue to stick to and everything gets messy. It makes grammar abstract and difficult to learn, when it doesn't have to be.</p>
  </li>
  <li>
    <p>Like hiragana, we have a way for you to learn kanji that's way more effective than the traditional methodology (rote memorization). Thanks to that, it won't be as difficult as everyone says. It may even *gasp* be a pleasure to learn! Maybe.</p>
  </li>
</ol>

<p>This kanji-vocabulary-first route will get you to the point where you can <em>use</em> Japanese quickly. It feels slow at first, but soon you will rocket past your fellow Japanese learning compatriots. You'll also be able to get over that "intermediate wall" easier and quicker than if you were to use a traditional method. This lowers your chances of burnout and giving up all together.</p>

<p>If you're on board with this philosophy, you need to start at the very beginning: understanding what kanji is and how it's used. For that, we have another guide for you to read:</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/onyomi-kunyomi/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">On&rsquo;yomi vs. Kun&rsquo;yomi: What&rsquo;s the Difference?</a></em></strong></p>
</blockquote>

<p>Once you understand how Japanese kanji readings work, you&rsquo;ll be ready to learn some actual kanji.</p>

<h2 id="beginning-kanji--stockpiling-kanji-knowledge">Beginning Kanji &amp; Stockpiling Kanji Knowledge</h2>

<p><strong>Estimated Time:</strong> 1-3 months</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/kanji-beginner-ff4c3cc1.jpg" alt="Learning to read hiragana">
</figure>

<p><strong>Important note about this section:</strong> You should start to learn katakana (the next section) at the same time as this step. "Beginning Kanji &amp; Stockpiling Kanji Knowledge" will take 1-3 months. In fact, you can complete all of the steps up to "The Beginner of Japanese" while you work on this one!</p>

<p>Okay, so it's time to actually learn kanji. Let's define what "learn kanji" means before you get started. That way you know what is expected of you.</p>

<ul>
  <li>
    <p>When I say "learn kanji" I mean learn the kanji&rsquo;s most important (English) meaning(s), and their most important (Japanese) reading(s). As you know from reading about on'yomi and kun'yomi, some kanji have a lot of readings. And, unfortunately, English meanings are just translations and can't always match the Japanese meaning one-to-one. That means there can be many correct English <em>meanings</em> for a single kanji that you'll need to deal with. We'll narrow those down so you only learn the most important meanings and readings first&mdash;the ones used 80-90% of the time. The remaining meanings and readings will come via vocabulary and other practice.</p>
  </li>
  <li>
    <p>As you learn kanji you will also learn vocabulary that use those kanji. Not only will this help solidify those kanji concepts in your mind, but it will also be where you learn the remaining kanji readings. Plus, as you know, this vocabulary will be used to give you something to glue together with grammar later.</p>
  </li>
  <li>
    <p>By the end of this guide, your goal is to know around 2,000 of the most important kanji as well as 6-7000 vocabulary words that use them. With this groundwork you should be able to read almost anything&mdash;or at least have the tools to easily decipher the rest on your own.</p>
  </li>
</ul>

<p>Your goal should be to learn 20-30 kanji and ~100 vocabulary words that use those kanji (and only those kanji) each week. If that seems like a lot, don't worry: there is a method for memorization that will speed things up considerably. Please read up on the Radicals Mnemonic Method. As a bonus, you will learn some important foundational knowledge about how kanji works in here as well.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/kanji-radicals-mnemonic-method/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Learn kanji with the radicals mnemonic method</a></em></strong></p>
</blockquote>

<p>In this guide you will learn how to narrow down kanji meanings and readings to the most important ones. You will learn how to use radicals and mnemonics and how to create an effective routine.</p>

<p>You should be able to use these techniques to create a weekly study plan on your own for free, as long as you put in the work. But, if you would like all of the above (and then some) in one, complete package, we recommend <a href="https://www.wanikani.com?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese%20Beginning%20Kanji%20Section">the kanji learning program,  WaniKani</a>.</p>

<p>We'll be referencing it going forward, but just know that creating your own content and schedule is totally fine and doable. You'll just need to make sure you maintain your pace to keep up. Or, for some of you, make sure you slow down so you don't burn out!</p>

<p>Once you begin learning vocabulary in WaniKani (or your own system) read the Basic Japanese Pronunciation Guide from the <a href="https://www.tofugu.com/japanese/japanese-pronunciation/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese%20Beginning%20Kanji%20Section#pronouncing-vocabulary">Pronouncing Vocabulary section</a> all the way through to the end. You will learn about long and short vowel sounds, double consonants, dropping sounds (all common stumbling blocks for beginners), and more. You will also learn about pitch accent. Although it may be difficult now, just knowing pitch accent exists and how it works in Japanese will give you a leg up.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/japanese-pronunciation/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese%20Beginning%20Kanji%20Section#pronouncing-vocabulary">Basic Japanese Pronunciation Guide</a></em></strong></p>
</blockquote>

<p>Okay! Make sure you get started now. Do the work, don't just plan to do it! Sitting down and starting is the hardest part.</p>

<h2 id="learn-to-read-katakana">Learn to Read Katakana</h2>

<p><strong>Estimated Time:</strong> 2 days to 2 weeks<br>
<strong>Prerequisite:</strong> Able to read hiragana</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/reading-katakana-f80dad51.jpg" alt="Learning how to read katakana">
</figure>

<p>Learning katakana is about the same as learning hiragana, with a few Shyamalanian twists. We have yet another mnemonic-based guide for you, and chances are you'll be able to read katakana within the next few days if you're willing to put in the work.</p>

<p>You should get to the point where you can read all of the katakana, however slowly, by the time you start unlocking vocabulary in WaniKani (or by the time you start vocabulary in your own kanji method). Although katakana words won't show up a lot right from the start, there are enough to make it worthwhile. It's also a good way to spend your extra time while the number of kanji you're learning is still quite low.</p>

<blockquote>
  <p>Do it: <strong><em><a href="https://www.tofugu.com/japanese/learn-katakana/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Learn to Read Katakana</a></em></strong></p>
</blockquote>

<p><strong>Note:</strong> Katakana tends to give learners more trouble than hiragana. This is because it seems to be used less than hiragana and kanji, especially at the beginning stages. Later on, katakana will appear more frequently, but for now simply being able to read katakana is enough. There will be plenty of opportunities to get better at it&mdash;just know that reading katakana may not come as quickly as it did with hiragana. And that's okay. Hiragana and kanji are just more useful right now, so spend your limited time and energy there.</p>

<p>Once you can read each katakana character&mdash;no matter how slowly&mdash;move on to the next section about typing katakana.</p>

<h2 id="learning-to-type-katakana">Learning to Type Katakana</h2>

<p><strong>Estimated Time:</strong> 1-2 hours <br>
<strong>Prerequisites:</strong> Able to type hiragana, able to read katakana</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/typing-katakana-b3abd9bb.jpg" alt="Learning how to type katakana with your keyboard">
</figure>

<p>Katakana is similar to hiragana in many ways, and thanks to this, learning how to type it should be fairly easy. There are a few differences to figure out, but you will be able to apply your hiragana knowledge to it and progress quickly. Jump to the katakana section of our typing guide and get started.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/how-to-type-in-japanese/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese#katakana">How to Type Katakana</a></em></strong></p>
</blockquote>

<p><strong>Note:</strong> Make sure you keep working on your kanji! If you&rsquo;re using WaniKani, just do your reviews as they become available. It's important to make this a habit. Because WaniKani is a <a href="https://www.tofugu.com/japanese/spaced-repetition/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">spaced repetition system</a> there must be spaces between reviews. Longer and longer ones, in fact (though it will depend on how well you're doing). Do your reviews on time and you&rsquo;ll get through this initial "slow" phase in a week or two. That's a drop in the bucket compared to your entire Japanese-learning career, so try to be patient. The waiting time is critical to testing your ability to recall information.</p>

<h2 id="learning-to-type-kanji">Learning to Type Kanji</h2>

<p><strong>Estimated Time:</strong> 1-2 hours <br>
<strong>Prerequisite:</strong> Able to read 20-30 kanji</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/typing-kanji-542dee34.jpg" alt="Learning how to type kanji on your keyboard">
</figure>

<p>Before starting this step, make sure you can read a handful of kanji. Twenty or thirty will do just fine. If you're using WaniKani, this is when you start unlocking vocabulary or are around level 2.</p>

<p>Okay, are you done?</p>

<p>Typing in kanji is a little more complicated than typing in hiragana or katakana, but it still follows similar rules. Learn how to type in kanji using the kanji section of our guide then read to the end. There are some additional tips and tricks in there (punctuation, symbols, etc.) that may come in handy.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/how-to-type-in-japanese/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese#convert-to-kanji">How to type kanji</a></em></strong></p>
</blockquote>

<p>Now you know how to type everything there is to type in Japanese (that is, <a href="https://www.tofugu.com/japanese/kaomoji/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">unless you count kaomoji</a>)! If you can type in English, typing in Japanese is surprisingly easy. With practice, you'll be able to type it as naturally as you type in your native language.</p>

<p>To continue using this typing knowledge, you'll need to know more kanji and vocabulary. Once you get there though, you'll be ready for "The Beginner of Japanese" section!</p>

<p>Before moving on, you should reach level 10 on WaniKani (or around 300 kanji and 1,000 vocabulary words using your own method).</p>

<p>This is an important time in terms of pronunciation too. Make sure you consciously mimic the vocabulary audio. Think about pitch accent as you do it. This work will prepare you for sentences later.</p>

<p>With this kanji knowledge (and good pronunciation, to boot!), grammar is going to come quickly to you. You won't be spending your grammar study time looking up every other word. Instead, you'll be able to focus solely on grammar, and you'll know the contents of 80% of every sentence you see for the first time. When you say these sentences out loud, you won't be tripping over your tongue because you'll already be intimately familiar with Japanese sounds and pronunciation. The time you put into kanji, vocabulary, and pronunciation will begin to pay off.</p>

<blockquote>
  <p>Put your head down, trust in this, and do the work each day.</p>
</blockquote>

<p>Go on, get to it, and come back here when you're done.</p>

<hr>



<p>Being a beginner of anything is great. Everything is new, everything feels like real, tangible progress, and even if you're bad at something, you can't really tell because you don't know enough yet anyway.</p>

<blockquote>
  <p>Enjoy it while it lasts.</p>
</blockquote>

<p>At this point, you have a strong base of kanji and vocabulary. If you are using <a href="https://www.wanikani.com?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese%20Beginner%20Section">WaniKani</a>, you should be at level 10 or above. If you are doing kanji on your own, or using another resource, you should know the most common meaning and reading of around 300 kanji and 1,000 vocabulary words. If you are using a resource that only teaches you the meaning of a kanji (and not how to read it), <em>that doesn't count</em>. You need to be able to do the whole thing, not just the easiest 20%.</p>

<p>With this assumption about your knowledge in place, we're going to go through some options for how you can learn Japanese grammar. This includes using a textbook as well as creating your own grammar program from scratch. We offer some of our own material as well. Most likely, you'll end up doing a hybrid of the above. No matter what you choose, your foundation of kanji, vocabulary, and pronunciation will make everything much easier. Without it, even the best Japanese textbook will be a frustrating experience.</p>

<h2 id="using-a-spaced-repetition-system-for-vocabulary">Using a Spaced Repetition System For Vocabulary</h2>

<p><strong>Estimated Time:</strong> 2-4 hours + ongoing</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/kanji-knowledge-2c57ec43.jpg" alt="Increasing your kanji knowledge">
</figure>

<p>You will learn a lot of vocabulary purely from your kanji studies. As long as you have a good kanji system in place, you shouldn't worry too much. However, you will definitely need to learn all of the words that do not use kanji too. In the beginning, this will largely be grammatical things, and words that don't use kanji, from your textbook. Later it will be vocabulary you pick up from signs, manga, and other real life sources.</p>

<p>It's time to learn how and when to introduce vocabulary words from outside your kanji studies into your study routine. The most important thing is to have a good <em>system</em> in place.</p>

<p>You need to be able to record and store these words so that you can study them later. You also need a good system to handle and process these words. It's a waste if you record them once and never look at them again.</p>

<p>At your currently level, most of the new words you encounter will probably be hiragana or katakana-only words. Once you start reading more and more Japanese, the number of new words you encounter will increase, so being able to keep track and add these to your routine becomes even more important. For now though, your goal is to develop a habit of collecting, processing, and studying vocabulary that is unfamiliar to you. This should become second nature.</p>

<h3 id="collecting-vocabulary">1. Collecting Vocabulary</h3>

<p>Most likely, you will find most of the vocabulary that you want to learn in your Japanese textbook (we'll cover that really soon!). As I mentioned earlier, these might be words that don't have kanji, or maybe they're words that you didn't learn in WaniKani. There are a lot of words out there and no one resource will teach you all of them.</p>

<p>Once you've found some words that you want to learn you need to collect them. How you do this doesn't matter as much as actually doing it. Put them in a spreadsheet, a tool like Evernote or OneNote, or just write them down on a piece of paper. Make sure wherever you put these new words is easily accessible and make a trigger for yourself that essentially says "<strong>if</strong> I see a vocabulary word I want to learn, <strong>then</strong> I add it to my list."</p>

<p>There are plenty of list-apps and pieces of paper out there, so it's going to be difficult for me to say what you should use. I'm partial to Evernote and have my own processes built up there. And Airtable is a great spreadsheet app for people who don't think in math. But maybe you like physical pocket-sized notebooks, to-do lists, your smartphone camera (with a special folder for future processing), or something else.</p>

<p>Whatever you use, make sure it's easy for <em>you</em>. Figure out what makes sense and make it work. If this step doesn't happen, everything else will fall apart.</p>

<h3 id="processing">2. Processing</h3>

<p>The next step is processing. I'd recommend you create a habit where every day, week, or month (it depends on how much new vocabulary you want to introduce to your routine) you go through this list and put them into your SRS of choice. What is an SRS? I'm glad you asked.</p>

<h3 id="adding-the-words-to-your-srs">3. Adding the Words to Your SRS</h3>

<p>If you've been using WaniKani, you've been using a "Spaced Repetition System" (a.k.a. SRS) this whole time! But you'll want to use something else for the vocabulary you find out in the wild. For this, we wrote a guide. In it you'll learn how to collect vocabulary and add them to your SRS.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/spaced-repetition/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Spaced Repetition and Japanese: The Definitive Guide</a></em></strong></p>
</blockquote>

<p>One additional piece of reading I'd recommend is this article on Keyword Mnemonics. For the non-kanji vocabulary you want to learn this is a surprisingly simple (and effective) mnemonic method which will allow you to learn more vocabulary in one sitting, and be able to recall it for longer.</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/keyword-mnemonic-method/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Keyword Mnemonic Method for Learning Japanese Vocabulary</a></em></strong></p>
</blockquote>

<p>As I said earlier, you won't be working with a ton of vocabulary at the start. For now, let your kanji studies give you most of your vocabulary. Then, when stray street vocabulary <em>does</em> start coming up, send it through the vocabulary process you've built.</p>

<p>Make this a habit.</p>

<p>Habit generally means 3-6 weeks of doing something regularly. And you should start now, because in six weeks you'll be needing to utilize this habit a lot more.</p>

<h2 id="beginning-japanese-grammar">Beginning Japanese Grammar</h2>

<p><strong>Estimated Time:</strong> It's a mystery</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/basic-japanese-pronunciation-2-91cbac0a.jpg" alt="Learning how to pronounce Japanese vocabulary">
</figure>

<p>It&rsquo;s (finally!) time to start learning grammar. If you followed this guide to the letter, you&rsquo;re probably 2-4+ months into your Japanese studies. If it's more than that, don't worry about it. We all go at our own speeds and the important thing is that you kept moving forward. You should know around 300 kanji and 1,000 Japanese vocabulary words, and your pronunciation should be getting better, or at least you're being conscious about improving it. Now it&rsquo;s time to kick Japanese grammar's butt.</p>

<p>Let's start by internalizing a philosophy. Carry this with you for the rest of your life:</p>

<blockquote>
  <p>When learning something new, you should already know 80% of it.</p>
</blockquote>

<p>This means that each new thing you learn should be a 20% (or smaller) incremental step. A +1 from where you are, rather than a +20 or +100.</p>

<p>Most people go into a textbook with zero knowledge and wind up spending a large chunk of their time looking up words they don't know. How much of a sentence is vocabulary? Depending on the length, it's easy to answer "more than 80%."</p>

<p>So when you're learning grammar with a textbook, coming into it with prior vocabulary knowledge brings you to that 80%. Leaving you just the grammar, which you can then point your laser-like focus towards. Instead of constantly flipping to the index to look up a word or kanji and deal with <a href="https://blog.trello.com/why-context-switching-ruins-productivity?utm_source=Tofugu">context switching</a> when you finally get back to the lesson, all you have to worry about is learning the grammar and nothing else.</p>

<p>That's the +1 we're talking about.</p>

<p>Let's assume for a moment that your Japanese vocabulary knowledge doesn't get you to 80% (or more). If that's the case, there are a few possible reasons:</p>

<ul>
  <li>
    <p><strong>You don't know enough vocabulary:</strong> If you don't know a lot of the words in a sentence before studying with it, then you don't understand 80% of the sentence before you start. In this case, go back to your kanji/vocabulary studies for a while and reconsider the level of the resource you're using. Another solution would be to pull the vocabulary from the resource, study them with your SRS method, and then come back once you've learned them.</p>
  </li>
  <li>
    <p><strong>You don't know enough grammar:</strong> Imagine you're looking at a sentence that contains three separate grammar points. If you're being taught one of the three, but you don't know the other two, you're dipping way below that ideal 80%.</p>
  </li>
  <li>
    <p><strong>The sentence is very short:</strong> If a phrase only has three parts (ex. "[vocabulary] + [particle] + [vocabulary]"), and you don't know one of them, you're going to be at 66%. In cases like this, you can make an exception. Knowing 66% of a three piece phrase, or 75% of a four piece phrase is acceptable. This will be very common in the beginning.</p>
  </li>
</ul>

<p>That's the philosophy we're working off of going forward, so double-check that you have that base of kanji and vocab before continuing with this guide. Your failure rate increases dramatically if this foundation is weak!</p>

<h2 id="a-beginners-japanese-textbook--program">A Beginner's Japanese Textbook / Program</h2>

<p><strong>Estimated Time:</strong> 1-3 months</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/beginner-textbook-9ff49857.jpg" alt="A student wondering what Japanese textbook they should use">
</figure>

<p>It's time to take our philosophy and apply it to a beginner textbook. All the things that would have normally tripped you up (the things teachers and textbooks have a tough time explaining, due to the <a href="https://en.wikipedia.org/wiki/Curse_of_knowledge">curse of knowledge</a>) should now be less difficult to deal with. And with kanji and vocabulary already in your tool belt, learning grammar should be much more interesting. You won't be spending 90% of your time and energy on looking up kanji and vocabulary you don't know. Instead, you'll just be doing it.</p>

<p>With this base knowledge, choosing a specific textbook or program to follow becomes less important, but there are still many "good" textbooks and many "bad" textbooks out there. Most will teach you the same content one way or another, so pick one that you feel fits your learning style.</p>

<p>To help you with this choice, we wrote a guide:</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/beginner-japanese-textbook/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">The Best Japanese Textbooks for Beginners</a></em></strong></p>
</blockquote>

<p>Whatever you end up choosing, get started right away. It's so easy for people to get trapped in a "preparation loop" where they spend all of their time planning and getting ready, only to stop before any actual work gets done.</p>

<p>At this point you will focus on working through your textbook of choice. Try to progress through the entire thing from beginning to end. Doing this will create a strong foundation of Japanese inside of you, something you can use to base other knowledge off of.</p>

<p>Once all of the basic, foundational grammar is in place you'll be able to really accelerate and work toward fluency.</p>

<p>It will take around 2-6 months to get through most beginner Japanese textbooks. Though, this does depend on how much time you have to spend on your studies and what grammar method you choose. You can even go through a couple different textbooks at the same time, if you want. What one textbook doesn't teach well, another probably does. That being said, if you don't feel like you understand a concept, or you want to know more, there's plenty of ways to get your questions answered. I recommend not skipping questions&mdash;instead, follow your curiosity! Learning is supposed to be fun, though school may have "taught" you otherwise.</p>

<!--This is where we'll be putting our own Japanese lessons for beginners to work through later-->

<p>Read the next section as you start your textbook studies. You'll eventually run into something you don't know that your textbook doesn't explain. You might as well be ready for it.</p>

<h2 id="answering-your-japanese-language-questions">Answering Your Japanese Language Questions</h2>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/japanese-questions-0a818585.jpg" alt="Answering questions about Japanese">
</figure>

<p>As you're going through your textbook, you're going to run into things you don't understand. Or, you'll find you don't know 80% anymore. It's not necessarily a failure of your textbook, it's just that many of them were designed for teachers to use in a classroom. They expect someone to be there to answer questions for you. Or, there just isn't enough paper in the world to cover everything.</p>

<p>Not to worry. When you run into something you don't understand you can look it up. No matter what kind of question you're asking or answer you're searching for, we wrote up a guide that will tell you how to find <em>anything</em> Japanese language related:</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/answering-japanese-learning-questions/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">How to Answer your Japanese Language Questions</a></em></strong></p>
</blockquote>

<p><strong>Note:</strong> You should continue to use WaniKani (or whatever kanji learning method you chose) as you continue on. You should keep going until you finish, and/or you reach the end of this guide. It is important to keep your kanji-vocabulary knowledge ahead of your grammar knowledge at all times. If you don't, that 80% ratio will tick down until your studies no longer feel sustainable or fun.</p>

<h2 id="alternative-learning-japanese-grammar-on-your-own">Alternative: Learning Japanese Grammar On Your Own</h2>

<p><strong>Estimated Time:</strong> 1-3 months</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/japanese-grammar-544b963d.jpg" alt="A student studying Japanese grammar online">
</figure>

<p>By gathering all that kanji and vocabulary knowledge you&rsquo;re making it <em>possible</em> to learn grammar on your own. Learning grammar is easy comparatively. That being said, if you decide not to use a Japanese textbook as your main resource, there are some things you'll want to consider:</p>

<h3 id="order-of-learning">Order of Learning</h3>

<p>This is a topic we'll be writing a big guide on. But, it's quite complicated so I haven't gotten around to it yet. We'll fill in this section with that guide in the near future, but for now don't use my slowness as an excuse. Just get started. If you do, ordering will, for the most part, naturally fall into place if you follow the "know 80% of all new things" philosophy.</p>

<!--Order of learning guide will go in here-->

<h3 id="fact-checking--cross-referencing">Fact Checking / Cross Referencing</h3>

<p>Don't just trust any ol' thing you read on the internet. The same goes for textbooks and teachers, too. When you learn a new piece of Japanese grammar, make sure to read explanations from multiple sources. Some will be complicated with hard linguistic language while others will be overly simplified. And a few here and there will be just right! Making a habit out of using multiple explanations and resources for one thing will feel like it's slowing you down at first, but it's much faster overall. We'll list some really good reference books at the end of the Beginning Japanese section, so make sure to take a look.</p>

<h3 id="do-the-work">Do the Work</h3>

<p>If you're studying Japanese grammar on your own, it's even more important to <strong>do the work</strong>. It's not hard to study and use what you've learned. It's hard to sit down and <em>start</em>. Even more so than a class or textbook, you'll need to make sure you actually sit down and make progress. Measurable progress, preferably, though you'll have to figure out just how to measure it.</p>

<p>With a textbook, you can just say, "I could answer all the questions," or, "I made it through twelve pages this week." Doing grammar on your own makes it harder to see and feel yourself moving forward. You are, but it's a bit hidden.</p>

<h3 id="sometimes-youll-just-get-stuck">Sometimes, You'll Just Get Stuck</h3>

<p>If this is happening a lot&mdash;and no amount of research gets you through it&mdash;you might want to consider finding a professional to help. Speaking of professionals&hellip;</p>

<h2 id="optional-finding-a-japanese-language-tutor">Optional: Finding A Japanese Language Tutor</h2>

<p><strong>Estimated Time:</strong> n/a</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/japanese-teacher-285384dc.jpg" alt="A Japanese teacher and her student">
</figure>

<p>This may be the time to consider finding a Japanese language tutor, especially if you feel like you're not able to answer your questions about Japanese on your own. With a foundation of kanji and vocabulary already in place, you will be able to focus on the things that a tutor can help you with the most: speaking, listening, and answering questions.</p>

<p>Keep in mind that focusing on kanji and vocabulary with a tutor tends to be a poor use of this time. Most teachers don't have any idea how to teach kanji (it's just, "go learn these kanji and vocab by next week") and many tutors try to promote rote memorization because that's how they learned as a child.</p>

<p>When using a tutor it's important to focus on things <em>only</em> a tutor will be able to help you with. Those include their ability to speak, think, and explain nuances that haven't been written about or studied (yet).</p>

<p>You're not required to get a tutor or a teacher at this point, but if you were really looking forward to this part, now is the appropriate time to do it. Everything from here on out won't rely on your having access to a teacher, tutor, or native speaker, so you can still progress without needing to complete this step.</p>

<h2 id="suggested-books-and-resources">Suggested Books and Resources</h2>

<p><strong>Estimated Time:</strong> n/a</p>

<figure>
<img src="https://www.tofugu.com/images/learn-japanese/japanese-reference-books-2d0ee063.jpg" alt="A student reading Japanese reference books">
</figure>

<p>As you're moving along, there's always going to be more to learn. Don't be afraid to stop moving forward to indulge your curiosity. These "slowdowns" will speed you up as you strengthen past knowledge and make connections between them.</p>

<p>For times like this, reference books are quite good. If you're only going to buy one, I'd recommend the "Basic" book from the <a href="https://www.tofugu.com/reviews/dictionary-of-basic-japanese-grammar/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese">Dictionary of Japanese Grammar series</a>. It is the best Japanese language reference book out there, in my opinion.</p>

<p>Other than that, look through the "Reference Books" section of our Beginner Japanese Textbooks, Reference Books, and Dictionaries article. There are quite a few good ones!</p>

<blockquote>
  <p>Read: <strong><em><a href="https://www.tofugu.com/japanese/beginner-japanese-textbook/?utm_source=Tofugu&amp;utm_medium=Article&amp;utm_campaign=Learn%20Japanese#reference-books">The Best Japanese Reference Books &amp; Dictionaries</a></em></strong></p>
</blockquote>

<p><strong>Note:</strong> With any skill, it's important that you focus on the things you're worst at. "Raise the floor, not the ceiling," so to speak. If you do that, you'll find everything else gets elevated, and you'll be less frustrated overall. You'll have more data to reference in your brain as more unknown ideas and concepts pop up. For example, if you're bad at verbs, pick up The Handbook of Japanese Verbs and just read through it. It might take you an afternoon, but every verb you see from that day on won't be a detriment to your progress. Instead, it will positively affect all other aspects of your Japanese.</p>

<blockquote>
  <p>Raise the floor, because no matter how high your ceiling, you'll still be down on the ground.</p>
</blockquote>

<hr>



<p>The "intermediate" level of Japanese is by far the worst. Most of the people who ultimately give up on learning do it here (assuming they made it past the first few weeks).</p>

<p>Available resources begin to dry up, in both number and quality, and learners get stuck or plateau. Without guidance, it can feel like progressing is an impossible task.</p>

<p>This is the intermediate wall.</p>

<p>The thing that makes the intermediate level the hardest, though, is what got you here: your competence.</p>

<p>The beginner section was your <em>unconscious incompetence</em> stage. That is, you didn't realize you were incompetent, so you never felt discouraged, overly embarrassed, or stupid. But now you know a thing or two, and it's just enough to know you're not actually amazing at this thing called the Japanese language. It hurts and it's because you are now <em>consciously</em> incompetent, which is no fun at all.</p>

<p>Thankfully, a lot of the pain most learners feel at this stage comes from poor learning or teaching methods from the beginner stages. Things that you, hopefully, avoided. And although everyone will experience conscious incompetence to some degree, some people can get through it quickly and some get trapped here for years. Most, unfortunately, can't make it through at all and give up.</p>

<p>Be the type of person that gets through this stage quickly.</p>

<p>The other side of this wall is extremely fun and rewarding, so don't give up and don't let your conscious incompetence get you down.</p>

<p>Here's how you do it:</p>

<ol>
  <li>
    <p>Recognize this stage exists and know that you're <em>supposed</em> to feel these uncomfortable feelings. This helps a surprising amount. You don't have to feel dumb because you know that everyone goes through this exact same situation. It's all a part of the process and if other people made it out, you can too.</p>
  </li>
  <li>
    <p>You've already been preparing for this moment. This guide has prepped you to get through this fairly quickly. You're at an advantage! Most people wallow in the conscious incompetence stage for a long time because they lack two things: kanji and vocabulary. But by this point, you know more kanji and vocabulary than any intermediate level Japanese language student ought to. This is why you spent so much time on WaniKani (or one of its alternatives). It slows you down in the beginning so that you can blast through this wall.</p>
  </li>
</ol>

<p>With all that in mind, it&rsquo;s time to start on some intermediate material. Make sure you are good on 100% of the previous sections before moving on. This is, by far, the most difficult portion of your Japanese education. You must have a good foundation to jump off of. When you're ready, you can start browsing our <a href="https://www.tofugu.com/japanese/">Japanese articles</a> and <a href="https://www.tofugu.com/japanese-grammar/">Grammar pages</a>. Good luck! &#55357;&#56490;&#55356;&#57339;</p>
</main>
</div></div>
<span />