<H2>Design in Strength of Materials: Metal Manufacturing: Joining and Assembly Processes</H2><BR>
<DIV id=readability-page-1 class=page>
<DIV id=content><!-- =========================== Begin content ============================= -->
<H2>Welding</H2>
<P>In the welding process, two or more parts are heated and melted or forced together, causing the joined parts to function as one. In some welding methods a filler material is added to make the merging of the materials easier. There are many different types of welding operations, such as the various arc welding, resistance welding and oxyfuel gas welding methods. These will not be covered in this introduction, however.</P>
<H2>Brazing</H2>
<P>During the brazing process a filler metal is melted and distributed in between multiple solid metal components after they have been heated to the proper temperature. The filler metal must have a melting point that is above 840 degrees Fahrenheit but below the melting point of the base metals and the metal must also have high fluidity and wettability. No melting of the base metals occurs during brazing.</P>
<H2>Soldering</H2>
<P>Soldering is similar to brazing; the only real difference being that in soldering the melting point of the filler metal is below 840 degrees Fahrenheit. Again, no melting of the base metals occurs, but the filler metal wets and combines with the base metals to form a metallurgical bond.</P>
<H2>Adhesive Bonding</H2>
<P>In adhesive bonding a filler material, called an adhesive, is used to hold multiple closely spaced parts together through surface attachment. The adhesive is a nonmetallic substance; often it is a polymer.</P>
<H2>Mechanical Assembly</H2>
<P>Various fastening methods are used in mechanical assembly to mechanically attach two or more parts together. Usually fasteners are used, being added on during the assembly operation. Sometimes, however, fastening involves the shaping of one of the components being assembled without the need of separate fasteners. Mechanical fastening can be divided into methods that allow for easy disassembly, threaded fasteners, and those that do not, rivets. </P><!-- =========================== End content ============================= -->
<DIV>
<HR>

<P>&#169; Copyright 1995-2022 &#8212; All rights reserved.<BR>Pennsylvania State University<BR>Department of Engineering Science and Mechanics<BR>Send comments about this site to: <A href="mailto:webmaster@esm.psu.edu">webmaster@esm.psu.edu</A></P>
<HR>

<P><A href="http://www.esm.psu.edu/nondisc_statement.htm">Penn State is committed to affirmative action,<BR>equal opportunity, and the diversity of its workforce.</A></P>
<P>This publication is available on alternative media on request.</P></DIV></DIV></DIV><SPAN>