﻿<DIV id=pdf-element-title>Comparing Two Samples.pdf</DIV>
<DIV id=pdf-element-filename>Comparing Two Samples.pdf</DIV>
<DIV id=pdf-element-data>eyJCTSI6MjIzLCJTUCI6LTEsIkVQIjotMSwiU0kiOi0xLCJFSSI6LTEsIlBERkUiOltdLCJTTUUiOltdLCJTTUlFIjpbXSwiSUgiOltdLCJSUGciOjAsIlJQdCI6IjAsMCIsIkVGIjoxLCJQREZFeHRyYWN0UHJpb3JpdHkiOjAuMCwiU01FeHRyYWN0UHJpb3JpdHkiOjAuMCwiVk0iOjAsIlBNIjo0LCJQTUUiOnRydWUsIloiOjEuMH0=</DIV>
<span />