<SPAN class=cloze>[...] (What theorem is this?)</SPAN>: 
<P>Given that a &amp; b are real numbers, if . . . 
<P>&nbsp;--&nbsp; f (x) is differentiable @ (a,b) 
<P>&nbsp;--&nbsp; f (x) is continuous @ [a,b] 
<P>. . . then there must exist at least one real number c in (a,b) 
<P>where f '(c) = ( f (b) - f (a) ) / (b - a)