L'Hospital's Rule: 
<P><SPAN class=extract>L'Hospital's rule is used for evaluating limits&nbsp;involving indeterminate forms. </SPAN>
<P><SPAN class=extract>The indeterminate forms in L'Hospitals rule&nbsp;include 0/0 and infinity/infinity. </SPAN>
<P><SPAN class=extract>L'Hosptial's rule works with 0 * infinity if it is rewritten. </SPAN></P><SPAN class=extract>
<P>0 * infinity should be rewritten&nbsp;as 0/0 or infinity/infinity to fit L'Hospital's rule.</P></SPAN>