<SPAN>Mean Value Theorem</SPAN>: 
<P>Given that a &amp; b are real numbers, if . . . 
<P>&nbsp;--&nbsp; f (x) is <SPAN class=cloze>[...]</SPAN> @ (a,b) 
<P>&nbsp;--&nbsp; f (x) is&nbsp; . . .&nbsp;&nbsp;@ [a,b] 
<P>. . . then there must exist at least one real number c in (a,b) 
<P>with f '(c) = ( f (b) - f (a) ) / (b - a)