<SPAN>Mean Value Theorem</SPAN>: 
<P>Given that a &amp; b are real numbers, if . . . 
<P>&nbsp;--&nbsp; f (x) is <SPAN>differentiable</SPAN> @&nbsp;. . . .&nbsp;
<P>&nbsp;--&nbsp; f (x) is <SPAN>continuous</SPAN> @ <SPAN class=cloze>[...]</SPAN> 
<P>. . . then there must exist at least one real number c in (a,b) 
<P>where f '(c) = ( f (b) - f (a) ) / (b - a)